{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load user_extras %}
{% load spam_extras %}
{% load i18n %}

{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/timestampadd.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/carets.css" />
{% endblock %}

{% block title %}
    <title>{% trans "TimeStampAddList" %}</title>
{% endblock title %}

{% block content %}
<h3>{% blocktrans %}TimeStamp Add ({{ project_title }}){% endblocktrans %}</h3>
<div id="timestamp-form">
    <div class="row">
        <div class="col-xl-8 col-lg-10 col-sm-12">
            <form>
               {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">{% trans "Start Date" %}</div>
                            <input id="startDateFilter" type="text" placeholder="YYYY-MM-DD" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">{% trans "End Date" %}</div>
                            <input id="endDateFilter" type="text" placeholder="YYYY-MM-DD" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon">{% trans "User" %}</div>
                            <select id="userFilterSelect" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" id="applyFiltersButton">{% trans "Apply" %}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-12" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col-sm-7">
                    <span>
                        <button type="button" class="btn btn-success" id="btn-verify" {% if not async_task.ready %}disabled="disabled"{% endif %}>{% trans "Verify" %}</button>
                        <button type="button" class="btn btn-success" id="btn-addtimestamp" {% if not async_task.ready %}disabled="disabled"{% endif %}>{% trans "Request Trusted Timestamp" %}</button>
                        <button type="button" class="btn btn-default" id="btn-cancel" {% if async_task.ready %}disabled="disabled"{% endif %}>{% trans "Cancel" %}</button>
                    </span>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
    <div class="row" id="loading-row" style="{% if async_task.ready %}display: none;{% endif %}">
        <div class="col-xs-12">
            <div class="spinner-loading-wrapper">
                <p class="m-t-sm fg-load-message" id="loading-message">{% trans "Processing, please wait..." %}</p>
                <div class="logo-spin logo-lg"></div>
            </div>
        </div>
    </div>
    <div class="row" style="display: none;">
        <!--
            Same block as in web, but as the styling here is different,
            we permanently hide it. The clicks on the visible pagination
            elements are redirected to these hidden elements.
            List.js don't generate page navigation as it was requested,
            that's why we're doing this.
        -->
        <div class="col-sm-8">
            <ul class="pagination-wrap" style="display: none;">
                <li class="pagination-prev">
                    <a class="page">&#060;</a>
                </li>
                <ul class="listjs-pagination"></ul>
                <li class="pagination-next">
                    <a class="page">&#062;</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2">
            <label class="pull-right" style="margin: 20px 0;">{% trans "per page:" %}</label>
        </div>
        <div class="col-sm-2">
            <select id="pageLength" class="form-control" style="margin: 15px 0;">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <div class="row" id="pagination-row" style="{% if not async_task.ready %}display: none;{% endif %}">
        <div class="col-sm-12">
            <div class="pagination pagination-lg">
                <span>
                    <div class="btn btn-primary disabled" id="first-page">|</div>
                    <div class="btn btn-primary disabled" id="previous-page"><i class="fa fa-angle-left"></i></div>
                    <span class="current">{% trans "Page of " %}</span>
                    <div class="btn btn-primary disabled" id="next-page"><i class="fa fa-angle-right"></i></div>
                    <div class="btn btn-primary disabled" id="last-page">|</div>
                </span>
                <span>
                    <div class="btn btn-primary" id="pageLength-10">10</div>
                    <div class="btn btn-primary" id="pageLength-25">25</div>
                    <div class="btn btn-primary" id="pageLength-50">50</div>
                </span>
            </div>
        </div>
    </div>
    <div class="row" id="timestamp-table-row" style="{% if not async_task.ready %}display: none;{% endif %}">
        <table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="3%">
                        <input type="checkBox" id="addTimestampAllCheck" style="width: 15px; height: 15px;"/>
                    </th>
                    <th width="14%">
                        <span class="header_text" title="Provider">{% trans "Provider" %}</span>
                        <span class="sorter">
                            <a id="sort_down_provider" class="caret tb-sort-inactive"></a>
                            <span class="dropup">
                                <a id="sort_up_provider" class="caret tb-sort-inactive"></a>
                            </span>
                        </span>
                    </th>
                    <th width="29%">
                        <span class="header_text" title="File Path">{% trans "File Path" %}</span>
                        <span class="sorter">
                            <a id="sort_down_file_path" class="caret tb-sort-inactive"></a>
                            <span class="dropup">
                                <a id="sort_up_file_path" class="caret tb-sort-inactive"></a>
                            </span>
                        </span>
                    </th>
                    <th width="15%">
                        <span class="header_text" title="Timestamp by">{% trans "Timestamp by" %}</span>
                        <span class="sorter">
                            <a id="sort_down_verify_user_name_id" class="caret tb-sort-inactive"></a>
                            <span class="dropup">
                                <a id="sort_up_verify_user_name_id" class="caret tb-sort-inactive"></a>
                            </span>
                        </span>
                    </th>
                    <th width="19%">
                        <span class="header_text" title="Updated at">{% trans "Updated at" %}</span>
                        <span class="sorter">
                            <a id="sort_down_verify_date" class="caret tb-sort-inactive"></a>
                            <span class="dropup">
                                <a id="sort_up_verify_date" class="caret tb-sort-inactive"></a>
                            </span>
                        </span>
                    </th>
                    <th width="20%">
                        <span class="header_text" title="Timestamp Verification">{% trans "Timestamp Verification" %}</span>
                        <span class="sorter">
                            <a id="sort_down_verify_result_title" class="caret tb-sort-inactive"></a>
                            <span class="dropup">
                                <a id="sort_up_verify_result_title" class="caret tb-sort-inactive"></a>
                            </span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody class="list" id="timestamp_error_list">
            {% for provider_error_info in init_project_timestamp_error_list %}
                {% for error_info in provider_error_info.error_list %}
                <tr class="addTimestamp">
                    <td width="1%"><input type="checkBox" id="addTimestampCheck" style="width: 14px; height: 14px;" /></td>
                    <td class="provider">{{ provider_error_info.provider }}</td>
                    <td>{{ error_info.file_path }}</td>

                    <input type="hidden" class="creator_name" value="{{ error_info.creator_name }}" />
                    <input type="hidden" class="creator_email" value="{{ error_info.creator_email }}" />
                    <input type="hidden" class="creator_id" value="{{ error_info.creator_id }}" />
                    <input type="hidden" class="file_path" value="{{ error_info.file_path }}" />
                    <input type="hidden" class="file_id" value="{{ error_info.file_id }}" />
                    <input type="hidden" class="file_create_date_on_upload" value="{{ error_info.file_create_date_on_upload }}" />
                    <input type="hidden" class="file_create_date_on_verify" value="{{ error_info.file_create_date_on_verify }}" />
                    <input type="hidden" class="file_modify_date_on_upload" value="{{ error_info.file_modify_date_on_upload }}" />
                    <input type="hidden" class="file_modify_date_on_verify" value="{{ error_info.file_modify_date_on_verify }}" />
                    <input type="hidden" class="file_size_on_upload" value="{{ error_info.file_size_on_upload }}" />
                    <input type="hidden" class="file_size_on_verify" value="{{ error_info.file_size_on_verify }}" />
                    <input type="hidden" class="file_version" value="{{ error_info.file_version }}" />
                    <input type="hidden" class="project_id" value="{{ error_info.project_id }}" />
                    <input type="hidden" class="organization_id" value="{{ error_info.organization_id }}" />
                    <input type="hidden" class="organization_name" value="{{ error_info.organization_name }}" />
                    <input type="hidden" class="provider" value="{{ provider_error_info.provider }}" />
                    <input type="hidden" class="verify_user_id" value="{{ error_info.verify_user_id }}" />
                    <input type="hidden" class="verify_user_name" value="{{ error_info.verify_user_name }}" />
                    <input type="hidden" class="verify_date" value="{{ error_info.verify_date }}" />
                    <input type="hidden" class="verify_result_title" value="{{ error_info.verify_result_title }}" />

                    {% if error_info.verify_user_id %}
                    <td class="verify_user_name_id">{{ error_info.verify_user_name }} ({{ error_info.verify_user_id }})</td>
                    {% else %}
                    <td class="verify_user_name_id">{% trans "Unknown" %}</td>
                    {% endif %}
                    <td class="verify_date">{{ error_info.verify_date }}</td>
                    <td class="verify_result_title">{{ error_info.verify_result_title }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row" id="download-row" style="{% if not async_task.ready %}display: none;{% endif %}">
        <div class="col-sm-3">
            <span>
                <select id="fileFormat" class="form-control">
                    <option value="csv">CSV</option>
                    <option value="json-ld">JSON/LD</option>
                    <option value="rdf-xml">RDF/XML</option>
                </select>
            </span>
        </div>
        <div class="col-sm-2">
            <span>
                <button type="button" class="btn btn-success" id="btn-download">{% trans "Download" %}</button>
            </span>
        </div>
        <div class="col-sm-7"></div>
    </div>
    {% csrf_token %}
</div>

<script charset="utf-8">
    window.timestampaddUrls = {
        verify: "{% url 'timestampadd:verify' institution_id=institution_id guid=guid %}",
        addTimestampData: "{% url 'timestampadd:add_timestamp_data' institution_id=institution_id guid=guid %}",
        cancel: "{% url 'timestampadd:cancel_task' institution_id=institution_id guid=guid %}",
        taskStatusUrl: "{% url 'timestampadd:task_status' institution_id=institution_id guid=guid %}",
        downloadErrors: "{% url 'timestampadd:download_errors' institution_id=institution_id guid=guid %}"
    };
</script>
{% endblock content %}

{% block bottom_js %}
    {% render_bundle 'rdm-timestampadd-page' %}
{% endblock %}
