{% extends "base.html" %}
{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>TimeStampAddList</title>
{% endblock title %}
{% block content %}
<h3>TimeStamp Add ({{ project_title }})</h3>
<form action "" id="addTimestampForm">
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" id="btn-verify" href={% url 'timestampadd:verify' institution_id=institution_id guid=guid %}>Verify</a>
        <a class="btn btn-success" id="btn-addtimestamp"  href={% url 'timestampadd:addtimestamp' institution_id=institution_id guid=guid %}>AddTimestamp</a>
<!--        <button type="button" class="btn btn-success" id="btn-addtimestamp">AddTimeStamp</button> -->
    </div>
<table id="datatables" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>FilePath</th>
            <th>OperationUser</th>
            <th>OperationDate</th>
            <th>TimestampVerify</th>
        </tr>
    </thead>
    <tbody id="timestamp_error_list">
    </tbody>

</table>
{% csrf_token %}
</form>
</div>
{% endblock content %}

{% block bottom_js %}
    <script>
         $(function(){
            function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                   var cookies = document.cookie.split(';');
                   for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                      }
                   }
               }
               return cookieValue;
            }
            var csrftoken = getCookie('admin-csrf');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                 crossDomain: false, // obviates need for sameOrigin test
                 beforeSend: function(xhr, settings) {
                     if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                     }
                 }
            });

            var btnAddtimestamp_onclick = function(event) {
                var button = $(this);
                button.attr("disabled", true);
                var inputCheckBoxs = $("[id=addTimestampCheck]:checked").map(function (index, el) {
                    return $(this).val();
                });

                if (inputCheckBoxs.length == 0) {
                    button.attr("enabled", true);
                    return false;
                }

                providerList = $('[id=provider]').map(function (index, el) {
                    return $(this).val();
                });

                fileIdList = $('[id="file_id"]').map(function (index, el) {
                    return $(this).val();
                });

                filePathList = $('[id=file_path]').map(function (index, el) {
                    return $(this).val();
                });

                versionList = $('[id=version]').map(function (index, el) {
                    return $(this).val();
                });

                fileNameList = $('[id=file_name]').map(function (index, el) {
                    return $(this).val();
                });

                var url = "{% url 'timestampadd:addtimestamp' institution_id=institution_id guid=guid %}"
                var successCnt = 0;
                for (var i = 0; i < inputCheckBoxs.length; i++) {
                     index = inputCheckBoxs[i];
                     var post_data = {'provider': providerList[index],
                                      'file_id': fileIdList[index],
                                      'file_path': filePathList[index],
                                      'file_name': fileNameList[index],
                                      'version': versionList[index]};

                     $.ajax({
                          url: "{% url 'timestampadd:add_timestamp_data' institution_id=institution_id guid=guid %}",
                          data: post_data,
                          dataType: 'json',
                          method: 'POST',
                          async: false
                     }).done(function(data) {
                          successCnt++;
                     }).fail(function(xhr, status, error) {
                        Raven.captureMessage('Timestamp Add Error: ' + filePathList[index], {
                            extra: {
                                url: "{% url 'timestampadd:add_timestamp_data' institution_id=institution_id guid=guid %}",
                                status: status,
                                error: error
                            }
                        });
                     });
                 }              
                 if (successCnt != inputCheckBoxs.length) {
                    button.attr("enabled", true);
                    return false;
                 }
            };
            var document_onready = function (event) {
                 $("#btn-addtimestamp").on("click", btnAddtimestamp_onclick).focus();
                 var provider = '';
                 var index = 0;
                 {% for provider_error_info in init_project_timestamp_error_list %}
                    console.log('{{ provider_error_info }}');
                    var provider_tr = '<tr><td colspan="4">{{ provider_error_info.provider }}</td></tr>';
                    $(provider_tr).appendTo($('#timestamp_error_list'));
                    {% for error_info in provider_error_info.error_list %}
                         var error_tr = '<tr>' +
                                        '<td class="addTimestamp">' +
                                        '<input type="checkBox" id="addTimestampCheck" value="' + index + '"/>&nbsp;&nbsp;' +
                                        '{{ error_info.file_path }}' +
                                        '<input type="hidden" name="provider" id="provider" value="{{ error_info.provider }}" />' +
                                        '<input type="hidden" name="file_id" id="file_id" value="{{ error_info.file_id }}" />' +
                                        '<input type="hidden" name="file_path" id="file_path" value="{{ error_info.file_path }}" />' +
                                        '<input type="hidden" name="project_id" id="file_path" value="{{ error_info.project_id }}" />' +
                                        '<input type="hidden" name="version" id="version" value="{{ error_info.version }}" />' +
                                        '<input type="hidden" name="file_name" id="file_name" value="{{ error_info.file_name }}" />' +
                                        '</td>' +
                                        '<td>{{ error_info.operator_user }}</td>' +
                                        '<td>{{ error_info.operator_date }}</td>' +
                                        '<td>{{ error_info.verify_result_title }}</td>' +
                                        '</tr>';
                         console.log(error_tr);
                         $(error_tr).appendTo($('#timestamp_error_list'));
                         index++;
                    {% endfor %}
                 {% endfor %}
 
                 {% for provider_info in provider_file_list %}
                    var provider_output_flg = false;
                    var provider_tr = '<tr><td colspan="4">{{ provider_info.provider }}</td></tr>';
                    {% for file_info in provider_info.provider_file_list %}
                        console.log('{{ file_info }}');
                         var post_data = {'provider': '{{ provider_info.provider }}',
                             'file_id': '{{ file_info.file_id }}',
                             'file_path': '{{ file_info.file_path }}',
                             'file_name': '{{ file_info.file_name }}',
                             'version': '{{ file_infofile.version }}'}
                         $.ajax({
                              url: "{% url 'timestampadd:verify_data' institution_id=institution_id guid=guid %}",
                              data: post_data,
                              dataType: 'json',
                              method: 'POST',
                              async: false
                         }).done(function(data) {
                              console.log(data);
                              var verify_result = data["verify_result"];
                              if (verify_result > 1) {
                                  var error_tr = '<tr>' +
                                                 '<td class="addTimestamp">' +
                                                 '<input type="checkBox" id="addTimestampCheck" value="' + index + '"/>&nbsp;' +
                                                 '{{ file_info.file_path }}' +
                                                 '<input type="hidden" id="provider" value="{{ provider_info.provider }}" />' +
                                                 '<input type="hidden" id="file_id" value="{{ file_info.file_id }}" />' +
                                                 '<input type="hidden" id="file_path" value="{{ file_info.file_path }}" />' +
                                                 '<input type="hidden" id="version" value="{{ file_info.version }}" />' +
                                                 '<input type="hidden" id="file_name" value="{{ file_info.file_name }}" />' +
                                                 '</td>' +
                                                 '<td>' + data["operator_user"] + '</td>' +
                                                 '<td>' + data["operator_date"] + '</td>' +
                                                 '<td>' + data["verify_result_title"] + '</td>' +
                                                 '</tr>';
                                  if (!provider_output_flg) {
                                      $(provider_tr).appendTo($('#timestamp_error_list'));
                                          provider_output_flg = true;
                                  }
                                  $(error_tr).appendTo($('#timestamp_error_list'));
                                  index++;
                             }
                         }); 
                    {% endfor %}
                 {% endfor  %}
            };
            $(document).ready(document_onready);
       });

        
  </script>

{% endblock %}
