{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>OSF Groups Search</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        <div class="row">
            <form action="{% url 'osf_groups:search' %}" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">{{ form.errors }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="id">id:</label>
                    {{ form.id }}
                </div>
                <div class="form-group">
                    <label for="name">name:</label>
                    {{ form.name }}
                </div>
                <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
        </div>
    </div>
{% endblock content %}
