
<dt><span class="date">${log['date']}</span></dt>

    % if log['user_id']:
        <dd><a href="/profile/${log['user_id']}">${log['user_name']}</a>
    % elif log['api_label']:
        <dd>${log['api_label']}
    % endif

    %if log['action'] == 'project_created':
        created <a href='/project/${log["params"]["project"]}'>project</a>
    %elif log['action'] == 'node_created':
        created node <a href='/project/${log["params"]["project"]}/node/${log["params"]["node"]}'>${log['node_title']}</a>
    %elif log['action'] == 'wiki_updated':
        updated wiki page <a href='${log["node_url"]}/wiki/${log["params"]["page"]}'>${log["params"]["page"]}</a> to version ${log["params"]["version"]}
    %elif log['action'] == 'contributor_added':
        added
        <%
            contributors = []
            if log['params']['contributors']:
                for c in log['params']['contributors']:
                    if isinstance(c, dict) and "nr_name" in c:
                        contributors.append(c["nr_name"])
                    #else:
                    #    c = get_user(c)
                    #    if c:
                    #        contributors.append(u'<a href="/profile/{id}">{fullname}</a>'.format(id=c._primary_key, fullname=c.fullname))

        %>
        ${', '.join(contributors)} as contributor${'s' if len(contributors) > 1 else ''} on
            node <a href=${log['node_url']}>${log['node_title']}</a>
    %elif log['action'] == 'made_public':
        made ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
        public
    %elif log['action'] == 'made_private':
        made ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
        private
    %elif log['action'] == 'remove_contributor':
        removed
        <%
            contributor = ''
            c = log['params']['contributor']
            if isinstance(c, dict) and "nr_name" in c:
                contributor = c["nr_name"]
            ##else:
            ##    u = get_user(c)
            ##    if u:
            ##        contributor = u'<a href="/profile/{id}">{fullname}</a>'.format(id=u._primary_key, fullname=u.fullname)

        %>
        ${contributor} as a contributor from ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %elif log['action'] == 'tag_added':
        tagged ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
        as <a href="/tag/${log["params"]['tag']}">${log["params"]['tag']}</a>
    %elif log['action'] == 'tag_removed':
        removed tag <a href="/tag/${log["params"]['tag']}">${log["params"]['tag']}</a> from ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %elif log['action'] == 'file_added':
        added file ${log["params"]['path']} to ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %elif log['action'] == 'file_removed':
        removed file ${log["params"]['path']} from ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %elif log['action'] == 'file_updated':
        updated file ${log["params"]['path']} in ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %elif log['action'] == 'edit_title':
        changed the title from ${log["params"]['title_original']} to <a href="${log['node_url']}">${log["params"]['title_new']}</a>
    %elif log['action'] == 'project_registered':
        <a href="/project/${log["params"]['registration']}">registered</a> ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %elif log['action'] == 'node_forked':
        created fork from ${log['category']}
        <a href="${log['node_url']}">${log['node_title']}</a>
    %endif
    </dd>