{% extends "base.html" %}
{% load i18n %}
{% block title %}
    <title>{% trans "GakuNin RDM Admin | Delete banner" %}</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>{% trans "Confirm Delete Banner" %}</h4>
                <form action="" method="post">{% csrf_token %}
                    <p>
                        {% blocktrans with objectName=object.name startDate=object.start_date endDate=object.end_date %}Are you sure you want to delete <b>{{ objectName }}</b>? It is scheduled for {{ startDate }} -
                        {{ endDate }}{% endblocktrans %}
                    </p>
                    <input class="btn btn-primary" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
