{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>{% trans "Collection Provider Delete" %}</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>{% blocktrans with providerName=provider.name %}Cannot Delete {{ providerName }}{% endblocktrans %}</h3>
                <p>{% blocktrans with providerName=provider.name collectionsubmissionSetCount=provider.primary_collection.collectionsubmission_set.count %}{{ providerName }} has {{ collectionsubmissionSetCount }} submissions associated with it, and therefore cannot be safely deleted.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
{% endblock content %}
