{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Delete Collection Provider</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post">{% csrf_token %}
                    <p>Are you sure you want to delete "{{ object.name }}"?</p>
                    <input class="btn btn-primary" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
