aiohttp==0.14.1
git+https://github.com/chrisseto/boto.git#egg=boto
git+https://github.com/jmcarp/raven-python
git+https://github.com/allanlei/python-zipstream
celery==3.1.17
furl==0.4.2
invoke==0.9.0
oauthlib==0.7.2
redis==2.10.3
stevedore==1.2.0
tornado==4.0.2
xmltodict==0.9.0
