invoke==0.9.0
Flask==0.10.1
Mako==1.0.0
Markdown==2.4.1
Pygments==1.6
WTForms==1.0.4
beautifulsoup4==4.3.2
celery==3.1.17
dulwich==0.9.4
httplib2==0.9
hurry.filesize==0.9
itsdangerous==0.24
lxml==3.4.1
mailchimp==2.0.9
nameparser==0.3.3
py-bcrypt==0.4
pymongo==2.5.1
python-dateutil==2.2
python-gnupg==0.3.6
pytz==2014.9
bleach==1.4.1
blinker==1.3
furl==0.4.4
elasticsearch==1.3.0
google-api-python-client==1.2
# Development version of modular-odm
git+https://github.com/CenterForOpenScience/modular-odm.git@develop
# Development version of modular file renderer
git+https://github.com/CenterForOpenScience/modular-file-renderer.git@dev

requests==2.4.1
requests-oauthlib>=0.4.1
raven==5.1.1
