{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>OSF Metrics</title>
{% endblock title %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css" />
    <script>
        if ('{{ keen_ready }}' == 'True') {
            var keenProjectId = '{{ keen_project_id }}';
            var keenReadKey = '{{ keen_read_key }}';
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
{% endblock top_includes %}

{% block content %}

    <h1>OSF Metrics</h1>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#user-data" role="tab" data-toggle="tab">User Data</a></li>
            <li role="presentation"><a href="#active-user-metrics" role="tab" data-toggle="tab">Active User Metrics</a></li>
            <li role="presentation"><a href="#healthy-user-metrics" role="tab" data-toggle="tab">Healthy User Metrics</a></li>
            <li role="presentation"><a href="#expansion-metrics" role="tab" data-toggle="tab">Expansion Metrics</a></li>
            <li role="presentation"><a href="#cohorts" role="tab" data-toggle="tab">Cohorts</a></li>
            <li role="presentation"><a href="#raw-numbers" role="tab" data-toggle="tab">Raw Numbers</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="user-data">
                <h3>User Data</h3>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                User Growth
                            </div>
                            <div class="chart-stage">
                                <div id="active-user-chart"></div>
                            </div>
                            <div class="chart-notes">
                                The growth of OSF Confirmed Users over the past 800 days.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Users
                            </div>
                            <div class="chart-stage">
                                <div id="active-user-count"></div>
                            </div>
                            <div class="chart-notes">
                                This is the total number of OSF Users with confirmed accounts.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Monthly User Increase
                            </div>
                            <div class="chart-stage">
                                <div id="monthly-user-increase"></div>
                            </div>
                            <div class="chart-notes">
                                The number of users gained in the past month.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                    <!-- end of three -->
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div role="tabpanel" class="tab-pane" id="active-user-metrics">
                <h3>Active User Metrics!</h3>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Daily Active Users
                            </div>
                            <div class="chart-stage">
                                <div id="daily-active-users"></div>
                            </div>
                            <div class="chart-notes">
                                This is the number of users who had at least one pageview on the OSF yesterday.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Daily Active Users / Total Users
                            </div>
                            <div class="chart-stage">
                                <div id="daily-active-over-total-users"></div>
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Cell Title
                            </div>
                            <div class="chart-stage">
                            </div>
                            <div class="chart-notes">
                                Notes about this chart
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="healthy-user-metrics">
                Healthy User Metrics
            </div>
            <div role="tabpanel" class="tab-pane" id="expansion-metrics">
                Expansion Metrics
            </div>
            <div role="tabpanel" class="tab-pane" id="cohorts">
                Cohorts
            </div>
            <div role="tabpanel" class="tab-pane" id="raw-numbers">
                Raw Numbers
            </div>
        </div>
    </div>



    <div class="dropdown">
        <button class="btn btn-default btn-large dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            Jump to...
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#active_users">Yesterday's Active Users</a></li>
            <li><a href="#active_users_over_time">Active Users Over Time</a></li>
            <li><a href="#affiliated_projects">Affiliated Public and Private projects by Institution</a></li>
            <li><a href="#email_domain">Previous 7 days of user registrations by email domain</a></li>
            <li><a href="#node_logs_by_user">Yesterday's Node logs by user</a></li>
            <li><a href="#users_by_status">Previous 7 days of users by status</a></li>
            <li><a href="#linked_addon_by_name">Previous 7 days of linked addon by addon name</a></li>
        </ul>
    </div>

    <div><h2>User Data</h2></div>

    <div id="active_users">
        <h3>Yesterday's Total Users with Active Accounts</h3>
        <div id="active-user-count">Loading...</div>
    </div>
    <div id="active_users">
        <h3>Daily Increase of Users</h3>
        <div id="daily-user-increase">Loading...</div>
    </div>
    <div id="active_users">
        <h3>Monthly Increase of Users</h3>
        <div id="monthly-user-increase">Loading...</div>
    </div>
    <div id="active_users">
        <h3>Average Daily Gain Over past 7 Days</h3>
        <div id="average-gain-metric">Loading...</div>
    </div>

    <div>
        <h3>Yesterday's Active Logged In Users</h3>
        <div id="daily-active-users">Loading...</div>
    </div>

    <div>
        <h3>Active Users / Total Users</h3>
        <div id="daily-active-over-total-users">Loading...</div>
    </div>

    <div>
        <h3>Last Month's Active Logged In Users</h3>
        <div id="monthly-active-users">Loading...</div>
    </div>

    <div>
        <h3>Last Month's Active Users / Total Users</h3>
        <div id="monthly-active-over-total-users">Loading...</div>
    </div>
    <div>
        <h3>Monthly growth of MAU%</h3>
        <div id="monthly-active-user-increase">Loading...</div>
    </div>
    <div>
        <h3>Yearly Active Logged In Users</h3>
        <div id="yearly-active-users">Loading...</div>
    </div>
    <div>
        <h3>Yearly Active Users / Total Users</h3>
        <div id="yearly-active-over-total-users">Loading...</div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>User Gain Per Day</h3>
            <div id="user-gain-chart">Loading...</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="active_users_over_time">
            <h3>Active Users Over Time</h3>
            <div id="active-user-chart">Loading...</div>
        </div>
    </div>

    <div class="row" id="affiliated_projects">
        <div class="col-md-6">
            <h3>Affiliated Public projects by Institution</h3>
            <div id="affiliated-public-projects">Loading...</div>
        </div>

        <div class="col-md-6">
            <h3>Affiliated Private projects by Institution</h3>
            <div id="affiliated-private-projects">Loading...</div>
        </div>
    </div>

    <div id="email_domain">
        <h3>Previous 7 days of user registrations by email domain</h3>
        <div id="user-registration-by-email-domain">Loading...</div>
    </div>

    <div id="node_logs_by_user">
        <h3>Yesterday's Node logs by user</h3>
        <div id="yesterdays-node-logs-by-user">Loading...</div>
    </div>

    <div id="users_by_status">
        <h3>Previous 7 days of users by status</h3>
        <div id="previous-7-days-of-users-by-status">Loading...</div>
    </div>

    <div id="linked_addon_by_name">
        <h3>Previous 7 days of linked addon by addon name</h3>
        <div id="previous-7-days-of-linked-addon-by-addon-name">Loading...</div>
    </div>

    <div><h2>Healthy User Metrics</h2></div>

    <div>
        <h3>Stickiness Ratio</h3>
        <div id="stickiness-ratio">Loading...</div>
    </div>

    <div><h2>Raw Numbers</h2></div>

    <div>
        <h3>Downloads</h3>
        <div id="downloads">Loading...</div>
    </div>
    <div>
        <h3>Unique Downloads</h3>
        <div id="unique-downloads">Loading...</div>
    </div>
    <div>
        <h3>Number of Projects</h3>
        <div id="total-projects">Loading...</div>
    </div>
    <div>
        <h3>Number of Registrations</h3>
        <div id="total-registrations">Loading...</div>
    </div>


{% endblock content %}


{% block bottom_js %}
    <script src="{% static 'public/js/metrics.js' %}"></script>
{% endblock %}
