{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block top_includes %}
    <script>
        var keenProjectId = '{{ keen_project_id }}';
        var keenReadKey = '{{ keen_read_key }}';
        var userCount = {{ user_count | jsonify | safe}};
        // debugger;
    </script>
{% endblock %}

{% block title %}
    <title>OSF Sales Analytics</title>
{% endblock title %}

{% block bottom_js %}
    <script src="{% static 'public/js/metrics-sales-analytics.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Sales Analytics</h1>
    <h3>Average User Session Length of Previous 7 days</h3>
    <div id='keen-chart-average-session-user'>...</div>
    <h3>Average MAU Session Length of Previous 7 days</h3>
    <div id='keen-chart-average-session-mau'>...</div>
    <h3>Average User/MAU Session Length History of past 12 weeks</h3>
    <div id='keen-chart-average-session-history'>...</div>
    <h3>OSF Products Users View in the Past Month</h3>
    <div id='keen-chart-osf-product-usage-mt2'>...</div>
    <div id='keen-chart-osf-product-usage-mee'>...</div>
    <div id='keen-chart-osf-product-usage-pre'>...</div>
    <div id='keen-chart-osf-product-usage-ins'>...</div>
    <h3>User Count</h3>
    <div id='db-chart-user-count'></div>
{% endblock content %}
