{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block top_includes %}
    <script>
        var keenProjectId = '{{ keen_project_id }}';
        var keenReadKey = '{{ keen_read_key }}';
        var userCount = {{ user_count | jsonify | safe }};
        var multiProductMetricsYearly = {{ multi_product_metrics_yearly | jsonify | safe }};
        var multiProductMetricsMonthly = {{ multi_product_metrics_monthly | jsonify | safe }};
        // debugger;
    </script>
{% endblock %}

{% block title %}
    <title>OSF Sales Analytics</title>
{% endblock title %}

{% block bottom_js %}
    <script src="{% static 'public/js/metrics-sales-analytics.js' %}"></script>
    <script src="{% static 'public/js/dashboard.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Sales Analytics</h1>
<html>
<head>
  <title>Dashboard</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css" />
</head>
<body class="application">

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-8 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average User/MAU Session Length History of past 12 weeks
          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
              <svg id='keen-chart-average-session-history' class="chart">...</svg>
            </div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            OSF Products Users View in the Past Month
          </div>
          <div class="chart-stage">
            <div id='keen-chart-osf-product-usage-mt2'>...</div>
            <div id='keen-chart-osf-product-usage-mee'>...</div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            OSF Products Users View in the Past Month
          </div>
          <div class="chart-stage">
            <div class="img-responsive" id='keen-chart-osf-product-usage-pre'>...</div>
            <div class="img-responsive" id='keen-chart-osf-product-usage-ins'>...</div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            User Count by Product
          </div>
          <div class="chart-stage">
                <div id='db-chart-user-count'></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average User Session Length of Previous 7 days
          </div>
          <div class="chart-stage">
            <div id='keen-chart-average-session-user'></div>
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Average MAU Session Length of Previous 7 days
          </div>
          <div class="chart-stage">
            <div id='keen-chart-average-session-mau'>...</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Multi-product User Count (Year)
          </div>
          <div class="chart-stage">
            <div id='db-chart-multi-product-yearly'></div>
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-title">
            Multi-product User Count (Month)
          </div>
          <div class="chart-stage">
            <div id='db-chart-multi-product-monthly'></div>
          </div>
        </div>
      </div>

    </div>
<!-- end of three -->
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
            <img data-src="holder.js/100%x120/white">
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cell Title
          </div>
          <div class="chart-stage">

          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock content %}
