{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}
{% load filters %}

{% block title %}
<title>OSF Admin | {{ draft.title }}</title>
{% endblock %}


{% block content %}
{% render_bundle 'vendor' %}
<link href="{% static 'css/registrations.css' %}" rel="stylesheet" type="text/css" />
<script type="application/javascript">
   window.contextVars = window.contextVars || {};
   window.contextVars.currentUser = {
     id: -1,
     fullname: 'Prereg Admin'
   };
   window.contextVars.draft = {{ draft | jsonify | safe }};
   window.contextVars.urls = {
     updateDraft: '{% url 'pre_reg:update_draft' draft.pk %}'
   };
</script>

<div class="container-fluid scripted" id="draftRegistrationScope">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <h3>Review draft submission</h3>
        </div>
        <div class="col-md-3 col-sm-3">
            <h5>Last saved: <span data-bind="text: $root.lastSaved"></span></h5>
        </div>
    </div>
    <hr />
  <div class="row">
    <div class="col-md-12">
      <div id="registrationEditorScope">
        <div class="container">
          <div class="row-fluid">
            <div class="span2 col-md-2 columns eight large-8">
              <ul class="nav nav-stacked list-group" data-bind="foreach: {data: pages, as: 'page'}, visible: pages().length > 1">
                <li class="re-navbar">
                  <a class="registration-editor-page" id="top-nav" style="text-align: left;" data-bind="text: title, click: $root.selectPage.bind($root), style:{'font-weight': active() ? 'bold' : 'normal'}">
                    <i class="fa fa-caret-right"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="span10 col-md-8 col-sm-10 columns eight large-8">
              <!-- EDITOR -->
              <div data-bind="if: currentPage">
                <div data-bind="foreach: {data: currentPage().questions, as: 'question'}">
                  <div class="row">
                    <strong data-bind="attr: {id: question.id}, text: question.title"></strong>:
                    <div class="well">
                      <p>
                        <span data-bind="previewQuestion: $root.context(question, $root, true)"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="well col-md-10" data-bind="template: {data: currentPage, name: 'commentable'}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row" data-bind="ifnot: onLastPage">
        <a data-bind="click: nextPage" class="btn btn-primary">Next Page</a>
    </div>
</div>
{% include "pre_reg/registration_editor_templates.html" %}
{% endblock %}

{% block bottom_js %}
  {% render_bundle 'admin-registration-edit-page' %}
{% endblock %}
