{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
<script type="application/javascript">
   var prereg_user = {{ user_info|safe }};
   var prereg_reviewers = {{ reviewers|safe }};
</script>
<div class="container-fluid" id="prereg-row">
  {% for draft in drafts %}
  <div class="row well">
    <div class="col-md-4">
      <!-- Approval state -->
      {% if draft.is_pending_approval %}
      <h4><span class="label label-lg label-warning">Pending Approval</span></h4>
      {% elif draft.is_approved %}
      <h4><span class="label label-lg label-success">Approved</span></h4>
      {% elif draft.is_rejected %}
      <h4><span class="label label-lg label-danger">Rejected</span></h4>
      {% endif %}
      <!-- Info --> 
      <h3> {{ draft.title }} </h3>
      <span class="text-muted"> Applicant </span> <strong> {{ draft.initiator.full_name }}</strong>
      submitted on <strong>{{ draft.initiated | date:"N dS" }}</strong> at <strong>{{draft.initiated | date:"g:i a" }}</strong>
      <br />
      <a href="mailto:{{ draft.initiator.username }}">{{ draft.initiator.username }} </a>
    </div>    
    <div class="col-md-8 form">
      <!-- Form -->
      <form action="{% url 'pre_reg:update_draft' draft.pk %}">
      {% for field in draft.form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
        </div>
      {% endfor %}
        <input class="pull-right btn btn-primary" type="submit" value="Save"></input>
        <a style="margin-right: 10px" target="_blank"
           href="{% url 'pre_reg:view_draft' draft.pk %}" class="pull-right btn btn-default">View Draft</a>
      </form>
    </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
{% block bottom_js %}

{% endblock %}
