p input {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    width: 80%;
}

p select {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    width: 80%;
}

p textarea {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    width: 80%;
}

form p label {
    width: 10%;
}

.sidebar-menu-inner {
    position:relative;
    margin-left: 30px;
}

.padded {
    padding-top: 20px;
    padding-bottom: 20px;
}

