.caret-sort {
    color: rgb(0, 0, 165);
    border-top: 8px dashed;
}

.dropup .caret-sort {
    border-bottom: 8px dashed;
}

.caret-sort:hover {
    color: rgb(0, 0, 165);
}

.tb-sort-inactive {
    color: gray;
}
