.institution-logo {
    max-width: 75px;
}

.institution-banner {
    max-width: 300px;
}


p input {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    width: 80%;
}

p select {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    width: 80%;
}

p textarea {
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    width: 80%;
}

form p label {
    width: 100px;
}

.form-button {
    height: 35px;
    width: 100px;
}

.subject-icon {
    cursor: pointer;
}

.three-cols {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.json-import {
    padding-top: 50px;
}

.firstlevel_subjects {
    width: 120%;
}


.select2-container.select2-container--default {
    width: 75% !important;
}

.row {
    margin-bottom: 15px;
}

#id_custom_taxonomy_json {
    width: 100%;
}

.googledrive-modal-message {
    font-weight: 600;
}

.truncated {
    display: inline-flex;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* toggle button */
input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch.checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

input.apple-switch.checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}
/* end toggle button */

.entitlement-row {
    display:flex;
}

.entitlement-row .entitlement {
    display:inline-block;
    flex:1;
    word-break: break-all;
}