.label-large {
    vertical-align: middle;
    font-size: large;
}

.storage-name {
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.storage-name .form-control {
    width: 400px;
}

.next-btn {
    margin-left: 12px;
}

.csv-upload-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.csv-upload-button input[type=file] {
    display: none;
}

.csv-upload-button div {
    margin-left: 10px;
}

.wrap-cell {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal !important;
}
