#addonSettings .is_allowed {
  /*vertical-align: middle;*/
  width: 30px;
}
#addonSettings .is_forced {
  /*vertical-align: middle;*/
  text-align: right;
  width: 120px;
}
#addonSettings .table tr td {
  border-top: 1px solid #eee;
}
#addonSettings .table tr:first-child td {
  border-top: none;
}
#addonSettings .panel-body {
  padding-top: 5px;
  padding-bottom: 5px;
}
#addonSettings .user-settings-addon-auth {
  font-size: 13.5px;
  border-bottom: 2px solid #ddd;
}
#addonSettings a {
  cursor: pointer;
}

#addonSettings .management-project-form .management-project-input {
  margin-bottom: 4px;
}

#addonSettings .management-project-form .management-project-save {
  margin-bottom: 2px;
}

#addonSettings .organizational-project-form .organizational-project-input {
  margin-bottom: 4px;
}

#addonSettings .organizational-project-form .organizational-project-save {
  margin-bottom: 2px;
}
