<h2>Notification Template Preview</h2>
<h3>Rendered Template</h3>



<div
    id="preview-container"
    style="
        max-width: 70vw;
        overflow: auto;
        border: 1px solid #ccc;
        padding: 15px;
        background: #fff;
    "
>
    {{ rendered_template|safe }}
</div>
<h3>Mock Data</h3>
<div style="margin-bottom: 10px; color: #555;">
    Edit the mock data and click "Render Preview" to see how changes affect the rendered template. <br>
    Note: The mock data should be a JSON object matching the expected context for the template. Please ensure that the JSON is properly formatted if error occurs during rendering.
</div>
<form id="preview_mock" method="post">
    <textarea
        id="mock-data"
        name="context"
        rows="20"
        style="width: 100%; max-width: 70vw; font-family: monospace; white-space: pre;"
    >{{ context }}</textarea>
</form>
