{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block title %}
    <title>List of Notification Types</title>
{% endblock title %}
{% block content %}
    <h2>List of Notification Types</h2>

    {% include "util/pagination.html" with items=page status=status %}
    <form method="get" style="margin-bottom: 15px;">
        <input type="text" name="q" value="{{ q }}" placeholder="Search..." />
        <button type="submit">Search</button>
    </form>
    <table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Interval Choices</th>
            <th>Is Digest</th>
        </tr>
    </thead>
    <tbody>
    {% for notification_type in notification_types %}
    <tr>

        <td><a href="{% url 'notifications:type_display' notification_type.id %}">{{ notification_type.name }}</a></td>
        <td>{{ notification_type.subject }}</td>
        <td>{{ notification_type.notification_interval_choices }}</td>
        <td>{{ notification_type.is_digest_type }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}
