{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% block title %}
    <title>List of Notification Subscriptions</title>
{% endblock title %}
{% block content %}
    <h2>List of Notification Subscriptions</h2>

    {% include "util/pagination.html" with items=page status=status %}
    <form method="get" style="margin-bottom: 15px;">
        <input type="text" name="q" value="{{ q }}" placeholder="Search..." />
        <button type="submit">Search</button>
    </form>
    <table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Notification Type Name</th>
            <th>User</th>
            <th>Message Frequency</th>
            <th>Subscribed Object</th>
        </tr>
    </thead>
    <tbody>
    {% for subscription in subscriptions %}
    <tr>

        <td>{{ subscription.notification_type.name }}</a></td>
        <td>{{ subscription.user }}</td>
        <td>{{ subscription.message_frequency }}</a></td>
        <td>{{ subscription.subscribed_object }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}
