{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>User Search</title>
{% endblock title %}
{% block content %}

<h2>User Search</h2>

<div class="container-fluid">
    <div class="row">
        <h3>{% trans "User Search" %}</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'useremails:search' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="{% trans 'Submit@search' %}" />
            </form>
        </div>
    </div>
</div>

{% endblock content %}
