{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load spam_extras %}
{% load i18n %}

{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}

{% block content %}
<h3>User Emails<h3>
<table class="table table-striped table-hover table-responsive">
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                <button class="btn btn-primary">
                </button>
            </td>
            <td>
                {{user.username}}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock content %}

