{% block content %}

    <div class="pagination pagination-lg">
        <span>
            {% if items.has_previous %}
                <a href="?page={{ items.previous_page_number }}&status={{ status }}"
                   class="btn btn-primary">
                    <i class="fa fa-angle-left"></i>
                </a>
            {% else %}
                <div class="btn btn-primary disabled">
                    <i class="fa fa-angle-left"></i>
                </div>
            {% endif %}

            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}&status={{ status }}"
                   class="btn btn-primary">
                    <i class="fa fa-angle-right"></i>
                </a>
            {% else %}
                <div class="btn btn-primary disabled">
                    <i class="fa fa-angle-right"></i>
                </div>
            {% endif %}
        </span>
    </div>

{% endblock content %}
