<!-- OSF Upload -->
<script type="text/html" id="osf-upload">
  <span data-bind="template: {data: $data, name: format}"></span>
</script>

<script type="text/html" id="osf-upload-open">
  <div id="selectedFile">File uploaded:  
    <span id="fileName">no file</span>
  </div>
  <div data-bind="attr.id: $data.id"></div>
</script>

<script type="text/html" id="osf-upload-toggle">
  <div id="selectedFile">File uploaded:  
    <span id="fileName">no file</span>
  </div>
  <div data-bind="attr.id: $data.id"></div>
</script>
