/*
Override treebeard styles
*/
.citation-widget .title-text {
    cursor: initial;
}
.citation-widget .tb-expand-icon-holder {
    cursor: initial;
}
.citation-widget .tb-multiselect {
    background-color: white;
}
/* ---------------- */
.citation-picker {
    padding-bottom: 6px;
}
.citation-widget > ul {
    list-style-type: none;
    padding-left:0;
    margin-bottom:0;
}

.citation-widget > ul > li {
    margin-bottom:10px;
}

.citation-widget > ul > li:last-child {
    margin-bottom:0px;
}

.citation-loading {
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	background: #EAEAEA;
	padding: 20px;
	border-radius: 4px;
}

.citation-spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
