.citations .addon-widget-header .permalink {
    vertical-align: middle;
    color: #777;
}

#citationText {
    display: none;
    margin-top: 15px;
    margin-bottom: 0px;
}

.citation-picker .select2-container {
    width: 100%;
}

.formatted-citation {
    white-space: pre-wrap;
    word-break: keep-all;
}

.citation-widget #tb-tbody {
    height: 300px;
}
