.comment-pane {
    position: fixed;
    z-index: 999; /* Note: Must be lower than Bootstrap modals, BlockUI */
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    padding-bottom: 88px; /* Note: Must be the same as .cp-bar:margin-top */
}

.comment-info {
  padding-bottom: 10px;
}

.comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body {
    padding: 5px;
    background-color: white;
}

.comment-author {
    color: #999999;
}

.comment-date {
    color: #999999;
}
.edit-comment {
    background-color: #F3F3F3;
}

.comment-body i {
    padding-right: 5px;
}

.cp-handle {
    /* Handle starts under Bootstrap header */
    /* Note: Must be the same as #commentPane:padding-bottom */
    margin-top: 40px;
    width: 100px;
    height: 48px;
    margin-left: -50px;
    text-align: center;
    border-bottom-left-radius: 15px;
    padding-top: 10px;    
}

.comment-handle-icon {
    padding-top: 5px;
    color: #428bca;
    cursor: pointer;
    position: relative;
}

.cp-bar {
    width: 1px;  /* Note: Should be the same as .cp-sidebar:margin-left */
    margin-top: 88px;
    margin-bottom: 0px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    cursor: ew-resize;
}

.cp-sidebar {
    margin-top: 88px;
    height: 100%;
    margin-left: 1px;  /* Note: Should be the same as .cp-bar:width */
    background-color: whitesmoke;
    padding: 10px;
    padding-bottom: 70px;
    overflow-y: auto;
    box-shadow: -1px 0 3px lightgrey;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unread-comments-count {
    font-size: small;
    background-color: #428bca;
    color: #FFF;
    position: absolute;
    margin-left: 30px;
    margin-top: 4px;
    z-index:1000;
}

.comment-actions a:hover {
    text-decoration: none !important;
}

.comment-actions i {
    cursor: pointer;
}

.comment-link-icon a {
    color: #999999;
}

.comment-link-icon a:hover {
    color: #000000;
    text-decoration: none;
}

.comment-content img{
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}
