.comment-pane {
    position: fixed;
    z-index: 999; /* Note: Must be lower than Bootstrap modals, BlockUI */
    width: 0;
    top: 47px!important;
    right: 0;
    height: 100%;
}

@media (max-width: 767px) {
    .comment-pane {
        top: 99px!important;
    }
}

.comment-info {
  padding-bottom: 10px;
}

.comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body {
    padding: 5px;
    background-color: white;
}

.comment-author {
    color: #999999;
}

.comment-date {
    color: #999999;
}
.edit-comment {
    background-color: #F3F3F3;
}

.comment-body i {
    padding-right: 5px;
}

.cp-handle-div {
    /* Handle starts under Bootstrap header */
    width: 100px;
    height: 48px;
    margin-left: -50px;
    text-align: center;
    border-bottom-left-radius: 15px;
    padding-top: 10px;
}

.comment-handle-icon {
    padding-top: 2px;
    color: #428bca;
    cursor: pointer;
    position: relative;
}

.cp-bar {
    width: 1px;  /* Note: Should be the same as .cp-sidebar:margin-left */
    top: 88px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    cursor: ew-resize;
}

.cp-sidebar {
    height: 95%;
    margin-left: 1px;  /* Note: Should be the same as .cp-bar:width */
    background-color: whitesmoke;
    padding: 10px;
    overflow-y: auto;
    box-shadow: -1px 0 3px lightgrey;
}

/*
* Note: Separate class needed because padding does not get applied to overflow elements in firefox:
* http://stackoverflow.com/questions/13471910/css-applying-padding-to-box-with-scroll-bottom-padding-doesnt-work
*/
.cp-sidebar-content {
    padding-bottom: 70px!important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unread-comments-count {
    font-size: small;
    background-color: #428bca;
    color: #FFF;
    position: absolute;
    margin-left: 30px;
    margin-top: 4px;
    z-index:1000;
}

.comment-actions a:hover {
    text-decoration: none !important;
}

.comment-actions i {
    cursor: pointer;
}

.comment-content img{
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

.comment-gravatar {
    height: 20px;
}

.atwho-input {
    display: block;
    height: auto;
    min-height: 56px;
    overflow: hidden;
    word-wrap: break-word;
}

.atwho-input[placeholder]:empty:before {
    content: attr(placeholder);
    color: #bdbdbd;
}

.atwho-input[placeholder]:empty:focus:before {
    content: "";
}
