
/*
preview -> file-preview -> details -> filename
*/

.dz-preview {
    background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 120px;
  height:150px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
    cursor:default;
}

.dz-preview .dz-details {

  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
    left: 3px;
  margin-bottom: 22px;
}
.dz-preview .dz-details img {
   position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.dz-preview:hover .dz-details {
    opacity: 1;
    cursor: default;
}

.dz-preview:hover .dz-details img {
  display:none;
}

.dz-preview .dz-details .dz-size {
    position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}

.dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.dz-preview .dz-details .dz-filename {
    overflow: hidden;
  height: 100%;
}
.dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 10px;
  right: 10px;
  height: 10px;
  background: #d7d7d7;
  display: none;
}
.dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #286090 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
  background-repeat: repeat-x;
}

.dz-preview.dz-processing .dz-progress {
    display: block;
}

.dz-preview .dz-success-mark, .dz-preview .dz-error-mark {
    display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 50px;
  text-align: center;
  right: -20px;
  top: -37px;
}

.dz-preview .dz-success-mark {
    color: #8cc657;
}

.dz-preview .dz-error-mark {
    color: #ee162d;
}

.dz-preview.dz-error .dz-error-mark {
    display: block;
}

.dz-preview.dz-success .dz-success-mark {
    display: block;
}

.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}

.drop-zone-format {
    background: rgba(255, 255, 255, .49);
    padding: 50px;
    border-radius: 2px;
    margin-top: 0;
    clear: both;
    border: 2px dashed #b8b8b8;

}
.drop-zone-format:hover {
    border: 3px solid;
    border-color: #52A452;
    background: rgba(255, 255, 255, .25);

}

.drop-zone-disp {
    display: inline-block;
}

.drop-zone-invis {
    display: none;
}

.drop-zone-close {
    margin-top: -20px;
    margin-right: -20px;
    position:relative;
    top: -20px;
    right: -20px;
}

.drop-zone-head {
    font-weight: bold;
}