.dz-preview {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    display: inline-flex;
    margin: 7px 2.3% 7px 2.3%;
    width: 95%;
    height: 60px;
    vertical-align: top;
    border: 1px solid #acacac;
    align-items:center;
}

.dz-preview-background-success {
    background: #ddf0e2;
    border-left: 7px solid #5cb85c;
}

.dz-preview-background-error {
    background: #f2dede;
}

.dz-preview .dz-filename {
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:auto;
    max-width:300px;
}

.dz-preview .dz-progress {
    position: relative;
    height: 12px;
    width:80%;
    background: #d7d7d7;
    display: none;
}

.dz-preview .dz-progress .dz-upload {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -o-linear-gradient(top, #337ab7 0%, #286090 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
    background-image: linear-gradient(to bottom, #337ab7 0%, #286090 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
    background-repeat: repeat-x;
}

.dz-preview.dz-processing .dz-progress {
    display: block;
}

.dz-preview .dz-success-mark, .dz-preview .dz-error-mark {
    display: none;
    position: relative;
    font-size: 20px;
}

.dz-preview .dz-logo-spin, .dz-preview .dz-error-mark {
    position: relative;

}

.dz-preview .dz-success-mark {
    color: #449d44;
}

.dz-preview .dz-error-mark {
    color: #ee162d;
}

.dz-preview.dz-error .dz-error-mark {
    display: block;
}

.dz-preview.dz-success .dz-success-mark {
    display: inline-flex;
}

.dz-preview .dz-error-message {
    display: none;
    position: absolute;
    top: -5px;
    left: -20px;
    background: rgba(245, 245, 245, 0.8);
    padding: 8px 10px;
    color: #800;
    min-width: 120px;
    max-width: 500px;
    z-index: 500;
}

.dz-preview:hover.dz-error .dz-error-message {
    display: block;
}

.drop-zone-format {
    background: rgba(255, 255, 255, .49);
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ddd;
    -webkit-transition: background .4s ease;
    -moz-transition: background .4s ease;
    -o-transition: background .4s ease;
    transition: background .4s ease, box-shadow 0.4s ease;
}

.drop-zone-format:hover {
    border: 1px solid #5cb85c;
    background: #E0EBF3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.drop-zone-format::after {
    transition: opacity 0.4s ease-in-out;
}

.drop-zone-invis {
    display: none;
}

/*.drop-zone-btns {*/
    /*right: 8px;*/
    /*top: 2px;*/
    /*position: relative;*/
/*}*/

.dz-share {
    position: relative;
    bottom: 0;
    right: 0;
    cursor: pointer;
    -webkit-transition: color .4s ease;
    -moz-transition: color .4s ease;
    -o-transition: color .4s ease;
    transition: color 0.4s ease;
}
/*}*/
/*.dz-share.dz-share-success {*/
    /*display:block;*/
/*}*/

.dz-share:hover {
    color: #337ab7;
}

.dz-p {
    /*border-bottom: 2px solid #999;*/
    margin: auto;
    width: 100%;
    margin-top: 10px;
    text-align:left;
    color: #333333;
    font-size: 30px;
}

.dz-font {
    font-size: 20px;
}

.dz-cursor-default {
    cursor: default;
}

.dz-body-height {
    min-height: 140px;
}

.dz-link-style {
    height: 30px;
    color: #333333;
}

.dz-center {
    align-items:center;
    display:flex;
    min-width:50%;
}
