.fangorn-dismiss {
	float: right;
	padding: 0 5px;
	color: #999;
	font-size: 15px;
	margin-top: -3px;
	cursor: pointer;
}
.fangorn-dismiss:hover { 
	background: #eee;
	border-radius: 10px;
};

.fangorn-dz-hover {
	background: #BEF8FF;
}
.fangorn-spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}