
.fangorn-spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.fangorn-loading {
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	background: #EAEAEA;
	padding: 20px;
	border-radius: 4px;
}
.fangorn-dz-hover {
	background: #BEF8FF;
}

.alert-deleting {
	background: #F5F5F5;
color: #F00;
text-align: center;
}

.tb-td .btn {
	margin-right: 5px;
}

.fangorn-hover {
    background: #F4F5DF;
}