
/* Main Wrapper */
.fileBrowser {
    height: 500px;
    width: 100%;
}

/* Header with breadcrumbs and cuttons */

.fb-header {
    background-color: #f8f8f8;
    padding: 5px;
}
.fb-breadcrumbs {
    width: 60%;
    display : inline-block;
}
.fb-breadcrumbs ul, .fb-collections ul, .fb-filters ul {
    padding: 0;
    list-style: none;
}
.fb-breadcrumbs ul li {
    display: inline;
    padding: 0 3px;
}
.fb-breadcrumbs>ul>li>.fa {
    margin-left: 5px;
    color: #999999;
}
.fb-buttonRow {
    width: 40%;
    text-align: right;
    display: inline-block;
}
.filterReset {
    font-size: 20px;
    color: #999;
    float: right;
    margin-top: -33px; /* to align with input box */
    margin-right: 5px;
    cursor: default;
    font-weight: bold;
}


/* Sidebar with Collections and filters*/
.fb-sidebar {
    width: 20%;
    display: block;
    height: 535px;
    float: left;
    background-color: #fff;
    padding: 10px;
}
.fb-collections ul li , .fb-filters ul li {
    padding: 3px 0;
    border-left: 3px solid #FFFFFF;
}
.fb-collections h4 , .fb-filters h4 {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.fb-collections ul li.active, .fb-filters ul li.active {
    background-color: #f8f8f8;
    border-left: 3px solid #337AB7;
}

.fb-collections ul>li, .fb-filters ul>li {
    padding: 5px;
}

.fb-sidebar h5>.fa {
    color: #666;
    margin-right: 5px;
}
/* Main column with Projects */

.fb-main {
    float: left;
    padding: 0 0 1px 0;
    /* width is set as inline style in file-browser.js because is changes based on informatin panel visibility */
}

/* Information Panel */
.fb-infobar {
    background-color: #fafafa;
    height: 535px;
    padding: 10px;
    float: left;
    width: 30%;
}
}
