.hgrid {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}


.slick-cell.cell-reorder {
    cursor: move;
    background: url('../img/hgrid/drag-handle.png') no-repeat center center;
}

.toggle, .folder, .file {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-bottom: -3px;
    padding-right: 3px;
}

.dash-page .slick-header {
    display: none
}

.toggle.expand {
    background: url('../img/hgrid/expand.gif') no-repeat center center;
}

.folder-close {
    background: url('../img/hgrid/fatcowicons/folder.png') no-repeat left top;
}

.folder-open {
    background: url('../img/hgrid/fatcowicons/folder_horizontal_closed.png') no-repeat left top;
}

.file {
    background: url('../img/hgrid/file.png') no-repeat left top;
}

.toggle.collapse {
    background: url('../img/hgrid/collapse.gif') no-repeat center center;
}

.toggle.spacer {
    width: 32px;
}

.slick-row.dragger-guide {
    background-color: rgba(0,0,255,0.5);
}

.slick-viewport.dragger-guide1{
    border: 5px solid rgba(0,0,255,0.5);
}


/* slick.grid.css
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
  width: 100%;
  overflow: hidden;
  border-left: 0px;
}

.slick-header-columns, .slick-headerrow-columns {
  position: relative;
  white-space: nowrap;
  cursor: default;
  overflow: hidden;
}

.slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 16px;
  line-height: 16px;
  margin: 0;
  padding: 4px;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
  font-weight: normal;
  color: #000000
}

.slick-headerrow-column.ui-state-default {
  padding: 4px;
}

.slick-header-column-sorted {
  font-style: italic;
}

.slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
  margin-top: 6px;
  float: left;
}

.slick-sort-indicator-desc {
  background: url('../img/hgrid/sort-desc.gif');
}

.slick-sort-indicator-asc {
  background: url('../img/hgrid/sort-asc.gif');
}

.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 4px;
  right: 0px;
  top: 0;
  height: 100%;
}

.slick-sortable-placeholder {
  background: silver;
}

.grid-canvas {
  position: relative;
  outline: 0;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

.slick-cell, .slick-headerrow-column {
  position: absolute;
  border: 0px solid transparent;
  border-right: 0px dotted silver;
  border-bottom-color: silver;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;
  white-space: nowrap;
  cursor: default;
}

.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

.slick-cell:focus {
  outline: none;
}

.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.slick-header-columns {
  background: url('../img/hgrid/header-columns-bg.gif') repeat-x center bottom;
  border-bottom: 1px solid silver;
}

.slick-header-column {
  background: url('../img/hgrid/header-columns-bg.gif') repeat-x center bottom;
  border-right: 1px solid silver;
}

.slick-header-sortable:hover, .slick-header-column-active {
  background: white url('../img/hgrid/header-columns-over-bg.gif') repeat-x center bottom;
}

.slick-row {
  position: absolute;
  background: white;
  border: 0px;
  line-height: 20px;
}

.slick-sortable-placeholder {
  background: silver !important;
}

.dz-preview, .dz-message {
    display: none;
}