#navbarScope .btn-top-signup {
  padding: 2px 20px;
  margin-top: 5px;
  line-height: 1.7;
  background-color: #5cb85c;
  border-color: #4cae4c;  }

.navbar-donate-button a{
  color: #9cd59c !important;
}
