/* class css */

li.ob-list {
	margin-bottom: 10px;
	border-style: dashed;
}

.ob-heading {
	display:inline;

	margin: 5px;
	margin-bottom: 20px;
}

.ob-expand-icon{
	margin-top:6px;
	height: 14px;
}

.typeAheadDisabled{
	disabled="disabled";
    height: 110%;
    font-size: 18px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;

}

.ob-reveal {
	display: none;
}

.ob-reveal-btn{
	height: 100%;
	width: 100%;
}

.ob-dropzone-box{
	border-radius:8px;
	position:relative;
	float:left;
	height: 150px;  
	width: 100%; 
	font-size: 12px;
	text-align: center;
	border: solid 2px #ccc;
}

.ob-clear-button{
	position:absolute;
	z-index: 1;
	top: -12px;
	right: -12px;
}

.ob-unselectable{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.ob-clear-button:hover{
	cursor: pointer;
}

.obDropText{
	font-family: inherit;
	font-weight: 500;
	font-size: 18px;
}

.projectSearchAddFile{
	width:100%;
}

/*this exists to force sizing properly as typeahead tries desperately to overwrite it...*/
.twitter-typeahead{
	display: block !important;
}

#inputProjectRegisterProject{
	width:100%;
}

#addLinkRegisterProject {
	margin-top:20px;
}

#obRegisterProjectBtn:hover{
	cursor: pointer;
	}

#obNewProjectBtn:hover{
	cursor: pointer;
	}

#obDropzoneFilename{
	margin-top:10px;
	font-family: "Lucida Console", Monaco, monospace;	
}

#obDropzone{
	background-image: url("/static/img/upload.png");	
	background-repeat:no-repeat;
	background-position:center;
}

#obDropzoneSelected{
	border: solid 2px LightGreen;
	background-color:#f5f5f5;
}

#uploadIcon{
	height:90px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

#uploadProgress {
	text-align:center;
}

#projectSearchAddFile{
	position:relative;
	text-align: center; 
}

#inputProjectAddFile{
	width:100%;
}

#addLinkAddFile{
	margin-top: 20px;
	disabled="disabled";
	display:none;
}

#fakeAddLinkAddFile{
	margin-top: 20px;
	disabled="disabled";
}
