/* Contributor List */
#contributors {
    margin-bottom:10px;
}

#contributors #description {
    vertical-align: top;
}

#contributors ol {
    margin:0;
    padding:0;
    display:inline;
}

#contributors ol li {
    list-style-type:none;
    display:inline;
    white-space: nowrap;
}

#contributors ol li:after {
    content: ",";
}

#contributors ol li:last-child:after {
    content: "";
}

.contributor-name {
    margin-right: -4px;
}