
.outline-row {
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333
}

.left-col-outline {
   border-left: 2px solid #333333
}

.right-col-outline {
    border-right: 2px solid #333333

}

button {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.load-nodes {
    font-size: 2em;
}

