.registrations-view {
    min-height: 400px;
}
.btn-group-vertical {
    width: 100%;
}
.registration-editor-question{
    color: #333333;
    cursor: pointer;
}
.registration-editor-question-current{
    color: #337AB7;
    font-weight: 900;
    font-size: 120%;
}
#selectedFile{
    font-weight: 500;
}
#fileName{
	font-weight: 300;
}
.row-title{
	font-weight: 300;
}
.schema-fulfillment{
    margin: 20px;
}
.draft-status-badge{
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 10px;
}
