.registrations-view {
    min-height: 400px;
}
.registration-editor-question{
    color: #333333;
    cursor: pointer;
}
.registration-editor-question-current{
    color: #337AB7;
    font-weight: 900;
    font-size: 120%;
}
