.slick-row{
    height: 30px !important;
}

.slick-cell, .hg-cell{
    height: 100% !important;
    border: 0px !important;
}

.hg-btn {
    margin-right: 6px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 14px;
  line-height: 14px;
}

.btn-default.btn-mini:hover,
.btn-default.btn-mini:focus,
.btn-default.btn-mini:active,
.btn-default.btn-mini.active,
.open .dropdown-toggle.btn-default.btn-mini {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-primary.btn-mini:hover,
.btn-primary.btn-mini:focus,
.btn-primary.btn-mini:active,
.btn-primary.btn-mini.active,
.open .dropdown-toggle.btn-primary.btn-mini {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-delete {
  color: #999999;
  visibility: hidden;
}

.slick-row:hover .btn-delete {
  visibility: visible;
}

.btn-delete:hover {
    text-decoration: none;
}

.hg-extras{
    text-decoration: none !important;
    cursor: pointer;
}

.hg-item-name:hover,
.hg-folder-text:hover,
.hg-folder-public:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.hg-folder-private {
  text-decoration: none !important;
  color: #cccccc;
}

.search-input {
  width: 250px;
}

.hg-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-bottom: 3px;
    padding-right: 3px;
    margin-left: 5px;
    -webkit-user-drag: none;
}

.hg-addon-icon {
    height: 16px;
    width: 16px;
    margin-right: 3px;
    -webkit-user-drag: none;
}

.hgrid .slick-row.hg-upload-processing {
  background-color: inherit;
  opacity: 100%;
}

.hg-cell img {
  display: inline;
}

.highlight-denied {
  background-color: #ff6666;
}

.highlight-denied .hg-folder-text {
  color: white;
}

.btn-delete:hover {
  color: #b94a48;
}
