@font-face {
  font-family: yanonekaffeesatz;
  src: url(/static/css/font/share/YanoneKaffeesatz-Regular.ttf);
  font-weight: 400;

}

.share-link {
  color: darkgrey;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.share-link:hover {
  border-bottom-width: 0px;
}

.about-share-header {
  color: lightgrey;
  text-align: center;
  font-family: yanonekaffeesatz;
  -webkit-animation-delay: 0.5s;
  margin-left: 10px;
  font-size: 4.5em;
  vertical-align: middle;
}

.share-search-input:focus {
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #ccc;
}

.share-search-input {
 background: none;
  border: 1px solid #eee;
  box-shadow: none;
  border-radius: 0;
  height: 70px;
  padding: 20px 20px;
  font-size: 21px;
  color: #214762;
  font-weight: 300;
}

.stats-expand:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f9f9f9));
  background: -moz-linear-gradient(top, #fff, #f9f9f9);
  background: -webkit-linear-gradient(top, #fff, #f9f9f9);
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  color: #333;
  text-decoration: none;
  border-color: #c0c0c0
}

.stats-expand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  height: 19px;
  margin-bottom: 0px;
  background-color: inherit;
  text-align: center;
  color: #777;
  border: 1px solid transparent;
  /* border-top-color: #e4e4e4 */
}

.search-helper {
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.search-content {
  margin-top: 30px;
}

.provider-filter {
  background: #f5f5f5;
  margin: 4px 0;
  padding: 9px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.provider-filter.in-filter {
  background: #337ab7;
  color: white;
}

.sidebar-header {
  margin: 12px 0 7px 0;
  font-size: 19px;
  border-bottom: 1px solid #eee;
  padding: 3px 0;
  font-weight: 300;
}

.li.render-filter {
  padding: 1px;
  font-size: 15px;
}

p.readable {
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  margin: 5px 0;
}

.c3 path, .c3 line {
fill: none;
stroke: #BAB5B5;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: lightgrey;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: lightgrey;
}

.info_bullets li {
  font-size: 150%;
}

