/* Body and structure
-------------------------------------------------- */

/*News page*/
.spacer {
    height: 20px;
}
.dashes {
    background: url("/static/img/stripes.png");
}
.table-month {
    padding: 20px 20px 20px 20px;
    height: 100px;
    width: 150px;
    background-color:#D9E8F4 ;
    font-family: 'Carrois Gothic', Helvetica;
    font-size: 18px;
    font-weight: bold;
}

.table-description{
    padding-left: 50px;
}

/* Getting Started */


.gs-sidenav > .active > a {

    padding: 9px 15px;
    font-weight: bold;
}
.gs-sidenav li {
    height: 25px;
}
.gs-sidenav a {
    height: 25px;
}
.gs-sidenav li i {
    display: none
}

.gs-sidenav .active i {
    display: inline-block;
}

.nav .little-nav>li>a {
 font-size: 12px;
 opacity: .8;
 padding-left: 30px;

}

.nav .little-nav> li>a>i{
    display:none;
}
.nav .little-nav> li > a:hover {
    background: none;
    font-weight: bold;
}
.gs-sidenav> li > a:hover {
     background: none;
    font-weight: bold;
}

.nav .little-nav .active a{
    font-weight: bold;
}
.nav .little-nav .active i {
    display: inline-block;
}

 .gs-video {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
     border: solid 1px #ddd;
     width: 560px;
     height: 315px;
 ;
    }
 .gs-count {
     margin-bottom: 20px;
     margin-top: 50px;
 }

 .gs-header {
         display: block;
    font-family: 'Patua One', cursive;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

 }

#conferenceViewTable td {
    vertical-align: middle;
}

/*CSS Johanna added for front page*/

/* Knockout Validation Styles */

.validationMessage { color: #a94442; }
.customMessage { color: #ed9c28; }

.hideValidation .validationMessage { display: none; }

.hpLink:hover{
    text-decoration: none;
    color: red;
}

#hpContainerOne{
    height: 520px;
}
#hpContainerTwo {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    clear: both;
}

#hpContainerTwo  .featureDescriptions  .col-md-4  img {
    height: 85px;
    margin-bottom: 25px;
    padding-top: 5px;
}

#hpContainerThree {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    clear: both;
}
#containerOneHeader {
    float: left;
    margin-top: 50px;
}
.headOne {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 50px;
    color: black;
}

.headTwo {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 40px;
    color: black;
}
.subHeadOne {
    font-family: 'Inika', Helvetica;
    font-size: 24px;
    letter-spacing: 1px;
}
.subHeadTwo {
    font-size: 30px;
    font-family: 'Patua One', Helvetica;
    letter-spacing: 1px;
}
.subHeadThree {
    font-size: 28px;
    color: #4089C7;
    font-family: 'Patua One', Helvetica;
    letter-spacing: 1px;
}
.subHeadFour {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 36px;
    color: black;
}
.sign-up {
    margin-top: 50px;
    background: #aad4f7;
    float: right;
    padding: 30px 30px 30px 30px;
    border: solid #bacfd8 1px;
}
.sign-up .form-control {
    margin-top: 20px;
    height: 40px;
}
.sign-up .btn {
    font-family: 'Inika', Helvetica;
    font-size: 28px;
    letter-spacing: 1pt;
    margin-top: 40px;
    float: right;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.header {
    display: block;
    font-family: 'Patua One', cursive;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 70px;
}

.featureDescriptions {
    padding-top: 75px;
    font-size: 22px;
    font-family: 'Carrois Gothic', sans-serif;
}

.featureDescriptions .featureInfo {
    font-family: 'Inika', serif;
    font-size: 16px;
}
.steps {
    padding-bottom: 20px;
    padding-top: 20px;
}

.stepsText {
    font-family: 'Inika', serif;
    font-size: 16px;
}

.padded {
    padding-top: 20px;
    padding-bottom: 20px;
}

.empty {
    height: 500px;
}
.verticalline {
border-left:  thin solid #D9E8F4;
}

#carousel-control-left-blue{
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(right, #FFFFFF 50%, #D9E8F4 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(right, #FFFFFF 50%, #D9E8F4 100%);

/* Opera */
background-image: -o-linear-gradient(right, #FFFFFF 50%, #D9E8F4 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left top, color-stop(.50, #FFFFFF), color-stop(1, #D9E8F4));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(right, #FFFFFF 50%, #D9E8F4 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to left, #FFFFFF 50%, #D9E8F4 100%);

}

#carousel-control-right-blue{
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(left, #FFFFFF 50%, #D9E8F4 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(left, #FFFFFF 50%, #D9E8F4 100%);

/* Opera */
background-image: -o-linear-gradient(left, #FFFFFF 50%, #D9E8F4 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left top, color-stop(.50, #FFFFFF), color-stop(1, #D9E8F4));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(left, #FFFFFF 50%, #D9E8F4 100%);

/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to right, #FFFFFF 50%, #D9E8F4 100%);
}

.FP_Header {
color: #b4b4b4;
font-weight: bold;

}

.FP_Question{
color: #b4b4b4;
font-weight: bold;
font-size:500%
}

.FP_Center {
text-align: center;
}

#FP_great {
color: #b4b4b4;
}

.video_header {
background-color: #D9E8F4;
opacity:.3;

}

#video_font_head {
color: #428bca;
font-weight: bold;
}

.hrBlue {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #D9E8F4;
}


/*End Johanna's CSS*/

/* Knockout Validation Styles */

.validationMessage { color: #d9534f; }
.customMessage { color: #ed9c28; }

.spaced-buttons { margin-top: 10px; }

/*
'Modern Business' HTML Theme. Licensed under Apache 2.0.
*/

/* Global Styles */

html, body {
  height:100%;
}

body {
  padding-top: 70px; /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
  position: relative;
  padding-top: 60px;
  background-color: #fff;
}

a.disabled {
    color: grey;
    cursor: default;
}

a.btn-primary.disabled {
    color: white;
}

#addPointer td {
    vertical-align: middle;
}

li.pointer {
    border-style: dashed;
}

/* Add-on styles */

.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body {
    padding: 5px;
    background-color: white;
}

.comment-author {
    color: #999999;
}

.comment-date {
    color: #999999;
}
.edit-comment {
    background-color: #F3F3F3;
    cursor: pointer;
}

.comment-body i {
    cursor: pointer;
    padding-right: 5px;
}

.comment-handle-icon {
    color: white;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
}

.addon-auth {
    margin-top: 4.8px;
}

/* Make embedded iframes responsive */
.addon-widget-container iframe {
    max-width: 100%;
}

.comment-error {
    color: #a94442;
}

.addon-widget-container:first-of-type h1,
.addon-widget-container:first-of-type h2,
.addon-widget-container:first-of-type h3 {
    margin-top: 0;
}

/* Make wiki images responsive */
.wiki img,
.addon-widget-container img {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

img.hg-addon-icon {
    width: 16px;
    display: inline;
    vertical-align: middle;
}

/* End add-on styles */

.citation-label {
    font-weight: bold;
}

.citation-list {
    display: none;
}

.citation-text {
    text-indent: -3em;
    margin-left: 3em;
}

.disabled {
    cursor: default !important;
    pointer-events: none;
}

.editing .display,
.edit {
    display: none;
}
.editing .edit {
    display: block;
}

h4 {
    padding-bottom: 10px;
}

.social img {
    padding: 0px 0px 10px 0px;
}

.social {
    padding-right: 60px;
}



/* Navbar */
.navbar .search-query {
    width:190px
}

.tab-pane {
  margin-top: 15px;
}


/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}


/* Half Page Height Carousel Customization */


.carousel {
  height: 50%;
}

.item,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* End Modern Biz theme */

.content {
    padding-top: 30px;
}

/* Footer Styles */


.footer a i {
    color: #666666;
}

@media (min-width: 992px) {
    .left-margin {
        margin-left: 2.083332%;
    }

    .custom-offset-left {
        margin-left: 15.625%;
    }

    .custom-offset-right {
        margin-right: 15.625%;
    }
}

.header-image {
    background: url(http://placehold.it/200x300) repeat;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
    background-position: top;
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
}

.headline {
    padding: 20px 0;
}

.tagline {
    color: #7e7e7e;
}

.headline > .container > h1 {
    font-size: 130px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}

.headline > .container > h2 {
    font-size: 70px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}

.featurette-divider {
    margin: 80px 0;
}
.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

.table-less {
    max-height: 140px;
    overflow-y: hidden;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {

.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
  background-color: #fff;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

/* Universal
-------------------------------------------------- */

.centered{
    float: none;
    margin: 0 auto;
}

.btn-xl {
padding: 10px 16px;
font-size: 40px;
line-height: 1.33;
border-radius: 6px;
}

.brand-version {
    font-size: 8px;
}


/* Profile gravatar
-------------------------------------------------- */
#profile-gravatar{
    float:left;
    margin-right:.5em;
    width:40px;
    height:40px;
}

/* Data Vis
-------------------------------------------------- */
/* Activity meters (user profile) */
.ua_meter_legend ul{
    list-style:none;
}
.ua_meter_legend li{
    display:inline;
    float:left;
}
.user-activity-meter{
    height: 10px;
    margin: 8px 0px;
}
.user-activity-meter ul{
    height:100%;
    list-style:none;
    padding-left: 0px;
}
.user-activity-meter ul li{
    display:inline;
    float:left;
    height:100%;
}

.pa-meter{
    background:#4572A7;
}
.ua-meter{
    background:#89A54E;
}
.pa-meter-label{
    margin: -4px 0 0 5px;
    font-size: 11px;
}


/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 25px 0 35px;
  background-color: #eee;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  color: #555;
}

.footer h4{}

.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Copyright
-------------------------------------------------- */
.copyright{
    padding-top: 10px;
    text-align: center;
    background: #fff;
    width: 100%;

}

/*****************************************************/
table.table.table-plain th, table.table.table-plain td {
  text-align: left;
  border-top: 0px solid #ddd;
}

ul#projects-list{
    list-style-image:url('/static/img/folder.gif');
    width:210px;
}

input.ui-autocomplete-input{
    /*Typically "!important" is not something we like to use, however
    in this case it was the simplest way to deal with a JavaScript-related
    issue regarding the order of specificity in CSS. */
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: 1px solid;
    border-color: #ccc;
    outline:0;
    background-color:#ffffff;
    color:#404040;
    text-shadow:none;
    padding:5px 10px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

/*****************************************************/

li.list-group-item-node {
    margin-bottom: 10px;
}

li .project-meta {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: normal;
    font-style: italic;
}

/*****************************************************/

li.node{
    margin:0;
    margin-bottom:10px;
    padding:0;
    list-style-type:none;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #DDD;
}

li.node h3{
    line-height:10px;
    font-size:14px;
    background-color:white;
    padding:10px;
    -webkit-border-radius:6px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius:6px;
    -moz-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    border-radius:6px;
    border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}

li.node div.body{
    border-top: 1px solid #EEE;
    padding: 10px;
}

li.node p.description{
    color: black;
}
li.node p.date{
    color: #888;
}

/***********/

h1.node-title, h1.node-parent-title {
  line-height: 36px;
  border-bottom: none;
  margin-top: 0.3em;
}

.btn-toolbar.node-control {
    margin-top: 0.9em;
}

.editable {
    border-bottom: none;
}

.editable:hover{
  background-color:#F3F3F3;
}

/* File list tables */

table tbody.files td {
    vertical-align:middle;
}

/* Custom icons */

.icon-fork {
    background-position: 0 -144px;
}

/* Modal forms */
div.modal form {
    margin:0;
}

.modal-subheader {
    font-size: 30px;
    margin-right: 10px;
}

div.modal div.modal-header h3.img-add {
    height:30px;
    padding-left:40px;
    background: url(/static/img/add_48.png) no-repeat;
    background-size: 30px;
    line-height:30px;
}

form.form-horizontal.form-horizontal-narrow .controls {
    margin-left: 50px;
}

form.form-horizontal.form-horizontal-narrow .control-group {
    padding-left:55px;
}


/* Static pages */
.staticpage img {
    border:2px solid black;
}
.staticpage p { font-size: 14px; }

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  margin-bottom: 15px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}5.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1030;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

/* Project page */


#addContributors table {
    border-collapse: separate;
    border-spacing: 5px;
}

#manageContributors td {
    vertical-align: middle;
}

#addContributors .error {
    color: red;
}

#node-tags_tagsinput {
    margin-bottom: 20px;
}

li.unavailable {
    border-style: dashed;
}

h1.unavailable {
    font-style: italic;
}

/* Search */
.nested
    {
        padding-left: 25px;
    }
.navigate
    {
        padding:25px;
        font-size: 18px;
    }
.title h4
    {
        padding: 0px;
        margin: 0px;
    }
.description h5
    {
        padding: 5px;
        margin: 0px;
    }
/* Search Contributors */

.search-contributor-result td {
    padding-right: 10px;
}


/* Markdown editing */

.wmd-panel
{
    width: 100%;
}

.wmd-button-bar
{
    width: 100%;
    background-color: Silver;
}

.wmd-input
{
    border: 1px solid DarkGray;
}


.wmd-button-row
{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../vendor/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/* Sidenav */
.osf-sidenav.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.osf-sidenav .nav > li > a {
  display: block;
  /*color: #716b7a;*/
  color: #006699;
  padding: 5px 20px;
  font-weight: bold;
}
.osf-sidenav .nav > li > a:hover,
.osf-sidenav .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.osf-sidenav .nav > .active > a,
.osf-sidenav .nav > .active:hover > a,
.osf-sidenav .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.osf-sidenav .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.osf-sidenav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .osf-sidenav .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .osf-sidenav.affix,
  .osf-sidenav.affix-bottom {
    width: 213px;
  }
  .osf-sidenav.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .osf-sidenav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .osf-sidenav.affix-bottom .bs-sidenav,
  .osf-sidenav.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .osf-sidenav.affix-bottom,
  .osf-sidenav.affix {
    width: 263px;
  }
}

/* Logs */

.log-file-link {
    cursor: pointer;
}

.log-date {
    font-size: 13px;
}

.alert a.alert-link {
    text-decoration: underline;
}

.overflow {
    word-wrap: break-word;
    max-width: 100%;
}

.preview-overflow{
    overflow:hidden;
    width:100%;
}

div#logScope a.moreLogs{
    margin-left: 50px;
}

/* private_link*/

.narrow-list{
    margin: 0px 0px;
    list-style: none;
}

#generate-private-link {
    margin: 20px 20px;
}

.text-align{
    margin-left: 7px;
}

.private-link-name{
    width: 60%
}

.list-overflow{
    max-height: 200px;
    overflow-y: auto;
}

#privateLinkTable .tooltip{
    word-wrap: break-word;
}

.more-link-node{
    margin-top: 5px;
}

.link-url{
    padding: 1px;
    border-left: 0px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    color: grey;
}

#privateLinkTable .btn-group .btn-mini{
    padding:5px;
}

/* Contributors list */

#contributors {
    margin-bottom:10px;
}

#contributors ol {
    margin:0;
    padding:0;
    display:inline;
}

#contributors ol li {
    list-style-type:none;
    display:inline;
    white-space: nowrap;
}

#contributors ol li:after {
    content: ",";
}

#contributors ol li:last-child:after {
    content: "";
}

/* Contributor page */

#addContributors form .col-md-6 > a {
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 5px;
    display: block;
}

#addContributors form .col-md-6 > a:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.contributor-self {
    font-weight: bold;
}
.contributor .btn-remove {
    display: none;
    cursor: pointer;
}
.contributor:hover .btn-remove,
.contributor-self .btn-remove {
    display: inline;
    cursor: pointer;
}

.contributor-delete-staged {
    background-color: #eeeeee;
}

li.contributor-list-item a.remove-contributor {
    margin-top:23px;
    margin-right:20px;
    float:right;
}

li.contributor-list-item img {
    margin-left:25px;
}

li.contributor-list-item a.name {
    margin-left:30px;
}

.contributor-anonymous {
    font-style: italic;
}

/* Handle popovers inside modals */
.popover {
    z-index: 999999;
}

.add-contributor {
    padding: 6px 18px;
}

.contributorTitle {
    font-size:150%;
}

.selectControl {
    font-size:95%;
}

.break {
    margin-bottom:20px;
}

button.sort {
    margin-left: 6%;
}

button.cancel {
    margin-left: 5%;
}

button.save {
    padding: 6px 17px;
}

/* Modular File Renderer */
.mfr-slickgrid {
    width: 750px;
    height: 503px;
    overflow: auto;
}

.mfr-pdf-button-container {
    display: inline-block;
    vertical-align: top;
}

.mfr-pdf-button {
    height: 500px;
    width: 25px;
    display:inline-block;
    background: #F5F5F5;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    border-style:none;
    -webkit-box-shadow: none;
}

.mfr-pdf-button.active {
    background: #D0D0D0;
}

.mfr-pdf-arrow.disabled {
    /*background: white;*/
    visibility:hidden;
}

.mfr-ipynb-body {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

.mfr-file > img {
    max-width:100%
}


.editable {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.btn-remove-contrib {
  cursor: pointer;
}

.contributor-unregistered {
  cursor: pointer;
}

.contributor-unregistered:hover{
  background-color: #F3F3F3;
}

.collapse-button {
   color: #b0b0b0;
}

.collapse-button:hover {
    color: #505050;
}

/* jQuery UI Autocomplete (WTForms Widget) */
.ui-autocomplete-category { font-weight: bold }

.tagsinput .tag span { cursor:pointer; }

/* Badging interface CSS*/
.btn-success.editable:hover {
    background-color: #419641;
}

.badge-list {
  max-height:200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.badge-list img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-badge-list {
  max-height:200px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-flex;
  padding-top: 10px;
}

.profile-badge-list div {
  margin: 5px;
}

.profile-badge-list img {
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-badge-list span {
  display: block;
}

.scripted {display: none;}

.pointer {cursor: pointer;}

@media (max-width:991px){
    #features-nav, [role=complementary] {
        display:none
    }
}

#duplicateModal h4 {
    line-height: 34px;
}

.well-inline {
    padding:6px 12px;
    line-height:20px;
    font-weight:normal;
    font-size:14px;
}
