/* Body and structure
-------------------------------------------------- */

html, body {
}

body {
    padding-top: 50px; /* body padding for fixed top nav */
    position: relative; /* for bootstrap affix */
}

/*News page*/
.spacer {
    height: 20px;
}
.dashes {
    background: url("/static/img/stripes.png");
}
.table-month {
    padding: 20px 20px 20px 20px;
    height: 100px;
    width: 150px;
    background-color:#D9E8F4 ;
    font-family: 'Carrois Gothic', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.table-description{
    padding-left: 50px;
}
/* login Page */
.forget-password{
    display: inline-block;
    vertical-align: middle;
    line-height: 34px;
}

/* Getting Started */

/* links */
.gs-sidebar .nav a,
.gs-sidebar .nav a:hover,
.gs-sidebar .nav a:focus {

    text-decoration: none;
    background-color: transparent;
}
/* nested links */
.gs-sidebar .nav .nav>li>a {
    font-size: 12px;
    padding: 4px 0 4px 15px;
    opacity: 0.8;
    font-weight: bold;
}/* nested navs */
.gs-sidebar .nav .nav {
    display: none;
}
/* nested active navs */
.gs-sidebar .nav .active .nav {
    display: block;
}
/* nested link icons */
.gs-sidebar .nav .nav>li>a i {
    display: none;
}
/* nested active link icons */
.gs-sidebar .nav .nav>.active>a i {
    display: inline-block;
}
/* active & hover links */
.gs-sidebar .nav>.active>a,
.gs-sidebar .nav>li>a:hover,
.gs-sidebar .nav>li>a:focus {
    font-weight: bold;
}
/* nested active links */
.gs-sidebar .nav .nav>.active>a,
.gs-sidebar .nav .nav>.active:hover>a,
.gs-sidebar .nav .nav>.active:focus>a {
    font-weight: bold;
}
/* affixed sidebar */
.gs-sidebar,
.gs-sidebar.affix,
.gs-sidebar.affix-top {
    position: fixed;
    top: 70px;
}
.affix-bottom {
    position: relative;
}

/* embedded video */
.gs-video {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #ddd;
}

/* phase number counters */
.gs-count {
    margin-bottom: 20px;
    margin-top: 50px;
}

/* headers */
#conferenceViewTable td {
    vertical-align: middle;
}

/*CSS added for front page*/

/* Knockout Validation Styles */

.validationMessage { color: #A94442; }
.customMessage { color: #ed9c28; }

/* .hideValidation .validationMessage { display: none; } */


/* Home Page */
.hpLink:hover{
    text-decoration: none;
    color: red;
}
.hpContainerOne{
    margin-top: 0;
}
/* >= sm */
@media (min-width: 768px) {
    .hpContainerOne {
        margin-top: 50px;
    }
}
.headOne, /* TODO: cleanup getting started */
.hpHeadOne {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing: 1px;
    font-size: 40px;
    color: black;
}
/* >=sm */
@media (min-width: 768px) {
    .headOne, /* TODO: cleanup getting started */
    .hpHeadOne {
       font-size: 50px;
    }
}
.hpHeadTwo {
    padding-top: 70px;
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 40px;
    color: black;
}
.hpSubHeadOne {
    padding-bottom: 30px;
    font-family: 'Inika', Helvetica;
    font-size: 24px;
    letter-spacing: 1px;
}
.hpSubHeadTwo {
    font-size: 30px;
    font-family: 'Patua One', Helvetica;
    letter-spacing: 1px;
}
.hpSubHeadThree {
    font-size: 28px;
    color: #4089C7;
    font-family: 'Patua One', Helvetica;
    letter-spacing: 1px;
}
.subHeadFour, /* TODO: cleanup getting started */
.hpSubHeadFour {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 36px;
    color: black;
}
.hpSignUp {
    background: #aad4f7;
    padding: 30px 30px 30px 30px;
    border: solid #bacfd8 1px;
}
.hpSignUp .form-control {
    margin-top: 20px;
    height: 40px;
}
.hpSignUp .btn {
    font-family: 'Inika', Helvetica;
    font-size: 28px;
    letter-spacing: 1pt;
    margin-top: 40px;
}
.hpHeader {
    font-family: 'Patua One', cursive;
    font-size: 24px;
    padding-top: 70px;
}
.hpFeature {
    padding-bottom: 20px;
    padding-top: 70px;
    font-size: 22px;
    font-family: 'Carrois Gothic', sans-serif;
}
.hpFeature img {
    height: 85px;
    margin-bottom: 25px;
}
.hpFeature .hpFeatureInfo {
    font-family: 'Inika', serif;
    font-size: 16px;
}
.hpSteps {
    padding-bottom: 20px;
    padding-top: 20px;
}
.hpStepsText {
    font-family: 'Inika', serif;
    font-size: 16px;
    padding-top: 40px;
}


.padded {
    padding-top: 20px;
    padding-bottom: 20px;
}

.empty {
    height: 500px;
}
.verticalline {
    border-left:  thin solid #D9E8F4;
}



.FP_Header {
color: #b4b4b4;
font-weight: bold;

}

.FP_Question{
color: #b4b4b4;
font-weight: bold;
font-size:500%
}

.FP_Center {
text-align: center;
}

#FP_great {
color: #b4b4b4;
}

.video_header {
background-color: #D9E8F4;
opacity:.3;

}

#video_font_head {
color: #428bca;
font-weight: bold;
}

.hrBlue {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #D9E8F4;
}


/*End Johanna's CSS*/

/* Knockout Validation Styles */

.customMessage { color: #ed9c28; }

.spaced-buttons { margin-top: 10px; }

/*
'Modern Business' HTML Theme. Licensed under Apache 2.0.
*/

/* Global Styles */

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
  position: relative;
  padding-top: 60px;
  background-color: #fff;
}

a.disabled {
    color: grey;
    cursor: default;
}

a.btn-primary.disabled,
a.btn-success.disabled {
    color: white;
}

#addPointer td {
    vertical-align: middle;
}

li.pointer {
    border-style: dashed;
}

/* Add-on styles */

.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.comment-actions i {
    cursor: pointer;
}

.comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body {
    padding: 5px;
    background-color: white;
}

.comment-author {
    color: #999999;
}

.comment-date {
    color: #999999;
}
.edit-comment {
    background-color: #F3F3F3;
}

.comment-body i {
    padding-right: 5px;
}

.comment-handle-icon {
    color: white;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.unread-comments-count {
    font-size: medium;
    color: white;
    position: absolute;
    margin-left: 40px;
}

.addon-auth {
    margin-top: 4.8px;
}

.addon-message {
    padding-top: 20px;
}

/* Make embedded iframes responsive */
.addon-widget-container iframe {
    max-width: 100%;
}

.comment-error {
    color: #a94442;
}

.addon-widget-container:first-of-type h1,
.addon-widget-container:first-of-type h2,
.addon-widget-container:first-of-type h3 {
    margin-top: 0;
}

/* Style for Ace wiki editor */
.wiki-editor {
    position: relative;
    border: solid;
    border-width: 1px;
    width: 100%;
    margin: auto;
    -webkit-box-flex: 3 0 auto;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    height: 500px; /* this will get overwritten by flex box */
}

/* Make wiki images responsive */
.wiki img{
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

.addon-widget-container img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

img.hg-addon-icon {
    width: 16px;
    display: inline;
    vertical-align: middle;
}

/* End add-on styles */

.disabled {
    cursor: default !important;
    pointer-events: none;
}

.editing .display,
.edit {
    display: none;
}
.editing .edit {
    display: block;
}

/* TODO: Remove this - it's far too broad */
h4 {
    padding-bottom: 10px;
}

/* TODO: Remove this hack, due to the h4 rule immediately prior */
.bootbox h4 {
    padding-bottom: 0;
}

.social-icons img {
    padding: 0px 0px 0px 0px;
    line-height: 14px;
}

.social-gravatar {
    padding: 0px 0px 10px 0px;
    margin-top: 10px;
}

.social {
    padding-right: 60px;
}


/* Bootstrap Navbar */
.navbar .search-query {
    width:190px
}
/* Extra small devices */
@media (max-width: 767px) {
    .navbar-btn {
        margin-left: 15px;
    }

    /* navbar expand to fill entire display (visible logout button) */
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: none;
    }
}

.tab-pane {
  margin-top: 15px;
}


/* Page Sections */
.section,
.section-colored {
  padding: 50px 0;
}

.section-colored {
  background-color: #e1e1e1; /* change this to change the background color of a colored section */
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}


/* Half Page Height Carousel Customization */


.carousel {
  height: 50%;
}

.item,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* End Modern Biz theme */

.content {
    padding-top: 30px;
}

/* Footer Styles */


.footer a i {
    color: #666666;
}

@media (min-width: 992px) {
    .left-margin {
        margin-left: 2.083332%;
    }

    .custom-offset-left {
        margin-left: 15.625%;
    }

    .custom-offset-right {
        margin-right: 15.625%;
    }
}

.header-image {
    background: url(http://placehold.it/200x300) repeat;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
    background-position: top;
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
}

.headline {
    padding: 20px 0;
}

.tagline {
    color: #7e7e7e;
}

.headline > .container > h1 {
    font-size: 130px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}

.headline > .container > h2 {
    font-size: 70px;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
}

.featurette-divider {
    margin: 80px 0;
}
.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

.table-less {
    max-height: 140px;
    overflow-y: hidden;
}


/* Universal
-------------------------------------------------- */
.btn-xl {
    padding: 10px 16px;
    font-size: 40px;
    line-height: 1.33;
    border-radius: 6px;
}

.brand-version {
    font-size: 8px;
}


/* Profile gravatar
-------------------------------------------------- */
.profile-avatar{
    margin-right:.5em;
}
#profile-gravatar{
    width:70px;
    height:70px;
}

/* Data Vis
-------------------------------------------------- */
/* Activity progress bar (user profile) */
.progress-user-activity {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    max-height: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.progress-user-activity>.progress-bar:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.progress-user-activity>.progress-bar.last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 25px 0 35px;
  background-color: #eee;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  color: #555;
}

.footer h4{}

.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Copyright
-------------------------------------------------- */
.copyright{
    padding-top: 10px;
    text-align: center;
    background: #fff;
    width: 100%;

}

/*****************************************************/
table.table.table-plain th, table.table.table-plain td {
  text-align: left;
  border-top: 0px solid #ddd;
}

ul#projects-list{
    list-style-image:url('/static/img/folder.gif');
    width:210px;
}

input.ui-autocomplete-input{
    /*Typically "!important" is not something we like to use, however
    in this case it was the simplest way to deal with a JavaScript-related
    issue regarding the order of specificity in CSS. */
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: 1px solid;
    border-color: #ccc;
    outline:0;
    background-color:#ffffff;
    color:#404040;
    text-shadow:none;
    padding:5px 10px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

/*****************************************************/

li.list-group-item-node {
    margin-bottom: 10px;
}

li .project-meta {
    position: absolute;
    right: 10px;
    font-weight: normal;
    font-style: italic;
}

li .project-meta.pull-right {
    text-align:right;
}

/*****************************************************/

li.node{
    margin:0;
    margin-bottom:10px;
    padding:0;
    list-style-type:none;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    border: 1px solid #DDD;
}

li.node h3{
    line-height:10px;
    font-size:14px;
    background-color:white;
    padding:10px;
    -webkit-border-radius:6px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius:6px;
    -moz-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    border-radius:6px;
    border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}

li.node div.body{
    border-top: 1px solid #EEE;
    padding: 10px;
}

li.node p.description{
    color: black;
}
li.node p.date{
    color: #888;
}

/***********/

h1.node-title, h1.node-parent-title {
  line-height: 50px;
  border-bottom: none;
  margin-top: 0.3em;
}

.compare-version-text{
    margin-right: 5px;
    margin-left: 5px;
}

.wiki-title {
    line-height: 36px;
    border-bottom: none;
    margin-top: 0.2em;
    margin-bottom: 20px;
}

/* Extra small devices */
@media (max-width: 767px) {
    .wiki-title-xs {
        font-size: 20px;
        line-height: 20px;
    }
    .wiki-status-sm {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .wiki-status-lg {
        float: right;
        margin-left: 20px;
        display: inline-block;
    }
}

.osf-panel-header .fa-angle-right, .osf-panel-header .fa-angle-left {
    cursor: pointer;
}
.osf-panel-header .fa-list {
    color: #808080;
}

.osf-panel-body .superlist li {
    display: block;
    font-size: 20px;
}
.wiki-title-container {
    display: inline-block;
    width:60%;
}
.wiki-nav-closed .icon-stack-base {
    font-size: 20px;
}
.wiki-nav-closed .icon-plus {
    margin-left: -14px;
    font-size: 12px;
}

.wiki-component {
    list-style-type: none;
    padding-right: 20px;
}

.wiki-component li {
    margin-bottom: 8px;
}

.btn-toolbar.node-control {
    margin-top: 0.9em;
}

/* Bootstrap Editable */

.editable {
    border-bottom: none;
}

.editable:hover{
  background-color:#F3F3F3;
}

.editable-error-block  {
    font-size: 16px;
    max-width: 100%;
}

/* File list tables */

table tbody.files td {
    vertical-align:middle;
}

/* Custom icons */

.icon-fork {
    background-position: 0 -144px;
}

/* Modal forms */
div.modal form {
    margin:0;
}

.modal-subheader {
    font-size: 30px;
    margin-right: 10px;
}

div.modal div.modal-header h3.img-add {
    height:30px;
    padding-left:40px;
    background: url(/static/img/add_48.png) no-repeat;
    background-size: 30px;
    line-height:30px;
}

form.form-horizontal.form-horizontal-narrow .controls {
    margin-left: 50px;
}

form.form-horizontal.form-horizontal-narrow .control-group {
    padding-left:55px;
}


/* Project page */
#manageContributors td {
    vertical-align: middle;
}

#manageContributors .permissions {
    min-width: 140px;
}

#manageContributors .biblio {
    margin: 4px 60% 0 40%;
}

#addContributors table {
    border-collapse: separate;
    border-spacing: 5px;
}

#addContributors .error {
    color: red;
}

#node-tags_tagsinput {
    margin-bottom: 20px;
}

li.unavailable {
    border-style: dashed;
}

h1.unavailable {
    font-style: italic;
}

/* Project page has project navigation bar, which is fixed and therefore increases the offset the anchors need */
.project-page .anchor {
    margin-top: -100px;
    padding-top: 100px;
    display: block;
  z-index: -1;
  position: relative;
}

.anchor {
    margin-top: -60px;
    padding-top: 60px;
    display: block;
}

/* Search */
.add-query
    {
        width: 190px;
        margin-left: 10px;
        display: inline-block;
        font-weight: normal;
    }
.navigate
    {
        padding:25px;
        font-size: 18px;
    }
.remove-button
    {
        color: #ffffff;
    }
.search-types a
    {
        font-size: 16px;
    }
.tag-cloud
    {
    word-break: break-all;
    }

.tag-cloud .cloud-tag
{
    font-size: 11pt;
    display: inline-block;
    word-break: break-all;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.tag-cloud .cloud-tag:hover
{
    background-color: #31b0d5;
}
.tag-cloud .tag-big
{
    font-size: 13pt;
    background-color: #AABCDD;
}

.tag-cloud .tag-med
{
    font-size: 11pt;
    background-color: #CCDDEE;
}

.tag-cloud .tag-sm
{
    font-size: 9pt;
    background-color: #DDEEFF;
}

.tag-cloud h3
    {
        margin: 0;
    }

.registration a {
    color: #666;
}

.registration small{
    color: #000000;
}

.registration .tag-cloud .cloud-tag {
    background-color: #AAA;
    color: #ffffff;
}

.query-label
    {
        margin-right: .5em;
    }
.result
    {
        margin-bottom: 10px;
        overflow: hidden;
    }
.title h4
    {
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
    }
.private-title
    {
        font-weight: normal;
        font-style: italic;
    }
.search-field
    {
        padding: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 0;
        line-height: 16px;
    }
.search-field p
    {
        margin: 0;
    }
.description h5
    {
        padding: 0;
        padding-bottom: 4px;
        margin: 0;
        font-weight: normal;
        line-height: 16px;
    }
.search-tags
    {
        padding-top: 2px;
        line-height: 24px;
    }
.search-tags a
    {
        margin-right: .5em;
    }

div.search-result  {
    margin-bottom: 10pt;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
    overflow-x: hidden;
}



.search-results.search-result h5 small{
    color: white;
    font-size: 10pt;
}


.search-results.search-result {
    overflow-x: hidden;

}
/* Search Contributors */

.search-contributor-result td {
    padding-right: 10px;
}
.search-contributor-links {
    padding-top: 10px;
}


/* Markdown editing */

.wmd-panel
{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 620px;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wmd-panel .list-inline {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.wmd-button-bar
{
    width: 100%;
    background-color: Silver;
}

#wmd-button-bar{
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.wmd-input
{
    border: 1px solid DarkGray;
}


.wmd-button-row
{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
}

.wmd-spacer
{
    width: 1px;
    height: 20px;
    margin-left: 14px;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../../addons/wiki/static/pagedown-ace/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/* Sidenav */
.osf-sidenav {
    /* overflow-wrap css3 */
    word-wrap: break-word;
}

.osf-sidenav.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
}

/* All levels of nav */
.osf-sidenav .nav > li > a {
  display: block;
  /*color: #716b7a;*/
  color: #006699;
  padding: 5px;
  font-weight: bold;
}
.osf-sidenav .nav > li > a:hover,
.osf-sidenav .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.osf-sidenav .nav > .active > a,
.osf-sidenav .nav > .active:hover > a,
.osf-sidenav .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.osf-sidenav .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.osf-sidenav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .osf-sidenav .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .osf-sidenav.affix,
  .osf-sidenav.affix-bottom {
    width: 213px;
  }
  .osf-sidenav.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .osf-sidenav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .osf-sidenav.affix-bottom .bs-sidenav,
  .osf-sidenav.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.superlist li {
    display: inline-block;
    float: none;
}
.superlist li a {
    padding: 15px 10px;
}

@media (max-width: 768px) {
 .superlist.navbar-nav {
    margin: 0;
 }
}


@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .osf-sidenav.affix-bottom,
  .osf-sidenav.affix {
    width: 263px;
  }
}

/* Logs */
dl.activity-log dd {
    margin-bottom: 4px;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* wrap dl in col-sm-* grid layout */
    dl.activity-log dt {
        float: inherit;
        width: inherit;
        text-align: inherit;
    }
    dl.activity-log dd {
        margin-left: 0;
    }
}

.log-file-link {
    cursor: pointer;
}

.log-folder {
  font-style: italic;
}

.log-node-title-link {
    font-weight: bold;
}

.log-date {
    font-size: 13px;
}

.alert a.alert-link {
    text-decoration: underline;
}

.overflow {
    word-wrap: break-word;
    max-width: 100%;
}

.component-overflow {
    word-wrap: break-word;
    max-width: 90%;
    display: inline-block;
}

/* Need to use this class with a fixed width */
.overflow-block {
    display: block;
    word-wrap: break-word;
}

.preview-overflow{
    overflow:hidden;
    width:100%;
}


/* private_link*/

.narrow-list{
    margin: 0px 0px;
    list-style: none;
}

#generate-private-link {
    margin: 20px 20px;
}

.text-align{
    margin-left: 7px;
}

.list-overflow{
    max-height: 200px;
    overflow-y: auto;
}

#privateLinkTable .tooltip{
    word-wrap: break-word;
}

.more-link-node{
    margin-top: 5px;
}

.link-url{
    padding: 1px;
    border-left: 0px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    color: grey;
}

#privateLinkTable .btn-group .btn-mini{
    padding:5px;
}

/*#fileRevisions{*/
    /*margin-bottom: 625px;*/
/*}*/
thead.file-version-thread{
    display: block;
}

tbody.file-version{
    max-height: 580px;
    overflow-y: auto;
    display: inline-block;
}

/** The project and wiki name editable inputs should be larger
 * than the editable inputs elsewhere on the site.
 */
#projectScope .form-control, #wikiName .form-control {
    width: 400px;
}

.dotted-underline{
    color: #000;
    border-bottom: 1px dotted;
    text-decoration: none;
}
a.dotted-underline:hover {
    text-decoration: none;
}
/* Contributors list */

#contributors {
    margin-bottom:10px;
}

#contributors #description {
    vertical-align: top;
}

#contributors ol {
    margin:0;
    padding:0;
    display:inline;
}

#contributors ol li {
    list-style-type:none;
    display:inline;
    white-space: nowrap;
}

#contributors ol li:after {
    content: ",";
}

#contributors ol li:last-child:after {
    content: "";
}

.contributor-name {
    margin-right: -4px;
}

/* Contributor page */

#addContributors form .col-md-6 > a {
    border-top: 1px solid #eee;
    margin-top: 5px;
    padding-top: 5px;
    display: block;
}

#addContributors form .col-md-6 > a:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.contributor-self {
    font-weight: bold;
}
.contributor .btn-remove {
    display: none;
    cursor: pointer;
}
.contributor:hover .btn-remove,
.contributor-self .btn-remove {
    display: inline;
    cursor: pointer;
}

.contributor-delete-staged {
    background-color: #eeeeee;
}

li.contributor-list-item a.remove-contributor {
    margin-top:23px;
    margin-right:20px;
    float:right;
}

li.contributor-list-item img {
    margin-left:25px;
}

li.contributor-list-item a.name {
    margin-left:30px;
}

.contributor-anonymous {
    font-style: italic;
}

/* Handle paginator on add contributor modal */
#addContributors .pagination-sm li a, #addContributors .pagination-sm li span {
    padding: 5px 8px;
    font-size: 10px;
}

/* Handle popovers inside modals */
.popover {
    z-index: 999999;
}

.add-contributor {
    padding: 6px 18px;
}

.contributorTitle {
    font-size:150%;
}

.selectControl {
    font-size:95%;
}

.break {
    margin-bottom:20px;
}

button.sort {
    margin-left: 6%;
}

button.cancel {
    margin-left: 5%;
}

button.save {
    padding: 6px 17px;
}

/* Modular File Renderer */
.mfr-slickgrid {
    width: 750px;
    height: 503px;
    overflow: auto;
}

.mfr-pdf-button-container {
    display: inline-block;
    vertical-align: top;
}

.mfr-pdf-button {
    height: 500px;
    width: 25px;
    display:inline-block;
    background: #F5F5F5;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    border-style:none;
    -webkit-box-shadow: none;
}

.mfr-pdf-button.active {
    background: #D0D0D0;
}

.mfr-pdf-arrow.disabled {
    /*background: white;*/
    visibility:hidden;
}

.mfr-ipynb-body {
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

.mfr-file > img {
    max-width:100%
}


.editable {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.btn-remove-contrib {
  cursor: pointer;
}

.contributor-unregistered {
  cursor: pointer;
}

.contributor-unregistered:hover{
  background-color: #F3F3F3;
}

.collapse-button {
   color: #b0b0b0;
}

.collapse-button:hover {
    color: #505050;
}

/* Fix for pydocx bug */
div.pydocx-center{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

/* jQuery UI Autocomplete (WTForms Widget) */
.ui-autocomplete-category { font-weight: bold }

.tagsinput .tag span { cursor:pointer; }

/* Badging interface CSS*/
.btn-success.editable:hover {
    background-color: #419641;
}

.badge-list {
  max-height:200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.badge-list img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-badge-list {
  max-height:200px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-flex;
  padding-top: 10px;
}

.profile-badge-list div {
  margin: 5px;
}

.profile-badge-list img {
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}

.profile-badge-list span {
  display: block;
}

span.edit-profile-settings {
    display: block;
    text-align: right;
}

div.profile-fullname{
    display: block;
    position: relative;
    bottom: 0;
}

.avatar-div {
    display: table-cell;
    vertical-align: middle;
}

.name-div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}

.scripted {display: none;}

.pointer {cursor: pointer;}

#duplicateModal h4 {
    line-height: 34px;
}

.well-inline {
    padding:6px 12px;
    line-height:20px;
    font-weight:normal;
    font-size:14px;
}

.search-term-label,
.tag {
    white-space: pre;
}

/* Footer slide-in */

#footerSlideIn {
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    z-index:1;
    background-color:white;
    border-top:2px solid black;
    display:none;
}

#footerSlideIn h1 {
    margin-top:0;
}

#footerSlideIn img {
    width:100%;
}

#footerSlideIn div > a {
    margin-right: 5px;
    white-space: nowrap;
}

/* Necessary to handle lots of text in tooltips */
.tooltip-inner {
    overflow: hidden;
    text-overflow: ellipsis;
}




/* Revision changes for ui - experimental, should not be in production */


/* Main Navbar */
.osf-navbar {
    background-color: #214762;
    box-shadow: 0 0 3px #AEADAD;
    min-height: 40px;
}

.osf-navbar a {
    color: #FFF;
}

.osf-navbar .nav .open>a, .osf-navbar .nav .open>a:hover, .osf-navbar .nav .open>a:focus, .osf-navbar a:hover, .osf-navbar li > a:hover, .osf-navbar li.active, .osf-navbar li.a:focus, .osf-navbar .navbar-nav>li>a:focus {
    background: rgba(187, 187, 187, 0.2);
}
.osf-navbar .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 7px;
    line-height: 27px;
}

.navbar-brand {
    margin-left: 0 !important;
    height: 42px !important;
    line-height: 27px;
    padding: 8px 15px 7px 15px;
}

.osf-navbar .navbar-form {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
}

.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 3px;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.icon-lg {
    font-size: 20px;
    line-height: 26px;
}

.osf-navbar-logo {
    float: left;
    margin-right: 8px;
}

.osf-navbar .navbar-nav>li>a.btn {
    padding-top: 4px;
    padding-bottom: 3px;
    margin-top: 4px;
    margin-left: 8px;
}

.osf-gravatar > img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}


/* Project pages navigation */

.osf-project-navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 43px;
    background: #EEE;
    z-index: 99;
    box-shadow:0 0 9px -1px #838383;
    border-radius: 0;
    border: none;
    min-height:40px;
}

.osf-project-navbar li>a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
}



.osf-project-navbar .navbar-nav li>a:hover {
    background-color: #DADADA;
}

.osf-project-navbar li.active, .osf-project-navbar li.active a:hover, .osf-project-navbar li:hover{
    background-color: #337AB7;
}


.osf-project-navbar li.active a {
    color: white;
}

.osf-project-navbar a.project-title {
    font-weight: 300;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.m-v-lg {
    margin: 20px 0 20px 0;
}

.padder-lg-v {
    padding-top:20px;
    padding-bottom: 20px;
}

/*Dashboard */
.tab-content .components .addon-widget-body{
    min-height: 605px;
}

/* Project Dashboard */

.addon-widget-body .pagination {
    margin:0;
}

.csl-entry {
    display: inline;
}

.addon-widget-container {
    border:1px solid #ddd;
    margin-bottom: 20px;
}
.addon-widget-header {
    padding: 0 10px;
    background-color: #efefef;
    width: 100%;
}
.addon-widget-header .btn {
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 2px;
}
.addon-widget-header h4 {
    display: inline-block;
    float: left;
    margin-bottom: 0;

}
.addon-widget-body {
    padding: 15px;
    background-color: white;
    border-top: 1px solid #ddd;
}
.addon-widget-body .list-group-item {
    border: none;
    border-bottom: 1px dotted #999;;
}
.hgrid {
    border: 1px solid #E4E4E4;
    margin-top: 10px;
}
.node-title {
    line-height: 44px;
    border-bottom: none;
    margin-top: 0.3em;
    font-size: 36px;
    font-weight: 300;
}
.text-300 {
    font-weight: 300;
}


#projectSubnav .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.osf-dash-portlet {
    background-color: #eee;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 2px dashed #ddd;
}

.page-header.visible-xs {
    margin: 0;
}


@media (max-width: 767px) {
    .navbar .search-query {
        width: 100%;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
    }
    .osf-project-navbar li>a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .osf-project-navbar a.project-title {
    }
    .project-nav {
        overflow: hidden;
    }
    .osf-search {
        z-index: 1028;
    }
    #searchControls > .osf-search {
        z-index: 99;
    }
    .osf-xs-search {
        text-decoration: none !important;
        padding: 14px;
    }

    .navbar-brand {
        margin-left: 0 !important;
        height: 48px !important;
        line-height: 27px !important;
        padding: 11px 15px 10px 15px !important;
    }
    .osf-navbar-logo {
        margin-top: 0px !important;
    }

    .name-div {
        font-size: 20px;
    }

}

@media (min-width: 768px) {
    .osf-navbar .navbar-nav>li>a, .osf-project-navbar li>a {
        padding-left: 7px;
        padding-right: 7px;
    }
    .navbar .search-query {
        width: 190px;
    }
    .osf-project-navbar a.project-title {
        max-width: 190px;
    }
    .navbar-brand {
        margin-left: 0 !important;
        padding-left: 0;
    }
    .osf-search {
        z-index: 1028; /* should be less than 1030 to not cover navbar */
    }
}

@media (min-width: 992px) {
    .osf-navbar .navbar-nav>li>a, .osf-project-navbar li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar .search-query {
        width: 360px;
    }
    .osf-project-navbar a.project-title {
        max-width: 300px;
    }
}
@media (min-width: 1200px) {
    .osf-navbar .navbar-nav>li>a, .osf-project-navbar li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .search-query {
        width: 270px;
    }
    .osf-project-navbar a.project-title {
        max-width: 400px;
    }
}
@media (min-width: 768px) and (max-width: 991px)  {
    #signInForm input {
        width: 110px;
    }
}
@media (min-width: 1600px) {
    #signInForm input {
        width: 220px;
    }
}

/* Search bar */
.search-label-placeholder {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    color: #738EA2;
    font-weight: 300;
    visibility: hidden;
}

.osf-search {
    padding: 10px 0;
    background: #B8ECC0;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 9px -2px #464545;
    left: 0;
    top: 43px;
}

.osf-search-input {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px dotted #FFF;
    border-radius: 0;
    padding: 0 0;
    font-size: 20px;
    color: #214762;
    font-weight: 300;
}
.osf-search-input:focus {
    outline : 0 !important;
    box-shadow: none;
    border-bottom: 1px dotted #FFF;
}
.osf-search-btn {
    color: #214762;
    background: rgba(0, 0, 0, 0);
}

.osf-search-btn:hover {
    color: #738EA2;
}

.progress-no-margin {
    margin-bottom: 0;
}

.progress-bar-content {
    margin: 0px 10px;
}

.progress-bar-width {
    width: 100%;
}

.sharejs-info-btn {
    background: none;
    outline : 0 !important;
    box-shadow: none;
    color: #FFFFFF;
}

.sharejs-info-btn:hover {
    color: #D3D3D3;
    text-decoration: none;
}

#searchPageFullBar::-webkit-input-placeholder {
   color: #738EA2;
}

#searchPageFullBar:-moz-placeholder { /* Firefox 18- */
   color: #738EA2;
}

#searchPageFullBar::-moz-placeholder {  /* Firefox 19+ */
   color: #738EA2;
}

#searchPageFullBar:-ms-input-placeholder {
   color: #738EA2;
}
#searchControls>.row {
    padding-top: 60px;
}

.editableControl {
    background-color: #eee;
    color: #999898;
}
.dker {
    background-color: #DDD;
}

.osf-project-navbar .project-nav .icon {
    font-size: 18px;
}

.osf-project-navbar .project-nav .icon.rotate-180 {
    display: block;
}

.node-parent-title {
    font-weight: 300;
    margin-top: 0;
    font-size: 22px;
}
.rotate-180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.icon-dark-lg {
    font-size: 18px;
    color: #555;
}
.break-word {
    word-wrap: break-word;
}
.word-break-word {
    word-break: break-word;
}
.table-fixed {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}
.modal-backdrop {
    position: fixed;
}

/* Minimal Treebeard for Configure Notifications in project and user settings */
.osf-treebeard-minimal #tb-tbody {
    border: none;
    max-height: 500px;
    height: inherit;
    margin-top: 10px;
}
.osf-treebeard-minimal .tb-row {
    padding-left: 10px;
}

.osf-treebeard-minimal .tb-row-titles {
    border: none;
}
.osf-treebeard-minimal .tb-td {
    padding-top: 4px;
}
.osf-treebeard-minimal .title-text {
    line-height: 25px;
}
.osf-treebeard-minimal .tb-head {
    display: none;
}

.osf-treebeard-minimal .form-control {
    height: 26px;
    padding: 0px;
}

.tb-no-icon .tb-expand-icon-holder {
    width : 0;
}


.alert-notify-success {
    padding: 5px;
    color: #3C763D;
}
.alert-notify-danger {
    padding: 5px;
    color: #A94442;
}
.notifications-loading {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    padding: 20px;
}
.notifications-spin {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
/* Wiki additions */
.osf-panel {
    border: 1px solid #ddd;
    height: 750px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
}

.superlist li.active {
    background: #EFEFEF;
    font-weight: bold;
}
.osf-panel-body {
    overflow: auto;
    overflow-x: hidden;
}
.osf-panel-body .navbar-collapse {
    background: #F5F5F5;
    padding: 0px;
}
.osf-panel-header {
    background: #efefef;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
}

.osf-panel-header.no-background {
    background: transparent;
}

.osf-panel-header.bottom-border {
    border-bottom: 1px solid #eee;
}

.osf-panel-header.bordered {
    border: 1px solid #ddd;
}

.osf-panel-footer {
    position: absolute;
    bottom : 0;
    left: 0;
    padding: 10px;
    background: #F5F5F5;
    width: 100%;
    z-index: 99;
}

#wiki-form {
    padding: 10px;
}

.markdown-it-view {
    padding: 10px;
}

.wiki-compare-view {
    white-space: pre-wrap;
    padding: 10px;
}

@media (max-width: 991px) {
    .osf-panel {
        margin-bottom: 20px;
    }
}
.panel-collapsed {
    background: #F5F5F5;
}
.wiki-sidenav h4, .wiki-sidenav li>ul>.btn,  .osf-sidenav.wiki-sidenav ul>li .row{
    padding: 8px 15px;
    margin-top: 2px;
}
.wiki-sidenav h4 {
    margin-top:20px;
    margin-bottom: 0;
}
.osf-sidenav.wiki-sidenav ul>li a:hover {
    background: transparent;
}
.osf-sidenav.wiki-sidenav ul>li:hover {
    background: #f5f5f5;
}
.osf-sidenav.wiki-sidenav ul>li.active a {
    line-height: 26px;
}
.osf-sidenav.wiki-sidenav ul>li.active, .osf-sidenav.wiki-sidenav ul>li.active:hover {
    background: #f5f5f5;
    border-left: 2px solid #337AB7;
}
.osf-sidenav.wiki-sidenav ul>li.active a {
    border-right: none;
    color: #337AB7;
}
.osf-sidenav.wiki-sidenav h4 a:hover {
    text-decoration: none;
}
.osf-sidenav.wiki-sidenav ul>li a:hover {
    text-decoration: none;
}
/* Changes to default icons to be consistent with the grey look of many new ui items */
.btn-default-alt {
    background: #EFEFEF;
}
.btn-success-alt {
    background: #D9E8D9;
}

.addon-external-link:hover,
.addon-external-link:focus {
    text-decoration: none !important;
}

.osf-panel-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 750px;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.osf-panel-header-flex {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.osf-panel-body-flex {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 3 0 auto;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    height: 500px;
}

.reset-height {
    height: auto;
}

/* File view page css */
#file-navigation #tb-tbody {
    max-height: 500px;
    height: inherit;
}
.file-page #tb-tbody {
    border: none;
}
#filesSearch {
    width: 95%;
}
#toggleIcon {
    margin-top: 5px;
}

/* scroll fix for wherever treebeard is used */
#tb-tbody::-webkit-scrollbar  {
    z-index: 9;
    background-color: #f5f5f5;
    width: 10px;
}
#tb-tbody::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px;
    width: 6px;
 }

.container-xxl {
  width : 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
.inline {
    display: inline-block;
}

/* OSF themed panel */
.panel-osf {
    border-color: #214762;
}
.panel-osf > .panel-heading {
    color: #fff;
    background-color: #214762;
    border-color: #214762;
}
.panel-osf > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #214762;
}
.panel-osf > .panel-heading .badge {
    color: #214762;
    background-color: #fff;
}
.panel-osf > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #214762;
}

/* Classes to create margin sizes */
/* Left Margin Only */
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 50px;
}
/*Right Margin Only*/
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 50px;
}

/*Top Margin Only*/
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 50px;
}
/*Bottom Margin Only*/
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 50px;
}
/*Vertical Margins*/
.m-v-xs {
    margin-top: 5px;
    margin-bottom: 5px;
}
.m-v-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.m-v-md {
    margin-top: 20px;
    margin-bottom: 20px;
}
.m-v-lg {
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-v-xl {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*Horizontal Margins*/
.m-h-xs {
    margin-left: 5px;
    margin-right: 5px;
}
.m-h-sm {
    margin-left: 10px;
    margin-right: 10px;
}
.m-h-md {
    margin-left: 20px;
    margin-right: 20px;
}
.m-h-lg {
    margin-left: 30px;
    margin-right: 30px;
}
.m-h-xl {
    margin-left: 50px;
    margin-right: 50px;
}
/*Complete Margins*/
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}

/* COS logo spin */
.logo-spin {
    -webkit-animation: spin 3s infinite linear, opacity 3s infinite linear;
    animation: spin 3s infinite linear, opacity 3s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes opacity {
    0% {
        opacity : 0.1
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0.1
    }
}
@-webkit-keyframes opacity {
    0% {
        opacity : 0.1
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0.1
    }
}
@keyframes opacity {
    0% {
        opacity : 0.1
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0.1
    }
}

/* OSF Font-Awesome Stack Alternative */
.osf-fa-stack {
  display: inline-block;
  width: 15px;
  height: 13px;
  position: relative;
}
.fangorn-toolbar-icon .osf-fa-stack-top {
  font-size: 10px;
  margin-top: 5px;
  line-height: 11px;
}
.fangorn-toolbar-icon .osf-fa-stack-bottom {
  font-size: 18px;
  line-height: 20px;
}
.text-white {
    color: #FFF;
}

@media (max-width: 768px) {
    .affix {
        position: relative;
    }
}

#viewPanel > .osf-panel-body,
.mfr-file {
  height: 100%;
}
