/* Global Styles are in base.css */

html, body {
}

body {
    padding-top: 50px; /* body padding for fixed top nav */
    position: relative; /* for bootstrap affix */
}

.navbar-brand {
    margin-left: 0 !important;
    height: 42px !important;
    line-height: 27px;
    padding: 8px 0px 7px;
}


/* Footer
-------------------------------------------------- */
.footer {
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    color: #555;
}


.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* Copyright
-------------------------------------------------- */
.copyright{
    text-align: center;
    background: #fff;
    width: 100%;

}

/* Make images responsive */
.panel img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* Project page has project navigation bar, which is fixed and therefore increases the offset the anchors need */
.project-page .anchor {
    margin-top: -100px;
    padding-top: 100px;
    display: block;
    z-index: -1;
    position: relative;
}

.anchor {
    margin-top: -60px;
    padding-top: 60px;
    display: block;
}
