/* Global Styles are in base.css */

html, body {
}

body {
    padding-top: 50px; /* body padding for fixed top nav */
    position: relative; /* for bootstrap affix */
    -webkit-font-smoothing: antialiased;
}

a {
    cursor: pointer;
}


/* Footer
-------------------------------------------------- */
.footer {
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    color: #555;
}


.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Footer slide-in */
#footerSlideIn {
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    z-index:9;
    background-color:white;
    border-top:2px solid black;
    display:none;
}

#footerSlideIn h1 {
    margin-top:0;
}

#footerSlideIn img {
    width:100%;
}

#footerSlideIn div > a {
    margin-right: 5px;
    white-space: nowrap;
}


/* Copyright
-------------------------------------------------- */
.copyright{
    text-align: center;
    background: #fff;
    width: 100%;

}

/* Make images responsive */
.panel img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* Project page has project navigation bar, which is fixed and therefore increases the offset the anchors need */
.project-page .anchor {
    margin-top: -100px;
    padding-top: 100px;
    display: block;
    z-index: -1;
    position: relative;
}

.anchor {
    margin-top: -60px;
    padding-top: 60px;
    display: block;
}

.scripted {display: none;}

.pointer {cursor: pointer;}

/* Minimal Treebeard for Configure Notifications in project and user settings */
.osf-treebeard-minimal #tb-tbody {
    border: none;
    max-height: 500px;
    height: inherit;
    margin-top: 10px;
}
.osf-treebeard-minimal .tb-row {
    padding-left: 10px;
}

.osf-treebeard-minimal .tb-row-titles {
    border: none;
}
.osf-treebeard-minimal .tb-td {
    padding-top: 4px;
}
.osf-treebeard-minimal .title-text {
    line-height: 25px;
}
.osf-treebeard-minimal .tb-head {
    display: none;
}

.osf-treebeard-minimal .form-control {
    height: 26px;
    padding: 0px;
}

.tb-no-icon .tb-expand-icon-holder {
    width : 0;
}

/* For menu icon */
.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 3px;
}

/* Wrapper for Spinner  -- Applied for citation and file*/
.spinner-loading-wrapper {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    background: white;
    padding: 20px;
    border-radius: 4px;
}

#projectSubnav .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

/* Allow search-bar and nav-bar to support mutiple size of screen */
@media (max-width: 767px) {
    .navbar .search-query {
        width: 100%;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
    }

    #searchControls > .osf-search {
        z-index: 99;
    }
    .osf-xs-search {
        text-decoration: none !important;
        padding: 14px;
    }

    .navbar-brand {
        margin-left: 0 !important;
        height: 48px !important;
        line-height: 27px !important;
        padding: 11px 15px 10px 15px !important;
    }
    .osf-navbar-logo {
        margin-top: 0px !important;
    }

    .name-div {
        font-size: 20px;
    }

    .sign-in .btn-group {
        width: 90%;
        padding-left: 5%;
    }
    .sign-in .btn {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .osf-navbar .navbar-nav>li>a {
        padding-left: 7px;
        padding-right: 7px;
    }
    .navbar .search-query {
        width: 190px;
    }
    .navbar-brand {
        margin-left: 0 !important;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .osf-navbar .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar .search-query {
        width: 360px;
    }

}
@media (min-width: 1200px) {
    .osf-navbar .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .search-query {
        width: 270px;
    }

}

@media (max-width: 768px) {
    .affix {
        position: relative; /*For project setting side-bar*/
    }
}

/* Settings side-nav positions. Min-width to prevent
 * affix scrolling into columns on small devices/affix
 * needs to be relative any smaller. See above @media.
 */
@media (min-width: 769px) {
    .osf-affix.profile-affix {
        top: 80px;
    }
}

#viewPanel > .osf-panel-body,
.mfr-file {
    height: 100%;
}

.text-center {
    text-align: center;
}

.osf-gravatar>img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}

.container-xxl {
    width : 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

.no-border {
    border: none !important;
    box-shadow: none !important;
}

.bootbox.modal h4 {
    font-size: 24px;
    font-weight: normal;
}

.modal-body {
    word-wrap: break-word;
}

/* sub-header for modal*/
.modal-subheader {
    font-size: 20px;
}

.log-node-title-link {
    font-weight: 700;
}

.footer h4 {
    font-weight: normal;
}

.popover h3 {
    font-weight: 500;
}
/* In list group, not allow icon to be pushed down */
.component-overflow {
    word-wrap: break-word;
    max-width: 90%;
    display: inline-block;
}

/* Comments Panel */
.comment-actions i {
    cursor: pointer;
}

.comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body {
    padding: 5px;
    background-color: white;
}

.comment-author {
    color: #999999;
}

.comment-date {
    color: #999999;
}
.edit-comment {
    background-color: #F3F3F3;
}

.comment-body i {
    padding-right: 5px;
}

.comment-handle-icon {
    color: white;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.unread-comments-count {
    font-size: medium;
    color: white;
    position: absolute;
    margin-left: 40px;
}

/*  Add-on styles */
.addon-auth {
    margin-top: 4.8px;
}

.user-settings-addon-auth {
    font-size: 13.5px;
}

.default-authorized-by {
    font-weight: normal !important;
}
/* bootstrap disable doesn't disable pointer event. This disable class adds pointer event disable. */
.disabled {
    cursor: default !important;
    pointer-events: none;
}

/* OSF-panel */
.osf-panel {
    border: 1px solid #ddd;
    height: 764px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
}

@media (max-width: 991px) {
    .osf-panel {
        margin-bottom: 20px;
    }
}

.osf-panel  .fa-angle-right, .osf-panel .fa-angle-left {
    cursor: pointer;
}
.osf-panel .fa-list {
    color: #808080;
}

.osf-panel .navbar-collapse {
    background: #F5F5F5;
    padding: 0px;
}

.reset-height {
    height: auto;
}

.alert-notify-success {
    padding: 5px;
    color: #3C763D;
}
.alert-notify-danger {
    padding: 5px;
    color: #A94442;
}

.table-less {
    max-height: 140px;
    overflow-y: hidden;
}
.table-hover {
    word-break: break-all;

}
select {
    word-wrap: normal;
}

.tag:hover
{
    background-color: #337ab7;
    color: #E0EBF3;
}
.tag:hover > .tag-text, .tag:hover > a
{
    color: #E0EBF3;
}
.tag:hover > .remove-tag
{
    visibility: visible;
/* to make the center of the x not transparent */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 53%, rgba(255,255,255,0) 64%, rgba(255,255,255,0) 72%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(35%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,1)), color-stop(53%,rgba(255,255,255,1)), color-stop(64%,rgba(255,255,255,0)), color-stop(72%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tag-big
{
    font-size: 13pt;
}

.tag-med
{
    font-size: 11pt;
}
.tag-container
{
    position: relative;
}

.remove-tag
{
    visibility: hidden;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #AAAAAA;
}

.remove-tag.big
{
    top: -8px;
    right: -8px;
}

.remove-tag.med
{
    top: -6px;
    right: -6px;
}

.tagsinput {
    border:1px solid #CCC;
    float: left;
    padding: 5px;
    background: #FFF;
    padding:5px;
    width:300px;
    height:100px;
    overflow-y: auto;
}
#node-tags_tag:focus {
    outline: 2px solid #DEF;
}

.tagsinput div {
    float: left;
}

.tagsinput span.tag {
    float: left;
    padding: 5px;
}

.tagsinput input {
    width:80px;
    margin:0px;
    font-family: helvetica;
    font-size: 13px;
    border:1px solid transparent;
    padding:5px;
    margin-right:5px;
    margin-bottom:5px;
}

.tag a {
    font-weight: bold;
    color: #000;
    text-decoration:none;
    font-size: 11px;
    vertical-align: top;
}

.tag {
    text-decoration:none;
    display: inline-block;
    background: #DEF;
    margin-right: 5px;
    margin-bottom:5px;
    font-size:13px;
    padding:5px;
    border:1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}

.btn-link.project-toggle {
    padding-top: 0;
    padding-bottom:0;
}

.btn-link.project-toggle:focus {
    outline: none;
}

/* list group node item display*/
.list-group-item-node.unavailable {
    background-color: #EEEEEE;
}

button.close {
    line-height: 0.9;
}

/* table for add link and contributor */
.osf-icon-td {
    width: 50px;
}

/* Override Select2 CSS*/
.select2-search-choice-close {
    margin-top: -3px;
}

.affix-bottom {
    position: relative;
    word-break: break-all;
    word-break: break-word; /* Non standard for webkit*/
}

/* Style for toggle height knockout helper */
.toggle-height-toggle {
    border: 1px solid #EEE;
    background-color: #F8F8F8;
    height: 15px;
    line-height: 10px;
    color: #888;
    width: 100%;
    margin-bottom: 10px;
}
.toggle-height-toggle:hover {
    background-color: #F5F5F5;
    color: #666;
    cursor: pointer;
}
.toggle-height-gradient {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}
.toggle-height-parent {
    position: relative;
    overflow: hidden;
}

/* growlBox style */
.alert.growl-animated {
    padding-right: 35px; /* work as alert-dismissable in bootstrap */
}

.tb-modal-shade {
    /*  Override z-index here to avoid clashing with navigation elements */
    z-index: 98 !important;
}
