/* Global Styles are in base.css */

html, body {
}

body {
    padding-top: 50px; /* body padding for fixed top nav */
    position: relative; /* for bootstrap affix */
    -webkit-font-smoothing: antialiased;
}

a {
    cursor: pointer;
}


/* Footer
-------------------------------------------------- */
.footer {
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    color: #555;
}


.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Footer slide-in */
#footerSlideIn {
    position:fixed;
    bottom:0;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    z-index:1;
    background-color:white;
    border-top:2px solid black;
    display:none;
}

#footerSlideIn h1 {
    margin-top:0;
}

#footerSlideIn img {
    width:100%;
}

#footerSlideIn div > a {
    margin-right: 5px;
    white-space: nowrap;
}


/* Copyright
-------------------------------------------------- */
.copyright{
    text-align: center;
    background: #fff;
    width: 100%;

}

/* Make images responsive */
.panel img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* Project page has project navigation bar, which is fixed and therefore increases the offset the anchors need */
.project-page .anchor {
    margin-top: -100px;
    padding-top: 100px;
    display: block;
    z-index: -1;
    position: relative;
}

.anchor {
    margin-top: -60px;
    padding-top: 60px;
    display: block;
}

.scripted {display: none;}

.pointer {cursor: pointer;}

/* Minimal Treebeard for Configure Notifications in project and user settings */
.osf-treebeard-minimal #tb-tbody {
    border: none;
    max-height: 500px;
    height: inherit;
    margin-top: 10px;
}
.osf-treebeard-minimal .tb-row {
    padding-left: 10px;
}

.osf-treebeard-minimal .tb-row-titles {
    border: none;
}
.osf-treebeard-minimal .tb-td {
    padding-top: 4px;
}
.osf-treebeard-minimal .title-text {
    line-height: 25px;
}
.osf-treebeard-minimal .tb-head {
    display: none;
}

.osf-treebeard-minimal .form-control {
    height: 26px;
    padding: 0px;
}

.tb-no-icon .tb-expand-icon-holder {
    width : 0;
}

/* For menu icon */
.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 3px;
}

/* Wrapper for Spinner  -- Applied for citation and file*/
.spinner-loading-wrapper {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    background: white;
    padding: 20px;
    border-radius: 4px;
}

#projectSubnav .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

/* Allow search-bar and nav-bar to support mutiple size of screen */
@media (max-width: 767px) {
    .navbar .search-query {
        width: 100%;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
    }

    .osf-search {
        z-index: 1028;
    }
    #searchControls > .osf-search {
        z-index: 99;
    }
    .osf-xs-search {
        text-decoration: none !important;
        padding: 14px;
    }

    .navbar-brand {
        margin-left: 0 !important;
        height: 48px !important;
        line-height: 27px !important;
        padding: 11px 15px 10px 15px !important;
    }
    .osf-navbar-logo {
        margin-top: 0px !important;
    }

    .name-div {
        font-size: 20px;
    }

}

@media (min-width: 768px) {
    .osf-navbar .navbar-nav>li>a {
        padding-left: 7px;
        padding-right: 7px;
    }
    .navbar .search-query {
        width: 190px;
    }
    .navbar-brand {
        margin-left: 0 !important;
        padding-left: 0;
    }
    .osf-search {
        z-index: 1028; /* should be less than 1030 to not cover navbar */
    }
}

@media (min-width: 992px) {
    .osf-navbar .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar .search-query {
        width: 360px;
    }

}
@media (min-width: 1200px) {
    .osf-navbar .navbar-nav>li>a {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .search-query {
        width: 270px;
    }

}

@media (max-width: 768px) {
    .affix {
        position: relative; /*For project setting side-bar*/
    }
}

#viewPanel > .osf-panel-body,
.mfr-file {
    height: 100%;
}

.text-center {
    text-align: center;
}

.osf-gravatar>img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}

.container-xxl {
    width : 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

.no-border {
    border: none !important;
    box-shadow: none !important;
}

.bootbox.modal h4 {
    font-size: 24px;
    font-weight: normal;
}

.log-node-title-link {
    font-weight: 700;
}

.footer h4 {
    font-weight: normal;
}

.popover h3 {
    font-weight: 500;
}

/* In list group, not allow icon to be pushed down */
.component-overflow {
    word-wrap: break-word;
    max-width: 90%;
    display: inline-block;
}

/* Comments Panel */
.comment-actions i {
    cursor: pointer;
}

.comment-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-body {
    padding: 5px;
    background-color: white;
}

.comment-author {
    color: #999999;
}

.comment-date {
    color: #999999;
}
.edit-comment {
    background-color: #F3F3F3;
}

.comment-body i {
    padding-right: 5px;
}

.comment-handle-icon {
    color: white;
    vertical-align: middle;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}

.unread-comments-count {
    font-size: medium;
    color: white;
    position: absolute;
    margin-left: 40px;
}

/*  Add-on styles */
.addon-auth {
    margin-top: 4.8px;
}

/* bootstrap disable doesn't disable pointer event. This disable class adds pointer event disable. */
.disabled {
    cursor: default !important;
    pointer-events: none;
}

/* OSF-panel */
.osf-panel {
    border: 1px solid #ddd;
    height: 750px;
    overflow: auto;
    display: block;
    position: relative;
    overflow-x: hidden;
}

@media (max-width: 991px) {
    .osf-panel {
        margin-bottom: 20px;
    }
}

.osf-panel  .fa-angle-right, .osf-panel .fa-angle-left {
    cursor: pointer;
}
.osf-panel .fa-list {
    color: #808080;
}

.osf-panel .navbar-collapse {
    background: #F5F5F5;
    padding: 0px;
}

