/*Classes to create margin sizes*/
/*Left Margin Only*/
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 50px;
}
/*Right Margin Only*/
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 50px;
}
/*Top Margin Only*/
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 50px;
}
/*Bottom Margin Only*/
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 50px;
}
/*Vertical Margins*/
.m-v-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}
.m-v-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-v-md {
  margin-top: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.m-v-lg {
  margin-top: 30px;
  margin-bottom: 30px;
}
.m-v-xl {
  margin-top: 50px;
  margin-bottom: 50px;
}
/*Horizontal Margins*/
.m-h-xs {
  margin-left: 5px;
  margin-right: 5px;
}
.m-h-sm {
  margin-left: 10px;
  margin-right: 10px;
}
.m-h-md {
  margin-left: 20px;
  margin-right: 20px;
}
.m-h-lg {
  margin-left: 30px;
  margin-right: 30px;
}
.m-h-xl {
  margin-left: 50px;
  margin-right: 50px;
}
/*Complete Margins*/
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
/*Classes to Define Padding*/
/*Left Padding Only*/
.p-l-xs {
  padding-left: 5px;
}
.p-l-sm {
  padding-left: 10px;
}
.p-l-md {
  padding-left: 20px;
}
.p-l-lg {
  padding-left: 30px;
}
.p-l-xl {
  padding-left: 50px;
}
/*Right Padding Only*/
.p-r-xs {
  padding-right: 5px;
}
.p-r-sm {
  padding-right: 10px;
}
.p-r-md {
  padding-right: 20px;
}
.p-r-lg {
  padding-right: 30px;
}
.p-r-xl {
  padding-right: 50px;
}
/*Top Padding Only*/
.p-t-xs {
  padding-top: 5px;
}
.p-t-sm {
  padding-top: 10px;
}
.p-t-md {
  padding-top: 20px;
}
.p-t-lg {
  padding-top: 30px;
}
.p-t-xl {
  padding-top: 50px;
}
/*Bottom Padding Only*/
.p-b-xs {
  padding-bottom: 5px;
}
.p-b-sm {
  padding-bottom: 10px;
}
.p-b-md {
  padding-bottom: 20px;
}
.p-b-lg {
  padding-bottom: 30px;
}
.p-b-xl {
  padding-bottom: 50px;
}
/*Vertical Padding*/
.p-v-xs {
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-v-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-v-md {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-v-lg {
  padding-top: 30px;
  padding-bottom: 30px;
}
.p-v-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}
/*Horizontal Padding*/
.p-h-xs {
  padding-right: 5px;
  padding-left: 5px;
}
.p-h-sm {
  padding-right: 10px;
  padding-left: 10px;
}
.p-h-md {
  padding-right: 20px;
  padding-left: 20px;
}
.p-h-lg {
  padding-right: 30px;
  padding-left: 30px;
}
.p-h-xl {
  padding-right: 50px;
  padding-left: 50px;
}
/*Complete Padding*/
.p-xs {
  padding: 5px;
}
.p-sm {
  padding: 10px;
}
.p-md {
  padding: 20px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 50px;
}
/*Display Classes*/
.d-i {
  display: inline;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-none {
  display: none;
}
/*Text Align*/
.t-a-r {
  text-align: right;
}
.t-a-l {
  text-align: left;
}
.t-a-c {
  text-align: center;
}
.t-a-j {
  text-align: justify;
}
/*Removing Elements*/
.no-padding {
  padding: 0!important;
}
.no-border {
  border: none!important;
}
.no-margin {
  margin: 0!important;
}
/*Border Radius*/
.b-r-xs {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.b-r-sm {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.b-r-md {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
.b-r-lg {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
.b-r-xl {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.b-r-xs-bottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/*Font Weight*/
.font-thin {
  font-weight: 100;
}
.font-medium {
  font-weight: 200;
}
.font-normal {
  font-weight: 400;
}
.font-thick {
  font-weight: bold;
}
/*Changing Case*/
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/*Borders*/
/*Bottom Borders*/
.b-b-xs {
  border-bottom: 1px;
  -moz-border-bottom: 1px;
  -webkit-border-bottom: 1px;
}
.b-b-sm {
  border-bottom: 2px;
  -moz-border-bottom: 2px;
  -webkit-border-bottom: 2px;
}
.b-b-md {
  border-bottom: 3px;
  -moz-border-bottom: 3px;
  -webkit-border-bottom: 3px;
}
.b-b-lg {
  border-bottom: 4px;
  -moz-border-bottom: 4px;
}
.b-b-xl {
  border-bottom: 5px;
  -moz-border-bottom: 5px;
  -webkit-border-bottom: 5px;
}
/*Top Borders*/
.b-t-xs {
  border-top: 1px;
  -moz-border-top: 1px;
  -webkit-border-top: 1px;
}
.b-t-sm {
  border-top: 2px;
  -moz-border-top: 2px;
  -webkit-border-top: 2px;
}
.b-t-md {
  border-top: 3px;
  -moz-border-top: 3px;
  -webkit-border-top: 3px;
}
.b-t-lg {
  border-top: 4px;
  -moz-border-top: 4px;
}
.b-t-xl {
  border-top: 5px;
  -moz-border-top: 5px;
  -webkit-border-top: 5px;
}
/*Right Borders*/
.b-r-xs {
  border-right: 1px;
  -moz-border-right: 1px;
  -webkit-border-right: 1px;
}
.b-r-sm {
  border-right: 2px;
  -moz-border-right: 2px;
  -webkit-border-right: 2px;
}
.b-r-md {
  border-right: 3px;
  -moz-border-right: 3px;
  -webkit-border-right: 3px;
}
.b-r-lg {
  border-right: 4px;
  -moz-border-right: 4px;
}
.b-r-xl {
  border-right: 5px;
  -moz-border-right: 5px;
  -webkit-border-right: 5px;
}
/*left Borders*/
.b-l-xs {
  border-left: 1px;
  -moz-border-left: 1px;
  -webkit-border-left: 1px;
}
.b-l-sm {
  border-left: 2px;
  -moz-border-left: 2px;
  -webkit-border-left: 2px;
}
.b-l-md {
  border-left: 3px;
  -moz-border-left: 3px;
  -webkit-border-left: 3px;
}
.b-l-lg {
  border-left: 4px;
  -moz-border-left: 4px;
}
.b-l-xl {
  border-left: 5px;
  -moz-border-left: 5px;
  -webkit-border-left: 5px;
}
/*Complete Borders*/
.b-xs {
  border: 1px;
  -moz-border: 1px;
  -webkit-border: 1px;
}
.b-sm {
  border: 2px;
  -moz-border: 2px;
  -webkit-border: 2px;
}
.b-md {
  border: 3px;
  -moz-border: 3px;
  -webkit-border: 3px;
}
.b-lg {
  border: 4px;
  -moz-border: 4px;
}
.b-xl {
  border: 5px;
  -moz-border: 5px;
  -webkit-border: 5px;
}
/*Floats*/
.push {
  float: left;
}
.pull {
  float: right;
}
/*Text Decoration*/
.underline {
  text-decoration: underline;
}
.no-decoration {
  text-decoration: none!important;
}
/*Removing Bullets in Lists*/
.no-bullets {
  list-style: none;
  padding-left: 0px;
}
/*Line Height*/
.l-h-xs {
  line-height: 12px;
}
.l-h-sm {
  line-height: 5px;
}
.l-h-md {
  line-height: 25px;
}
.l-h-lg {
  line-height: 50px;
}
.l-h-xl {
  line-height: 20px;
}
/*Text size*/
.text-xs {
  line-height: 12px;
}
.text-sm {
  line-height: 5px;
}
.text-md {
  line-height: 25px;
}
.text-lg {
  line-height: 50px;
}
.text-xl {
  line-height: 20px;
}
/* Overflow */
.no-flow {
  overflow: hidden;
}
.flow {
  overflow: auto;
}
.flow-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.flow-y {
  overflow-y: auto;
  pverflow-x: hidden;
}
/* text colors */
.t-light {
  color: #fff;
}
.t-dark {
  color: #222;
}
/* Font weights */
.f-1 {
  font-weight: 100;
}
.f-2 {
  font-weight: 200;
}
.f-3 {
  font-weight: 300;
}
.f-4 {
  font-weight: 400;
}
.f-5 {
  font-weight: 500;
}
.f-6 {
  font-weight: 600;
}
.v-pad-20 {
  padding: 20px 0;
}
.h-pad-20 {
  padding: 0 20px;
}
.h-mar-10 {
  margin: 0 10px;
}
.padder-10 {
  padding: 10px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-md {
  margin-top: 25px;
}
body {
  background: #efefef;
  margin-bottom: 50px;
}
header {
  background: white;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 20px 0;
}
tr {
  padding-left: 10px;
}
img.logo {
  width: 300px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 0px 0px 15px;
  background-color: #fff;
  border: none;
}
.list-group {
  margin-bottom: 0px;
  box-shadow: none;
}
#tb-tbody {
  border: 1px solid #ccc;
  height: 500px;
  overflow: auto;
  background: white;
}
.tb-tbody-inner {
  overflow: hidden;
}
.tb-rowTitles {
  background: #EEE;
  padding: 10px 0px 5px 16px;
  border: 1px solid #CCC;
  border-bottom: none;
}
.tdTitle {
  cursor: pointer;
}
.tb-th,
.tb-td {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tb-th {
  font-weight: bold;
}
.tb-details {
  background: #ADD8E6;
  height: 623px;
  border: 1px solid #EEE;
  padding: 20px;
}
.tb-row-active {
  background: #ADD8E6;
}
.tb-footer {
  background: rgba(239, 239, 239, 0.51);
  border: 1px solid #CCC;
  border-top: none;
}
.tb-sort-inactive {
  color: #999;
}
.tb-sort-active {
  color: #222;
}
.form-comp {
  margin: 0 25px;
}
.highlight {
  background-color: rgba(255, 255, 0, 0.53);
}
.expand-icon-holder {
  height: 10px;
  width: 20px;
  display: inline-block;
}
