div.addon-oauth td.authorized-nodes {
    padding-left:20px;
}

div.addon-oauth table th:last-child,
div.addon-oauth table td:last-child{
    text-align: right;
    font-weight: normal;
}

div.addon-oauth table.table thead:last-child tr th {
    border-bottom: none;
}