{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% load static %}
{% block top_includes %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
{% endblock %}
{% block title %}
    <title>List of Provider Asset Files</title>
{% endblock title %}
{% block content %}

    <h2>List of Provider Asset Files</h2>
    <form method="GET">
        Filter: <select class="provider-filter-selector" name="provider_id" onchange="filterSubjects(this.value)">
        {% for id, name in filterable_target_ids.items %}
            <option value={{id}}>{{name}}</option>
        {% endfor %}
      </select>
    </form>

    {% include "util/pagination.html" with items=page status=status %}
    <table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>File Link</th>
            {% if on_provider_route %}
                <th>Providers</th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {% for object in asset_files %}
        <tr>
            {% if on_provider_route %}
                <td><a href="{% url 'provider_asset_files:detail' asset_id=object.id %}">{{ object.name }}</a></td>
                <td><a target="_blank" href={{ object.file.url }}>Preview</a></td>
                <td>
                {% for provider in object.providers.all %}
                    {{provider.name}},
                {% endfor %}
                </td>
            {%endif%}
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}

{% block bottom_js %}
    <script>
        function filterSubjects(provider_id) {
            document.location.search = "?provider_id=" + provider_id;
        }
        $(document).ready(function() {
            $('.provider-filter-selector').select2()
        })
    </script>
{% endblock %}
