/* Dashboard Page css */

.container-xxl {
    padding-left: 0;
    padding-right:0;
}

.dashboard-header.dashboard-header-institution {
    background: none;
}

.dashboard-header {
    background: url('/static/img/bg6.jpg') top no-repeat;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.tb-th {
    font-weight: normal;
}
