/* Dashboard Page css */

.container-xxl {
    padding-left: 0;
    padding-right:0;
}

.dashboard-header {
    background: #f2f2f2;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.tb-th {
    font-weight: normal;
}