.support-item {
    border: 1px solid #eee;
    margin: 15px 0;
}
.support-head, .support-body {
    padding: 10px;
}
.support-head {
    background-color: #f5f5f5;
    padding-left: 25px;
    position: relative;
    margin:0;
    cursor: pointer;
}

.support-head > .fa{
    position: absolute;
    left: 10px;
}

.support-item .support-body {
    display: none;
}
.support-nomatch {
    color: #999;
}
.support-nomatch a {
    color: #87cefa;
}

.search-layer input {
    width: 600px;
    display: inline-block;
}
.search-layer .clear-search {
    margin-left: -30px;
    font-size: 15px;
    color: #CCCCCC;
    cursor: pointer;
}
.search-layer .clear-search.clear-active {
    color: #666;
}

.search-layer .btn-group {
    margin-left: 30px;
}

.search-layer.fixed-layer {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 5px #ccc;
}
.search-layer ul {
    display: inline-block;
}
.search-layer ul li {
    display: inline;
    padding: 3px 8px;
    cursor: pointer;
}
.search-layer ul li:hover {
    color: #293C4A;
}
.search-layer ul li.disabled {
    color: #AAAAAA;
}
.content-layer {
    border-top: 1px solid #eee;
}
.content-padding {
    padding-top: 145px; /* To pad for the affixed menu changes */
}
.support-item.search-selected {
    box-shadow: 0 0 5px #9195AD;
}
@media (max-width: 991px) {
    .search-layer input {
        width: 300px;
    }
    .search-layer ul li {
        padding: 3px;
    }
}
@media (max-width: 767px) {
    .search-layer input {
        width: 90%;
    }
    .search-layer ul {
        padding-left: 0;
    }
}
