.quickSearch {
    min-height: 700px;
    background: url('/static/img/bg6.jpg');
}
.recentActvity {
    min-height: 650px;
    background: #ecf0f1;
}

.newAndNoteworthy {
    min-height: 650px;
    background: #34495e;
    border-top: 1px solid #eee;
    padding-top: 25px;
    color: #FFFFFF;
}

.meetings {
    background: #166595 url("/static/img/front-page/bg-web.png") no-repeat center top;
    background-size: cover;
    color: #fff;
}

.meetings .btn {
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #eee;
    font-size: 18px;
}

.meetings .btn:hover {
    background: #eee;
    color: #000;
}

.footer {
    margin-top: 0; /* Override footer margin for this page only */
}
