h3, h4 {
    font-weight: 400;
}
.quickSearch {
    min-height: 700px;
    background: #C5D6E6 url('/static/img/bg6.jpg') top center repeat-y;
    background-size: cover;
}

.newAndNoteworthy {
    min-height: 650px;
    background: #34495e;
    padding-top: 25px;
    color: #FFF;
}

.institutions-panel {
    min-height: 200px;
    background: #45818E;
    padding-top: 25px;
    padding-bottom: 25px;
}

.meetings {
    background: #166595 url("/static/img/front-page/bg-web.png") no-repeat center top;
    background-size: cover;
    color: #fff;
}
.meetings .btn {
    box-shadow: 0 0 9px -4px #000;
}

.footer {
    margin-top: 0; /* Override footer margin for this page only */
}

/* Override alerts */
.home-page-alert {
    background: #eee;
}


.home-page-alert > #alert-container {
    margin-bottom: 0;
    margin-top: 0;
}

.jumbotron {
    padding: 10px 40px 10px 40px;
    margin-bottom: 0;
}

.home-page-alert > #alert-container a:focus, .home-page-alert > #alert-container a:hover {
    color: #23527c;
    text-decoration: none;
}

.jumbotron p {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
        font-size: 40px;
    }
}
