.quickSearch {
    min-height: 700px;
    background: rgba(103, 163, 191, 0.27);
    background: -moz-linear-gradient(35deg, rgba(103, 163, 191, 0.27) 0%, rgba(22, 101, 150, 0.22) 18%, rgba(155, 179, 194, 0.93) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(103, 163, 191, 0.27)), color-stop(18%, rgba(22, 101, 150, 0.22)), color-stop(100%, rgba(155, 179, 194, 0.93)));
    background: -webkit-linear-gradient(35deg, rgba(103, 163, 191, 0.27) 0%, rgba(22, 101, 150, 0.22) 18%, rgba(155, 179, 194, 0.93) 100%);
    background: -o-linear-gradient(35deg, rgba(103, 163, 191, 0.27) 0%, rgba(22, 101, 150, 0.22) 18%, rgba(155, 179, 194, 0.93) 100%);
    background: -ms-linear-gradient(35deg, rgba(103, 163, 191, 0.27) 0%, rgba(22, 101, 150, 0.22) 18%, rgba(155, 179, 194, 0.93) 100%);
    background: linear-gradient(35deg, rgba(103, 163, 191, 0.27) 0%, rgba(22, 101, 150, 0.22) 18%, rgba(155, 179, 194, 0.93) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a3bf', endColorstr='#000000', GradientType=1);
}
.recentActvity {
    min-height: 650px;
}

.newAndNoteworthy {
    min-height: 650px;
}

.meetings {
    min-height: 200px;
}

