h3, h4 {
    font-weight: 400;
}
.quickSearch {
    min-height: 700px;
    background: #C5D6E6 url('/static/img/bg6.jpg') top center repeat-y;
}

.newAndNoteworthy {
    min-height: 650px;
    background: #34495e;
    padding-top: 25px;
    color: #FFF;
}

.meetings {
    background: #166595 url("/static/img/front-page/bg-web.png") no-repeat center top;
    background-size: cover;
    color: #fff;
}
.meetings .btn {
    box-shadow: 0 0 9px -4px #000;
}

.meetings .btn:hover {
    background: #eee;
    color: #000;
}

.footer {
    margin-top: 0; /* Override footer margin for this page only */
}

.btn-success-high-contrast {
    background-color: #52A452;
    border-color: #54AC54;
}
