/* Home Page */
.hpLink:hover{
    text-decoration: none;
    color: red;
}
.hpContainerOne{
    margin-top: 0;
}
/* >= sm */
@media (min-width: 768px) {
    .hpContainerOne {
        margin-top: 50px;
    }
}
.headOne, /* TODO: cleanup getting started */
.hpHeadOne {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing: 1px;
    font-size: 40px;
    color: black;
}
/* >=sm */
@media (min-width: 768px) {
    .headOne, /* TODO: cleanup getting started */
    .hpHeadOne {
       font-size: 50px;
    }
}
.hpHeadTwo {
    padding-top: 70px;
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 40px;
    color: black;
}
.hpSubHeadOne {
    padding-bottom: 30px;
    font-family: 'Inika', Helvetica;
    font-size: 24px;
    letter-spacing: 1px;
}
.hpSubHeadTwo {
    font-size: 30px;
    font-family: 'Patua One', Helvetica;
    letter-spacing: 1px;
}
.hpSubHeadThree {
    font-size: 28px;
    color: #4089C7;
    font-family: 'Patua One', Helvetica;
    letter-spacing: 1px;
}
.subHeadFour, /* TODO: cleanup getting started */
.hpSubHeadFour {
    font-family: 'Carrois Gothic', Helvetica;
    letter-spacing:1px;
    font-size: 36px;
    color: black;
}
.hpSignUp {
    background: #aad4f7;
    padding: 30px 30px 30px 30px;
    border: solid #bacfd8 1px;
}
.hpSignUp .form-control {
    margin-top: 20px;
    height: 40px;
}
.hpSignUp .btn {
    font-family: 'Inika', Helvetica;
    font-size: 28px;
    letter-spacing: 1pt;
    margin-top: 40px;
}
.hpHeader {
    font-family: 'Patua One', cursive;
    font-size: 24px;
    padding-top: 70px;
}
.hpFeature {
    padding-bottom: 20px;
    padding-top: 70px;
    font-size: 22px;
    font-family: 'Carrois Gothic', sans-serif;
}
.hpFeature img {
    height: 85px;
    margin-bottom: 25px;
}
.hpFeature .hpFeatureInfo {
    font-family: 'Inika', serif;
    font-size: 16px;
}
.hpSteps {
    padding-bottom: 20px;
    padding-top: 20px;
}
.hpStepsText {
    font-family: 'Inika', serif;
    font-size: 16px;
    padding-top: 40px;
}


.padded {
    padding-top: 20px;
    padding-bottom: 20px;
}

.empty {
    height: 500px;
}
.verticalline {
    border-left:  thin solid #D9E8F4;
}



.FP_Header {
color: #b4b4b4;
font-weight: bold;

}

.FP_Question{
color: #b4b4b4;
font-weight: bold;
font-size:500%
}

.FP_Center {
text-align: center;
}

#FP_great {
color: #b4b4b4;
}

.video_header {
background-color: #D9E8F4;
opacity:.3;

}

#video_font_head {
color: #428bca;
font-weight: bold;
}

.hrBlue {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #D9E8F4;
}

.footer {
    margin-top: -25px; /* Override footer margin for this page only */
}

/* Knockout Validation Styles */

.customMessage { color: #ed9c28; }

.spaced-buttons { margin-top: 10px; }
