.toggle-box {
height: 320px !important;
    border: 1px solid #EEE;
}

.toggle-box-left {
    border-right: none;
}
.toggle-box-right {

}

.toggle-box-active {
    z-index: 1;
}
.toggle-box-muted {
    opacity: 0.4;
    color: #ccc;
}
.toggle-box-muted .btn.btn-default {
    color: #ccc;
    border-color: #eee;
}
.toggle-box-muted input {
    color: #ccc;
    border-color: #eee;
}
.toggle-box-muted .btn-success {
    background-color: #CCC;
    border-color: #BBB;
}
