.toggle-box {
height: 320px !important;
    border: 1px solid #EEE;
}

.toggle-box-left {
    border-right: none;
}
.toggle-box-right {

}

.toggle-box-active {
    z-index: 1;
}
.toggle-box-muted {
    opacity: 0.4;
    color: #ccc;
}
.toggle-box-muted .btn.btn-default {
    color: #ccc;
    border-color: #eee;
}
.toggle-box-muted input {
    color: #ccc;
    border-color: #eee;
}
.toggle-box-muted .btn-success {
    background-color: #CCC;
    border-color: #BBB;
}

#login-hero {
    background: #67a3bf;
    /* Old browsers */
    background: -moz-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #67a3bf), color-stop(18%, #166596), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
    /* IE10+ */
    background: linear-gradient(35deg, #67a3bf 0%, #166596 18%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a3bf', endColorstr='#000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: 800px;
    color: #fff;
    padding-top: 50px;
    position: relative;
}
#login-hero h1 {
    font-size: 3.5em;
    margin-bottom: -20px;
}
#login-hero h1, #home-hero h3 {
    z-index: 9;
    position: relative;
}
#login-hero h2 {
    margin-top: -50px;
    background-color: #ffffff;
    padding: 10px 0;
    color: #0A314A;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 12px;
}
#login-hero h3 {
    font-size: 24px;
}
#login-hero canvas {
    position: absolute;
    top: 0;
    left: 0;
}

h3.login-tagline {
    padding-bottom: 35px;
}

.login-network-bg {
    background: url("/static/img/front-page/bg-web.png") repeat;
    background-size: contain;
    height: 1000px;
    margin-bottom: -1000px;
    opacity: 0.25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

a {
    color: #43a1f2;
    text-decoration: none;
}
