#signInContainer {
    height: 600px;
}

.toggle-box {
    height: 320px;
    border: 1px solid #EEE;
}

.toggle-box-left {
    border-right: none;
}
.toggle-box-right {

}

.toggle-box-active {
    z-index: 1;
}
.toggle-box-active.toggle-box-left {
    box-shadow: 3px 0px 6px -2px #AAA;
    border-left: 3px solid #5CB85C;
}
.toggle-box-active.toggle-box-right {
    box-shadow: -3px 0px 6px -2px #AAA;
    border-right: 3px solid #5CB85C;
}

.toggle-box-muted {
    background-color: #F5F5F5;
    color: #ccc;
}
.toggle-box-muted .btn.btn-default {
    color: #ccc;
    border-color: #eee;
}
.toggle-box-muted input {
    color: #ccc;
    border-color: #eee;
}
.toggle-box-muted .btn-success {
    background-color: #CCC;
    border-color: #BBB;
}
.existing-user-signin {
    background: #f7f7f7;
    border-radius: 4px;
}

#termsAndConditions {
    margin-top: 25px;
    margin-bottom: 100px;
}
