.overflow {
    word-wrap: break-word;
    max-width: 100%;
}

span.edit-profile-settings {
    float:right;
}

div.profile-fullname{
    display: block;
    bottom: 0;
}

span#profileFullname{
    display: block;
}

.pointer {cursor: pointer;}

table.table.table-plain th, table.table.table-plain td {
  border-top: 0px solid #ddd;
}

.page-header {
    overflow: hidden;
}

.flashed-message {
    display: inline-block;
    padding-left: 10px;
}

/* Profile gravatar
-------------------------------------------------- */
.profile-gravatar {
    float: left;
    width:70px;
    height:70px;
    margin-right: .5em;
}

#social td:first-child {
    word-break: break-all;
}

.fa.toggle-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    display: inline-block;
    margin: 0 15px 0 0;
}

/* Cards
-------------------- */
.card-heading {
    position: relative;
}

.card-heading .subheading {
    display: block;
    font-style: italic;
    font-size: 75%;
    margin-bottom: 10px;
    margin-top: -5px;
}

.no-bottom-border {
    border-bottom-width: 0;
}
