/* Contributor List */
#contributors {
    margin-bottom:10px;
}

#contributors #description {
    vertical-align: top;
}

#contributors ol {
    margin:0;
    padding:0;
    display:inline;
}

#contributors ol li {
    list-style-type:none;
    display:inline;
    white-space: nowrap;
}

#contributors ol li:after {
    content: ",";
}

#contributors ol li:last-child:after {
    content: "";
}

#contributors p {
    margin: 0;
}

.node-title {
    line-height: 44px;
    border-bottom: none;
    margin-top: .3em;
    font-size: 36px;
}

/* Project Setting Page Header*/
.page-header.visible-xs {
    margin: 0;
}

.contributor-self {
    font-weight: bold;
}

#duplicateModal h4 {
    line-height: 34px;
    padding-bottom: 10px;
}

/* Multiple device support for project nav-bar */
@media (max-width: 767px) {
    .osf-project-navbar li>a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .osf-project-navbar li #commentsLink {
        font-size: 15px;
        padding: 12px 30px;
    }
    .osf-project-navbar li #commentsLink:hover {
        background-color: #DADADA;
        text-decoration: none;
    }
    .osf-project-navbar a.project-title {
    }
    .project-nav {
        overflow: hidden;
    }

    /* Allow project nav to move the content on small screen */
    #projectBanner .osf-project-navbar {
        position: relative;
        top: 0;
        margin-top: -55px;
    }
    #projectBanner {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    .osf-project-navbar li>a {
        padding-left: 7px;
        padding-right: 7px;
    }
    .osf-project-navbar a.project-title {
        max-width: 190px;
    }
}

@media (min-width: 992px) {
   .osf-project-navbar li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .osf-project-navbar a.project-title {
        max-width: 300px;
    }
}
@media (min-width: 1200px) {
    .osf-project-navbar li>a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .osf-project-navbar a.project-title {
        max-width: 400px;
    }
}

.editable-error-block {
    font-size: 16px;
    max-width: 100%;
    margin: 5px 0 0;
    width: auto;
    white-space: normal;
}

#addPointer td {
    vertical-align: middle;
}

.affix-bottom {
    position: relative;
    word-break: break-all;
    word-break: break-word; /* Non standard for webkit*/
}

/* Disable word-break in project addon-settings table */
.table-addon-terms td:first-child {
    word-break: normal;
}

/* Project Description */

span#nodeDescriptionEditable{
    white-space:pre-line;
}

#render-node .ball-scale-light>div {
    background-color: #BED1E2;
}
