.share-buttons {
    margin: 3px 20px;
}

.share-buttons a, .share-buttons a:hover {
    padding: 0px 2px;
    display: inline-block;
    width: 35px;
    text-align: center;
    margin: 0 2px;
    background-color: #EAEAEA;
    background-color: rgba(0, 0, 0, 0.06);
}

.share-buttons .fa {
    color: #08c;
    font-size: 1.6em;
    line-height: 1.6em;
}

#share .share-buttons {
    display: inline-block;
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: top;
}

#shareDropdown .dropdown-menu {
    min-width: 0px;
    white-space: nowrap;
    background-color: #f8f8f8;
}
