div.dropdown .dropdown-menu li, .shareButtons {
    margin: 3px 20px;
}

div.dropdown .dropdown-menu li a, .shareButtons a {
    padding: 0px 2px;
    display: inline-block;
}

div.dropdown .dropdown-menu {
    background-color: #f8f8f8;
}

div.dropdown .dropdown-menu a:hover {
    background-image: none;
    background-color: #f8f8f8;
}

div.dropdown .fa, .shareButtons .fa {
    color: #08c;
    font-size: 1.6em;
    line-height: 1.6em;
}

.shareButtons {
    display: inline-block;
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: top;
}


#shareDropDown .dropdown-menu {
    min-width: 0px;
    white-space: nowrap;
}

#shareContentHolder {
    display: none;
}
