.share-buttons {
    margin: 3px 6px;
}

.share-buttons a, .share-buttons a:hover {
    padding: 0px 2px;
    display: inline-block;
    width: 35px;
    text-align: center;
    margin: 0 2px;
    background-color: #f0f0f0;
}

.share-buttons a:hover {
    background-color: #e0e0e0;
}

.share-buttons .fa {
    color: #08c;
    font-size: 1.6em;
    line-height: 1.6em;
}

#share .share-buttons {
    display: inline-block;
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: top;
}

#shareButtonsPopoverContent {
    max-width: 168px;
    width: 168px;
}
