.project-analytics .c3 svg { font: 12px sans-serif; }

.equal-heighted-row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

@media (max-width: 768px) {
    .col-sm-4.col-xs-12.panel.panel-default {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.no-analytics img { opacity: 0.5; }

