.support-item {
    border: 1px solid #eee;
}
.support-head, .support-body {
    padding: 10px;
}
.support-head {
    background-color: #f5f5f5;
    padding-left: 25px;
    position: relative;
    margin:0;
    cursor: pointer;
}

.support-head > .fa{
    position: absolute;
    left: 10px;
}

.support-item .support-body {
    display: none;
}
.support-nomatch {
    color: #999;
}
.support-nomatch a {
    color: #87cefa;
}

.support-sidebar {
    border-right: 1px solid #eee;
    background: #f8f8f8;
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}
.support-sidebar p {
    font-size: 13px;
}