.drag-drop-cursor {
    position: absolute;
    border-left: 2px solid #696969;
}

.panel-heading.no-background {
    background: transparent;
}
.wiki-panel-header {
    height: 50px;
}
.markdown-it-view {
    padding: 10px;
    height: auto;
}
.wiki-compare-view {
    white-space: pre-wrap;
    padding: 10px;
}
.panel-collapsed {
    background: #F5F5F5;
    height: auto;
}
.wiki-sidenav h4, .wiki-sidenav li>ul>.btn,  .osf-sidenav.wiki-sidenav ul>li .row {
    padding: 8px 15px;
    margin-top: 2px;
}
.wiki-sidenav h4 {
    margin-top:20px;
    margin-bottom: 0;
    font-weigth: normal;
}
.osf-sidenav.wiki-sidenav ul>li a:hover {
    background: transparent;
}
.osf-sidenav.wiki-sidenav ul>li:hover {
    background: #f5f5f5;
}
.osf-sidenav.wiki-sidenav ul>li.active a {
    line-height: 26px;
}
.osf-sidenav.wiki-sidenav ul>li.active, .osf-sidenav.wiki-sidenav ul>li.active:hover {
    background: #f5f5f5;
    border-left: 2px solid #337AB7;
}
.osf-sidenav.wiki-sidenav ul>li.active a {
    border-right: none;
    color: #337AB7;
}
.osf-sidenav.wiki-sidenav h4 a:hover {
    text-decoration: none;
}
.osf-sidenav.wiki-sidenav ul>li a:hover {
    text-decoration: none;
}

/* Changes to default icons to be consistent with the grey look of many new ui items */
.btn-default-alt {
    background: #EFEFEF;
}
.btn-success-alt {
    background: #D9E8D9;
}
.addon-external-link:hover,
.addon-external-link:focus {
    text-decoration: none !important;
}

/*Special for wiki panel */
.osf-panel-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 764px;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.osf-panel-heading-flex {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.osf-panel-body-flex {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 3 0 auto;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    height: 500px;
    overflow: auto;
}
.osf-panel .superlist li {
    display: block;
    font-size: 20px;
}
.superlist li {
    display: inline-block;
    float: none;
}
.superlist li a {
    padding: 15px 10px;
}

@media (max-width: 768px) {
 .superlist.navbar-nav {
    margin: 0;
 }
}

/* Style for Ace wiki editor */
.wiki-editor {
    position: relative;
    border: solid;
    border-width: 1px;
    width: 100%;
    margin: auto;
    -webkit-box-flex: 3 0 auto;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    height: 400px; /* this will get overwritten by flex box */
}

/* Make wiki images responsive */
.wiki img{
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
}
.wiki-title {
    line-height: 36px;
    border-bottom: none;
    margin-top: 0.2em;
    margin-bottom: 20px;
}

/* Extra small devices */
@media (max-width: 767px) {
    .wiki-title-xs {
        font-size: 20px;
        line-height: 20px;
    }
    .wiki-status-sm {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .wiki-status-lg {
        float: right;
        margin-left: 20px;
        display: inline-block;
    }
}

.wiki-title-container {
    display: inline-block;
    width:60%;
}
.wiki-nav-closed .icon-stack-base {
    font-size: 20px;
}
.wiki-nav-closed .icon-plus {
    margin-left: -14px;
    font-size: 12px;
}
.wiki-component {
    list-style-type: none;
    padding-right: 20px;
}
.wiki-component li {
    margin-bottom: 8px;
}

/* Markdown editing */
.wmd-panel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 620px;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wmd-panel .list-inline {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.wiki-view-icon-container  /* this keeps the container of the view icon and dropdown responsive */
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}
#wmd-button-bar {
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.wmd-input {
    border: 1px solid DarkGray;
}
.wmd-button-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
}
.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url(/static/public/vendor/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-spacer1 {
    left: 50px;
}
.wmd-spacer2 {
    left: 175px;
}
.wmd-spacer3 {
    left: 300px;
}
.wmd-prompt-background {
    background-color: Black;
}
.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}
#wmd-autocom-toggle {
    margin-left:5px;
    list-style: none;
    display: inline-block;

}
.wiki-single-heading {
    border: 1px solid #ddd;
}
select.form-control {
    padding:1px;
    display: inline;
    height: 24px;
    font-size: 13px;
}
.wiki-toolbar-icon {
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 0 0 2px #BBB;
    background: #F8F8F8;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 2px;
    float: left;
}
.wiki-toolbar-icon .fa {
    font-size: 15px;
}
.wiki-toolbar-icon span {
    margin-left: 5px;
}
.wiki-toolbar-icon:hover {
  background: rgba(51, 122, 183, 0.15);
}

.absolute-center{
    display: none;
    position: absolute;
    -webkit-transform:translateY(-50%);
    -webkit-transform:translateX(-50%);
    transform:translateY(-50%);
    transform:translateX(-50%);
    left: 50%;
    top:50%;
    z-index: 1;
}

#wikiViewRender > .table {
    display: inherit;
    overflow-y: hidden;
}

.menu-item {
  border: none;
  outline: none;
  background: transparent;
  color: #4B5563;
}

.wiki-radio-group {
    display:flex;
}

.wiki-radio-item {
    margin-right: 10px;
}

.menuItem:hover{
    background: #d1d5db;
}

.table-dropdown-item {
  padding: 2px 8px 2px 4px;
}

.milkdown .editor img.emoji {
    width: 1em;
    height: 1em;
}

.mFrame {
    overflow: auto;
    height: 400px;
}

.wiki-editor-modal-label {
    margin-bottom: 0;
    width: 130px;
    display: inline-block;
    text-align: left;
}

.wiki-editor-modal-input{
    width: calc(100% - 136px);
    display: inline-block;
}

#mMenuBar {
    border-bottom: 1px solid;
    border-bottom-color: #d1d5db;
}

.m-menu-color-item {
    position: relative;
    display: inline-block;
}

.m-menu-color-input {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#arrowDropDown {
    margin-left: -7px;
}

#tableMenu {
    border: 1px solid #aaa;
    padding: 2px;
    font-size: 90%;
    background: white;
    z-index: 15;
    white-space: nowrap;
    position: absolute;
}

.table-dropdown-item:hover {
    background-color: #337AB7;
}

.heading-dropdown-item:hover {
    background-color: #337AB7;
}

.milkdown .editor table {
    width: 80%;
}

.milkdown .editor ul li {
    list-style-type: none;
}

.milkdown .editor ul li:has(>p) {
    list-style-type: disc;
}

.milkdown .editor ul li:has(>p >a) {
    list-style-type: disc;
}

.milkdown .editor li[data-list-type="ordered"] {
    list-style-type: decimal;
}

.sort-item {
    padding: 5px;
}

.ko_container li {
    list-style: none;
}

.sort-children:empty {
    min-height: 7px;
  }

.importOperationItem{
    display: inline-block;
    margin-right: 10px;
}

div[name="WikiImportOperationPer"] {
    display: inline-block;
    margin-left: 10px;
}

div[name="WikiImportOperationPerName"] {
    display: list-item;
    position: absolute;
    left: 55px;
    max-width: 410px;
}

li[name="WikiImportOperationPerItem"] {
    display: flex;
    justify-content: flex-end;
}

.sort-modal-dialog {
    width: 70%
}

.sort-modal-body {
    height: 550px;
    overflow: auto;
}

.sort-modal-footer {
    border-top: 1px solid #e5e5e5;
}

.sort-title {
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.sort-tree {
    margin-top: 25px;
}

.sort-item {
    border-bottom: 1px solid #ddd;
}

.sort-expand-collapse-icon {
    margin-right: 2px;
}

.sort-bars {
    color: #ddd;
    margin-right: 1px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 8px;
}