.drag-drop-cursor {
    position: absolute;
    border-left: 2px solid #696969;
}

.panel-heading.no-background {
    background: transparent;
}
.wiki-panel-header {
    height: 50px;
}
.markdown-it-view {
    padding: 10px;
    height: auto;
}
.wiki-compare-view {
    white-space: pre-wrap;
    padding: 10px;
}
.panel-collapsed {
    background: #F5F5F5;
    height: auto;
}
.wiki-sidenav h4, .wiki-sidenav li>ul>.btn,  .osf-sidenav.wiki-sidenav ul>li .row {
    padding: 8px 15px;
    margin-top: 2px;
}
.wiki-sidenav h4 {
    margin-top:20px;
    margin-bottom: 0;
    font-weigth: normal;
}
.osf-sidenav.wiki-sidenav ul>li a:hover {
    background: transparent;
}
.osf-sidenav.wiki-sidenav ul>li:hover {
    background: #f5f5f5;
}
.osf-sidenav.wiki-sidenav ul>li.active a {
    line-height: 26px;
}
.osf-sidenav.wiki-sidenav ul>li.active, .osf-sidenav.wiki-sidenav ul>li.active:hover {
    background: #f5f5f5;
    border-left: 2px solid #337AB7;
}
.osf-sidenav.wiki-sidenav ul>li.active a {
    border-right: none;
    color: #337AB7;
}
.osf-sidenav.wiki-sidenav h4 a:hover {
    text-decoration: none;
}
.osf-sidenav.wiki-sidenav ul>li a:hover {
    text-decoration: none;
}

/* Changes to default icons to be consistent with the grey look of many new ui items */
.btn-default-alt {
    background: #EFEFEF;
}
.btn-success-alt {
    background: #D9E8D9;
}
.addon-external-link:hover,
.addon-external-link:focus {
    text-decoration: none !important;
}

/*Special for wiki panel */
.osf-panel-flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 764px;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.osf-panel-heading-flex {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.osf-panel-body-flex {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 3 0 auto;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    height: 500px;
    overflow: auto;
}
.osf-panel .superlist li {
    display: block;
    font-size: 20px;
}
.superlist li {
    display: inline-block;
    float: none;
}
.superlist li a {
    padding: 15px 10px;
}

@media (max-width: 768px) {
 .superlist.navbar-nav {
    margin: 0;
 }
}

/* Style for Ace wiki editor */
.wiki-editor {
    position: relative;
    border: solid;
    border-width: 1px;
    width: 100%;
    margin: auto;
    -webkit-box-flex: 3 0 auto;
    -webkit-flex: 3 0 auto;
    -ms-flex: 3 0 auto;
    flex: 3 0 auto;
    height: 500px; /* this will get overwritten by flex box */
}

/* Make wiki images responsive */
.wiki img{
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
}
.wiki-title {
    line-height: 36px;
    border-bottom: none;
    margin-top: 0.2em;
    margin-bottom: 20px;
}

/* Extra small devices */
@media (max-width: 767px) {
    .wiki-title-xs {
        font-size: 20px;
        line-height: 20px;
    }
    .wiki-status-sm {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .wiki-status-lg {
        float: right;
        margin-left: 20px;
        display: inline-block;
    }
}

.wiki-title-container {
    display: inline-block;
    width:60%;
}
.wiki-nav-closed .icon-stack-base {
    font-size: 20px;
}
.wiki-nav-closed .icon-plus {
    margin-left: -14px;
    font-size: 12px;
}
.wiki-component {
    list-style-type: none;
    padding-right: 20px;
}
.wiki-component li {
    margin-bottom: 8px;
}

/* Markdown editing */
.wmd-panel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 620px;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wmd-panel .list-inline {
    width: 100%;
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}
#wmd-button-bar {
    margin: auto;
    -webkit-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.wmd-input {
    border: 1px solid DarkGray;
}
.wmd-button-row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
}
.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url(/static/public/vendor/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-spacer1 {
    left: 50px;
}
.wmd-spacer2 {
    left: 175px;
}
.wmd-spacer3 {
    left: 300px;
}
.wmd-prompt-background {
    background-color: Black;
}
.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}
#wmd-autocom-toggle {
    margin-left:5px;
    list-style: none;
    display: inline-block;

}
.wiki-single-heading {
    border: 1px solid #ddd;
}
select.form-control {
    padding:1px;
    display: inline;
    height: 24px;
    font-size: 13px;
}
.wiki-toolbar-icon {
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 0 0 2px #BBB;
    background: #F8F8F8;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 2px;
    float: left;
}
.wiki-toolbar-icon .fa {
    font-size: 15px;
}
.wiki-toolbar-icon span {
    margin-left: 5px;
}
.wiki-toolbar-icon:hover {
  background: rgba(51, 122, 183, 0.15);
}
