{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Customer cases</title>
{% endblock title %}

{% block content %}
    <a href="{% url 'users:user' user_id %}" class="btn btn-primary">Back to user</a>
    <a href="" class="btn btn-primary disabled">Create a new case</a>
    <h3>OSF user's desk.com cases:</h3>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Status</th>
            <th>Subject</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
    {% for case in cases %}
        <tr>
            <td>{{ case.type }}</td>
            <td>{{ case.status }}</td>
            <td>{{ case.subject | truncatechars:60 }}</td>
            <td>
                <a href="{{ desk_link }}{{ case.id }}" target="_blank">Link</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>No cases</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock content %}
