{% if perms.osf.view_desk %}
    <a data-toggle="modal" data-target="#deskModal" class="btn btn-default">Desk profile</a>
    <div class="modal" id="deskModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3>User's desk.com info</h3>
                </div>
                <div class="modal-body">
                    {% if customer_info %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ customer_info.name }}</td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>{{ customer_info.company }}</td>
                                </tr>
                                <tr>
                                    <td>Background</td>
                                    <td>{{ customer_info.background }}</td>
                                </tr>
                                    <td>Desk id</td>
                                    <td>
                                        {{ customer.guid }}
                                        <a href="{{ desk_link }}{{ user.guid }}" target="_blank" class="btn btn-primary">
                                            Go to Desk
                                        </a>
                                    </td>
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for email in customer_info.emails %}
                                                <tr>
                                                    <td>{{ email.type }}</td>
                                                    <td>{{ email.value }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p>{{user}} needs an admin profile with valid desk token</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" >Close</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}