{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block title %}
    <title>Affiliated Institutions</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ institution.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="add-affiliation-form" action="{% url 'users:affiliations' guid=user.guid %}" method="post">
                    {% csrf_token %}
                    <label>Add Institution by guid: </label>
                    <input type="text" name="add-affiliation-form">
                    <input type="submit" name="user" value="Add Institution" class="form-button btn btn-success">
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <form id="remove-affiliation-form" action="{% url 'users:remove_affiliations' guid=user.guid %}" method="post">
                   {% csrf_token %}
                    <table class="table table-striped">
                        <th></th>
                        <th>Name</th>
                        <th>Guid</th>
                        {% for institution in institutions %}
                            <tr>
                                <td><input type='checkbox' name="institution-{{institution.id}}"></td>
                                <td>{{ institution.name }}</td>
                                <td>{{ institution.guid }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <input class="form-button btn btn-danger" type="submit" value="Remove affiliation" />
                </form>
            </div>
        </div>
    </div>
{% endblock content %}