{% if perms.osf.change_osfuser and user.is_registered %}
    <a data-toggle="modal" data-target="#resetModal" class="btn btn-default">Send reset password email</a>
    <div class="modal" id="resetModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="well" method="post" action="{% url 'users:reset_password' guid=user.guid %}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h3>Choose email to send reset link</h3>
                    </div>
                    <div class="modal-body">
                        <h4>User: {{ user.guid }}</h4>
                        {% csrf_token %}
                        <select name="emails" id="id_emails">
                            {% for email in user.emails.all %}
                                <option value="{{ email.address }}" >{{ email.address }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" value="Send" />
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
