{% extends 'base.html' %}
{% load static %}
{% load node_extras %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
{% endblock %}
{% block title %}
    <title>User Search</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h3>User Search</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'users:search' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>User Workshop Follow-up</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'users:workshop' %}" class="btn btn-default">
                    Go
                </a>

            </div>
        </div>
    </div>
{% endblock content %}
