{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load node_extras %}

{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/users.css" />
{% endblock %}

{% block title %}
<title>{{ current_user.name }} - {% trans "Statistical Status of Institutional Storage" %}</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h2 id="title">{% trans "Statistical Status of Institutional Storage" %}</h2>
    <h3 id="sub-title">{% trans "Institutional Storage" %} > {{ current_user.name }}</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans "Field" %}</th>
                        <th>{% trans "Value" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans "Projects" %}</td>
                        <td>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>{% trans "GUID" %}</th>
                                        <th>{% trans "Name" %}</th>
                                        {% comment %}<th>{% trans "Public" %}</th>{% endcomment %}
                                        {% comment %}<th>{% trans "Registration" %}</th>{% endcomment %}
                                        <th># of Contributors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for node in current_user.nodes %}
                                    <tr>
                                        <td>{{ node.id }}</td>
                                        <td>{{ node.title | truncatechars:20 }}</td>
                                        {% comment %}<td>{{ node.public }}</td>{% endcomment %}
                                        {% comment %}<td>{{ node.is_registration }}</td>{% endcomment %}
                                        <td>{{ node.number_contributors }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Quota for Institutional Storage (GB)" %}</td>
                        <td>
                            <form method="post" action="{% url 'users:institution_quota' current_user.id %}" class="row">
                                {% csrf_token %}
                                <div class="col-xs-2 storageLimitContainer">
                                    <input type="number" name="maxQuota" id="storageLimit" class="form-control" min="1" required value="{{ current_user.quota }}" oninvalid="this.setCustomValidity('Value must be an integer number greater than or equal 0.')" oninput="setCustomValidity('')" />
                                    <input type="number" name="maxQuota" id="storageLimit" class="form-control" min="0" max="2147483647" required value="{{ current_user.quota }}"
                                           oninvalid="this.setCustomValidity('{% trans 'Please enter Quota for Institutional Storage (GB) within 0~2147483647.' %}')" oninput="validateMaxQuotaInput()"
                                           onKeyDown="preventDotInput(event)" {% if current_user.disable_update_max_quota %}disabled{% endif %}/>
                                </div>
                                <input type="submit" id="applyMaxQuota" class="btn btn-success" value="{% trans 'Apply' %}"
                                    {% if current_user.disable_update_max_quota %}disabled{% endif %}
                                />
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function validateMaxQuotaInput() {
        let $max_quota = $('#storageLimit');
        let max_quota = $max_quota.val();
        if (!(/^[0-9]+$/.test(max_quota))) {
            $max_quota.get(0).setCustomValidity('{% trans 'Please enter Quota for Institutional Storage (GB) within 1~2147483647.' %}');
        } else {
            $max_quota.get(0).setCustomValidity('');
        }
    }
    function preventDotInput(e) {
        if (e.key !== undefined && e.key === '.') {
            e.preventDefault();
        }
    }
</script>
{% endblock content %}
