{% extends "base.html" %}
{% load static %}
{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Create Preprint Provider</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Create A Preprint Provider</h2>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

