{% extends "base.html" %}
{% load static %}
{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
    <script src="/static/js/preprint_providers/preprintProviders.js"></script>
{% endblock %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Preprint Provider</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href={% url 'preprint_providers:export' preprint_provider.id %}>Export preprint provider metadata</a>
                <a class="btn btn-danger" href={% url 'preprint_providers:delete' preprint_provider.id %}>Delete preprint provider</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="institution-logo" src="{{ logohost }}/static/img/preprint_providers/{{ preprint_provider.logo_name }}">
                <h2>{{ preprint_provider.name }}</h2>
            </div>
        </div>
            {% if perms.osf.change_preprint_provider %}
        <div class="row">
            <div class="col-md-12">
                <button id="show-modify-form" class="btn btn-link" type="button">
                    Modify Preprint Provider
                </button>
            </div>
        </div>
            {% endif %}

        <div class="row" id="table-view">
            <div class="col-md-12">
                <table class="table table-striped">
                    {% for field, value in preprint_provider.items %}
                        <tr>
                            <th>{{ field }}</th>
                            <td>{{ value | safe }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row" id="form-view" style="display:none;">
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#provider_attributes" data-toggle="tab">Attributes</a></li>
                    <li role="presentation"><a href="#provider_subjects" data-toggle="tab">Subjects</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="provider_attributes">
                        <div class="row">
                            <div class="col-md-12">
                                <form action= {% url 'preprint_providers:detail' preprint_provider.id %} method="post">
                                    {% csrf_token %}
                                    {{ change_form.as_p }}
                                    <input class="form-button" type="submit" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="provider_subjects">
                        <form action= {% url 'preprint_providers:process_subjects' preprint_provider.id %} method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Modify Provider Subjects</h3>
                                    <div>{{ subject_form.subjects_chosen }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="firstlevel_subjects">
                                        <ul style="list-style-type:none">
                                            {% for subject in subject_form.toplevel_subjects %}
                                                <li>{{ subject }} <i class="subject-icon first-level glyphicon glyphicon-menu-right"></i></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="secondlevel_subjects">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div id="thirdlevel_subjects">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input class="form-button" type="submit" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 json-import">
                <div>
                    <h4>Import from JSON</h4>
                    <p>Choose a JSON file that has been previously exported from another Preprint Provider detail page. This will
                        pre-populate the Preprint Provider change form with those details.</p>
                    <form id="import-form" action = {% url 'preprint_providers:import' %} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ import_form.as_p }}
                        <input class="form-button" type="submit" value="Import" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block bottom_js %}
    <script>
        window.templateVars = {
            'importUrl': '{% url 'preprint_providers:import' %}',
            'getSubjectsUrl': '{% url 'preprint_providers:get_subjects' %}',
            'getDescendantsUrl': '{% url 'preprint_providers:get_descendants' %}',
            'rulesToSubjectsUrl': '{% url 'preprint_providers:rules_to_subjects' %}',
            'originalSubjects': {{ subject_ids | escapejs }}
        }
    </script>
{% endblock %}
