{% extends 'base.html' %}
{% load static %}
{% load node_extras %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Preprint Providers</title>
{% endblock title %}
{% block top_includes %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
    <script src="/static/js/preprint_providers/preprintProviders.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{ tinymce_apikey }}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href={% url 'preprint_providers:export' preprint_provider.id %}>Export preprint provider metadata</a>
                {%  if perms.osf.delete_preprintprovider %}
                    <a class="btn btn-danger" href={% url 'preprint_providers:delete' preprint_provider.id %}>Delete preprint provider</a>
                {% endif %}
                {%  if preprint_provider.share_source or preprint_provider.access_token %}
                    <a class="btn btn-primary disabled">Share source or token already exist</a>
                {% else %}
                    <a class="btn btn-primary" href={% url 'preprint_providers:share_source' preprint_provider.id %}>Setup Share Source</a>
                {% endif %}
                {% if perms.osf.change_preprintprovider %}
                    <a class="btn btn-primary" href={% url 'preprint_providers:register_moderator_admin' preprint_provider.id %}>Register Moderator/Admin</a>
                    <a class="btn btn-primary" href={% url 'preprint_providers:edit' preprint_provider.id %}>Modify Preprint Provider</a>
                {% if show_taxonomies %}
                    <a class="btn btn-primary" href={% url 'preprint_providers:process_custom_taxonomy' preprint_provider.id %}>Modify Custom Taxonomy</a>
                {% else %}
                    <a class="btn btn-primary" href={% url 'preprint_providers:process_custom_taxonomy' preprint_provider.id %}>View Custom Taxonomy</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ preprint_provider.name }}</h2>
            <img class="institution-logo" src="{{logo}}" alt="Logo image '{{logo}}' not found" style="height: 100px, width:100px;"/>
        </div>
    </div>
    <div class="row" id="table-view">
        <div class="col-md-12">
            <table class="table table-striped">
                {% for field, value in preprint_provider.items %}
                <tr>
                    <th>{{ field }}</th>
                    <td>{{ value | safe }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div id="form-view" style="display:none;">
    </div>

{% endblock content %}
{% block bottom_js %}
    <script>
        window.templateVars = {
            'importUrl': '{% url 'preprint_providers:import' %}',
            'getSubjectsUrl': '{% url 'preprint_providers:get_subjects' %}',
            'getDescendantsUrl': '{% url 'preprint_providers:get_descendants' %}',
            'rulesToSubjectsUrl': '{% url 'preprint_providers:rules_to_subjects' %}',
            'processCustomTaxonomyUrl': "{% url 'preprint_providers:process_custom_taxonomy' preprint_provider.id %}",
            'originalSubjects': {{ subject_ids | escapejs }}
        };
    </script>
{% endblock %}
