{% extends "base.html" %}
{% load static %}
{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
    <script src="/static/js/preprint_providers/preprintProviders.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{ tinymce_apikey }}"></script>
{% endblock %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Preprint Provider</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href={% url 'preprint_providers:export' preprint_provider.id %}>Export preprint provider metadata</a>
                {%  if perms.osf.delete_preprintprovider %}
                <a class="btn btn-danger" href={% url 'preprint_providers:delete' preprint_provider.id %}>Delete preprint provider</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="institution-logo" src="{{ logohost }}/static/img/preprint_providers/{{ preprint_provider.logo_name }}">
                <h2>{{ preprint_provider.name }}</h2>
            </div>
        </div>
        {% if perms.osf.change_preprintprovider %}
        <div class="row">
            <div class="col-md-12">
                <button id="show-modify-form" class="btn btn-link" type="button">
                    Modify Preprint Provider
                </button>
            </div>
        </div>
        {% endif %}
        <div class="row" id="table-view">
            <div class="col-md-12">
                <table class="table table-striped">
                    {% for field, value in preprint_provider.items %}
                        <tr>
                            <th>{{ field }}</th>
                            <td>{{ value | safe }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="form-view" style="display:none;">
            {% include 'preprint_providers/update_preprint_provider_form.html' %}
            {% if show_taxonomies %}
            {% include 'preprint_providers/enter_custom_taxonomy.html' %}
            {% endif %}
        </div>

{% endblock content %}
{% block bottom_js %}
    <script>
        window.templateVars = {
            'importUrl': '{% url 'preprint_providers:import' %}',
            'getSubjectsUrl': '{% url 'preprint_providers:get_subjects' %}',
            'getDescendantsUrl': '{% url 'preprint_providers:get_descendants' %}',
            'rulesToSubjectsUrl': '{% url 'preprint_providers:rules_to_subjects' %}',
            'processCustomTaxonomyUrl': "{% url 'preprint_providers:process_custom_taxonomy' %}",
            'originalSubjects': {{ subject_ids | escapejs }}
        };
    </script>
{% endblock %}
