<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</head>

<div class="row">
    <div class="col-md-12">
        <div>
            <h2>Custom Taxonomy</h2>
            <p>Use the form below to build a custom taxonomy. In each dropdown menu, start typing to select an existing subject. After selecting a subject, or entering
                a custom mapping, click the "Add" button to add it to the taxonomy. The result will be displayed in the 'Built Custom Taxonomy' section.</p>

            <p>To remove an entry, delete it from the text box in the Built Custom Taxonomy section. If deleting the last item in a list, be sure to also remove the
                final comma.</p>

            <p>Click <a role="button" data-toggle="modal" href="#exampleModal">here</a> to see an example of a full custom taxonomy and for more information about each field.</p>
        </div>
        <form id="taxonomy-form" action="{% url 'preprint_providers:process_custom_taxonomy' %}" method="post">
            {% csrf_token %}
            {{ taxonomy_form.non_field_errors }}
            {{ taxonomy_form.provider_id }}

            <div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.include.errors }}
                    <div class="row">
                        <div class="col-md-2">
                            {{ taxonomy_form.include.label_tag }}
                        </div>
                        <div class="col-md-10">
                            {{ taxonomy_form.include }}
                            <button type="button" class="taxonomy-action-button" id={{ taxonomy_form.include.html_name }} value={{ taxonomy_form.include.id_for_label }}>Add</button>
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.exclude.errors }}
                    <div class="row">
                        <div class="col-md-2">
                            {{ taxonomy_form.exclude.label_tag }}
                        </div>
                        <div class="col-md-10">
                            {{ taxonomy_form.exclude }}
                            <button type="button" class="taxonomy-action-button" id={{ taxonomy_form.exclude.html_name }} value={{ taxonomy_form.exclude.id_for_label }}>Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div><b>Custom:</b></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ taxonomy_form.custom_name.errors }}
                        <p>
                            {{ taxonomy_form.custom_name.label_tag }}
                            {{ taxonomy_form.custom_name }}
                        </p>
                        {{ taxonomy_form.custom_parent.errors }}
                        <p>
                            {{ taxonomy_form.custom_parent.label_tag }}
                            {{ taxonomy_form.custom_parent }}
                        </p>
                        {{ taxonomy_form.bepress.errors }}
                        <p>
                            {{ taxonomy_form.bepress.label_tag }}
                            {{ taxonomy_form.bepress }}
                        </p>
                        <div class="pull-right">
                            <button type="button" id="id-add-custom">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.custom_taxonomy_json.errors }}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Built Custom Taxonomy</h4>
                            {{ taxonomy_form.custom_taxonomy_json }}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="id-validate-custom">Validate</button>
                <p>Click the 'Validate' button to check your taxonomy before clicking the 'Save' button to submit.</p>
                <div id="taxonomy-field-info"></div>
                <div>
                </div>
            </div>
            <div>
                <input class="form-button" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<!-- Modal explaining Custom Taxonomy -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Custom Taxonomy Example</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul>
                        <li><b>include</b>: These subjects, and their children will be included in the custom taxonomy.
                            If a second level subject is included, that second level will become the top of the subject tree, and its parent will not be in the taxonomy.</li>
                        <li><b>exclude</b>: These subjects, and their children will *not* be included in the custom taxonomy. Useful to include a top level subject, but then specify
                        a certain child and its descendants to not be included.</li>
                        <li><b>custom</b>: A new taxonomy name, along with information about which existing Bepress subject to replace with the new name.
                            <ul>
                                <li>custom name: the new name for the subject</li>
                                <li>custom parent: the parent of the subject. Leave blank if it is a toplevel subject.
                                    *Note*: if adding a new child of an existing bepress parent, you must also add a 'custom' parent with the same name that maps to the existing
                                    bepress subject. See JSON below for an example.
                                </li>
                                <li>bepress: the existing subject that you would like to repalce with the subject listed in the custom name field.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <pre>
{
    "include": [
        "Rehabilitation and Therapy",
        "Theatre and Performance Studies"
    ],
    "exclude": [
        "Acting",
        "Playwriting",
        "Theatre History",
        "Other Theatre and Performance Studies",
        "Dramatic Literature, Criticism and Theory"
    ],
    "custom": {
        "Medicine and Health": {
            "parent": "Rehabilitation and Therapy",
            "bepress": "Sociology"
        },
        "Sport and Exercise Science": {
            "parent": "",
            "bepress": "Kinesiology"
        },
        "Motor Control and Development": {
            "parent": "Sport and Exercise Science",
            "bepress": "Motor Control"
        },
        "Super Engineering": {
            "parent": "Engineering",
            "bepress": "Aerospace Engineering"
        },
        "Engineering": {
            "parent": "",
            "bepress": "Engineering"
        }
    }
}
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#id_provider_id").val({{ preprint_provider.id }})
</script>
