{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load spam_extras %}

{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% block title %}
    <title>List of Preprint Providers</title>
{% endblock title %}
{% block content %}
    <h2>List of Preprint Providers</h2>

    {% include "util/pagination.html" with items=page status=status %}
    <table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for preprint_provider in preprint_providers %}
    <tr>
        <td><a href="{% url 'preprint_providers:detail' preprint_provider_id=preprint_provider.id %}">{{ preprint_provider.name }}</a></td>
        <td>{{ preprint_provider.description | safe}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}
