    <head>
        <script>
            var TINYMCE_BASE_CONFIG = {
                branding: false,
                entity_encoding: 'raw',
                link_context_toolbar: true,
            };

            var DESCRIPTION_CONFIG = $.extend({
                selector:'textarea[name=description]',
                valid_elements: '*[*]',
                plugins: 'link preview code',
                end_container_on_empty_block: true,
                toolbar: 'bold italic underline | undo redo | link | code | preview',
                forced_root_block: ''
            }, TINYMCE_BASE_CONFIG);

            var ADVISORY_BOARD_CONFIG = $.extend({
                selector:'textarea[name=advisory_board]',
                content_css: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
                valid_elements: '*[*]',
                style_formats: [
                    {title: 'two column', block: 'div', classes: 'col-xs-6', wrapper: true, exact: false},
                ],
                style_formats_merge: true,
                end_container_on_empty_block: true,
                plugins: 'link lists advlist preview code',
                toolbar: 'bold italic underline | undo redo | link | bullist | code | preview'
            }, TINYMCE_BASE_CONFIG);

            var FOOTER_LINKS_CONFIG = $.extend({
                selector:'textarea[name=footer_links]',
                content_css: [
                    'https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css',
                ],
                valid_elements : "@[id|class|style|title],a[name|href|target|title|class],#p[class],#span[class|style],u,strong/b,em/i,br,-div",
                style_formats: [
                    {title: 'vertical-align', selector: 'span', styles: {'vertical-align': 'middle'}},
                    {title: 'fontawesome 2x', selector: 'span.fa', classes: 'fa-2x'},
                ],
                style_formats_merge: true,
                end_container_on_empty_block: true,
                plugins: 'link image preview code fontawesome',
                toolbar: 'bold italic underline | undo redo | link | image | fontawesome | code | preview ',
                external_plugins: {
                    'fontawesome': 'https://cdn.rawgit.com/josh18/TinyMCE-FontAwesome-Plugin/3f94be18/fontawesome/plugin.min.js'
                }
            }, TINYMCE_BASE_CONFIG);

            tinymce.init(DESCRIPTION_CONFIG);
            tinymce.init(ADVISORY_BOARD_CONFIG);
            tinymce.init(FOOTER_LINKS_CONFIG);

        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    </head>
<div class="row">
    <div class="col-md-9">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {%  if field.label != 'Toplevel subjects' %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
            {% if show_taxonomies %}
            <div class="row" id="subjects">
                <div class="col-md-4">
                    <div class="firstlevel_subjects">
                        <ul style="list-style-type:none">
                            {% for subject in form.toplevel_subjects %}
                                <li>{{ subject }} <i class="subject-icon first-level glyphicon glyphicon-menu-right"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="secondlevel_subjects">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="thirdlevel_subjects">
                    </div>
                </div>
            </div>
            {% endif %}
            <input class="form-button" type="submit" value="Save" />
        </form>
    </div>
    <div class="col-md-3">
        <div>
            <h4>Import from JSON</h4>
            <p>Choose a JSON file that has been previously exported from another Preprint Provider detail page. This will
                pre-populate the Preprint Provider change form with those details.</p>
            {% if preprint_provider %}
                <form action = {% url 'preprint_providers:import' preprint_provider_id=preprint_provider.id %} method="post" enctype="multipart/form-data" >
            {% else %}
                <form action = {% url 'preprint_providers:import' %} method="post" enctype="multipart/form-data" >
            {% endif %}
                {% csrf_token %}
                {{ import_form.as_p }}
                <input class="form-button" type="submit" value="Import" />
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <div>
            <h2>Custom Taxonomy</h2>
            <p>Use the form below to build a custom taxonomy. Enter the JSON for the custom taxonomy directly in the text box, or use the form fields below to build the taxonomy one entry at a time.</p>
            <p>Click <a role="button" data-toggle="modal" href="#exampleModal">here</a> to see an example of a full custom taxonomy
                and for more information about building a custom taxonomy.
            </p>
        </div>
        <form id="taxonomy-form" action="{% url 'preprint_providers:process_custom_taxonomy' %}" method="post">
            {% csrf_token %}
            {{ taxonomy_form.non_field_errors }}
            {{ taxonomy_form.provider_id }}

            <div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.add_missing.errors }}
                    <div class="row">
                        <div class="col-md-2">
                            {{ taxonomy_form.add_missing.label_tag }}
                        </div>
                        <div class="col-md-10">
                            {{ taxonomy_form.add_missing }}
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.include.errors }}
                    <div class="row">
                        <div class="col-md-2">
                            {{ taxonomy_form.include.label_tag }}
                        </div>
                        <div class="col-md-10">
                            {{ taxonomy_form.include }}
                            <button type="button" class="taxonomy-action-button" id={{ taxonomy_form.include.html_name }} value={{ taxonomy_form.include.id_for_label }}>Add</button>
                        </div>
                    </div>
                </div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.exclude.errors }}
                    <div class="row">
                        <div class="col-md-2">
                            {{ taxonomy_form.exclude.label_tag }}
                        </div>
                        <div class="col-md-10">
                            {{ taxonomy_form.exclude }}
                            <button type="button" class="taxonomy-action-button" id={{ taxonomy_form.exclude.html_name }} value={{ taxonomy_form.exclude.id_for_label }}>Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div><b>Custom:</b></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ taxonomy_form.custom_name.errors }}
                        <p>
                            {{ taxonomy_form.custom_name.label_tag }}
                            {{ taxonomy_form.custom_name }}
                        </p>
                        {{ taxonomy_form.custom_parent.errors }}
                        <p>
                            {{ taxonomy_form.custom_parent.label_tag }}
                            {{ taxonomy_form.custom_parent }}
                        </p>
                        {{ taxonomy_form.bepress.errors }}
                        <p>
                            {{ taxonomy_form.bepress.label_tag }}
                            {{ taxonomy_form.bepress }}
                        </p>
                        <div class="pull-right">
                            <button type="button" id="id-add-custom">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="fieldWrapper">
                    {{ taxonomy_form.custom_taxonomy_json.errors }}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Built Custom Taxonomy</h4>
                            {{ taxonomy_form.custom_taxonomy_json }}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="id-validate-custom">Validate</button>
                <p>Click the 'Validate' button to check your taxonomy before clicking the 'Save' button to submit.</p>
                <div id="taxonomy-field-info"></div>
                <div>
                </div>
            </div>
            <div>
                <input class="form-button" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<!-- Modal explaining Custom Taxonomy -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Custom Taxonomy Example</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <pre>
{
    "include": [
        "Rehabilitation and Therapy",
        "Theatre and Performance Studies"
    ],
    "exclude": [
        "Acting",
        "Playwriting",
        "Theatre History",
        "Other Theatre and Performance Studies",
        "Dramatic Literature, Criticism and Theory"
    ],
    "custom": {
        "Medicine and Health": {
            "parent": "Rehabilitation and Therapy",
            "bepress": "Sociology"
        },
        "Sport and Exercise Science": {
            "parent": "",
            "bepress": "Kinesiology"
        },
        "Exercise Immunology": {
            "parent": "Sport and Exercise Science",
            "bepress": "Exercise Science"
        },
        "Motor Control and Development": {
            "parent": "Sport and Exercise Science",
            "bepress": "Motor Control"
        }
    }
}
                </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#id_provider_id").val({{ preprint_provider.id }})
</script>
