{% load node_extras %}
<a data-toggle="modal" data-target="#confirmReversion" class="btn btn-default">
    Create new version 1
</a>
<div class="modal" id="confirmReversion">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="re-version-preprint-form", class="well">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3>Are you sure you want to create new version 1 for <a href="{{ preprint | reverse_preprint }}">({{ preprint.title }})</a> preprint</h3>
                </div>
                <p>Select file versions to attach:</p>
                {% for version in preprint.primary_file.versions.all %}
                    <label>
                        <input type="checkbox" name="file_versions" value="{{ version.identifier }}"> Version: {{ version.identifier }} | {{ version.created|date:"Y-m-d H:i" }}
                    </label>
                    <br/>
                {% endfor %}
                <p id="version-validation"></p>
                {% csrf_token %}
                <div class="modal-footer">
                    <input class="btn btn-danger" type="submit" value="Confirm" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

