{% if perms.osf.mark_spam %}
    <a href="{% url 'preprints:confirm-spam' guid=preprint.guid %}" data-toggle="modal" data-target="#confirmSpamModal" class="btn btn-warning">
        Confirm Spam
    </a>
    <a href="{% url 'preprints:confirm-ham' guid=preprint.guid %}" data-toggle="modal" data-target="#confirmHamModal" class="btn btn-default">
        Confirm <strong>Not</strong> Spam
    </a>
    <div class="modal" id="confirmSpamModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="well" method="post" action="{% url 'preprints:confirm-spam' guid=preprint.guid %}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h3>Are you sure this preprint is spam? {{ preprint.guid }}</h3>
                    </div>
                    {% csrf_token %}
                    <div class="modal-footer">
                        <input class="btn btn-danger" type="submit" value="Confirm" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="confirmHamModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="well" method="post" action="{% url 'preprints:confirm-ham' guid=preprint.guid %}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h3>Are you sure this preprint is <b>NOT spam?</b> {{ preprint.guid }}</h3>
                    </div>
                    {% csrf_token %}
                    <div class="modal-footer">
                        <input class="btn btn-danger" type="submit" value="Confirm" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endif %}
