{% load node_extras %}

<tr>
    <td>Contributors</td>
    <td>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Name</td>
                    <td>Permission</td>
                </tr>
            </thead>
            <tbody>
            {% for user in preprint.contributors %}
                <tr>
                    <td>
                        <a href="{{ user | reverse_user }}">
                            {{ user }}
                        </a>
                    </td>
                    <td>{{ user.fullname }}</td>
                    <td>{% get_permissions user preprint %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'preprints/edit_contributors.html' with contributors=annotated_contributors %}
    </td>
</tr>