{% if perms.osf.mark_spam %}
    {% if preprint.spam_status and preprint.spam_status == 1 %}
        <form action="{% url 'preprints:confirm-unflag' guid=node.guid %}" method="post" style="display: inline;">
            {% csrf_token %}
            {% include "preprints/unflag_modal.html" with preprint=preprint %}
        </form>
    {% endif %}
    {% if preprint.spam_status != 4  %}
        <form action="{% url 'preprints:confirm-ham' guid=preprint.guid %}" method="post" style="display: inline;">
            {% csrf_token %}
            {% include "preprints/ham_modal.html" with preprint=preprint %}
        </form>
    {% endif %}
    {% if preprint.spam_status != 2 %}
        <form action="{% url 'preprints:confirm-spam' guid=preprint.guid %}" method="post" style="display: inline;">
            {% csrf_token %}
            {% include "preprints/spam_modal.html" with preprint=preprint %}
        </form>
    {% endif %}
{% endif %}