{% extends 'base.html' %}
{% load static %}
{% load user_extras %}
{% load node_extras %}
{% block title %}
    <title>Preprint</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a href="{% url 'preprints:search' %}"
               class="btn btn-primary col-md-1">
                <i class="fa fa-search"></i>
            </a>
                {% if not preprint.node.deleted %}
                <span class="col-md-2">
                    <a href="{% url 'nodes:remove' guid=preprint.node.id %}"
                       data-toggle="modal" data-target="#deleteModal"
                       class="btn btn-danger">
                        Delete Preprint Node
                    </a>
                    </span>
                    <div class="modal" id="deleteModal">
                        <div class="modal-dialog">
                            <div class="modal-content"></div>
                             Data from above link
                        </div>
                    </div>
                {% else %}
                    <span class="col-md-2">
                    <form method="post"
                          action="{% url 'nodes:restore' guid=node.id %}">
                        {% csrf_token %}
                        <input class="btn btn-success" type="submit"
                               value="Restore Preprint Node" />
                    </form>
                </span>
            {% endif %}
        </div>
        <div class="row">
            <h3>Preprint Details</h3>
            <p>To remove contributors and perform other operations, <a href="{{ preprint.node.id | reverse_node }}">visit the associated node detail page</a>.</p>
        </div>
        <div class="row">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GUID</td>
                <td>{{ preprint.id }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ preprint.node.title }}</td>
            </tr>
            <tr>
                <td>Node</td>
                <td>
                    <a href="{{ preprint.node.id | reverse_node }}">{{ preprint.node.id }}</a>
                </td>
            </tr>
            <tr>
                <td>Provider</td>
                <td>{{ preprint.provider.name }}</td>
            </tr>
            <tr>
                <td>Subjects</td>
                <td>
                    <ul>
                        {%  for subject in preprint.subjects %}
                        <li>{{ subject.text }}</li>
                        {%  endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Date Created</td>
                <td>{{ preprint.date_created }} UTC</td>
            </tr>
            <tr>
                <td>Date Modified</td>
                <td>{{ preprint.date_created }} UTC</td>
            </tr>
            <tr>
                <td>Published</td>
                <td>{{ preprint.is_published }}</td>
            </tr>
            {%  if preprint.is_published %}
            <tr>
                <td>Date Published</td>
                <td>{{ preprint.date_published }} UTC</td>
            </tr>
            {%  endif %}

            <tr>
                <td>Creator</td>
                <td>
                     <a href="{{ preprint.node.creator | reverse_user }}">
                        {{ preprint.node.creator }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Contributors</td>
                <td>
                    <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>User id</td>
                            <td>Name</td>
                            <td>Permissions</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in preprint.node.contributors %}
                        <tr>
                            <td>
                                <a href="{{ user.id | reverse_user }}">
                                    {{ user.id }}
                                </a>
                            </td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.permission|capfirst }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}
