{% load node_extras %}

{% if perms.osf.change_preprintrequest %}
    <tr>
        <td>Unwithdraw Version</td>
        <td>
            <div class="form-inline">
                {% if preprint.machine_state == 'withdrawn' %}
                    Version {{ preprint.version }}
                    <button type="button" class="btn btn-danger" onclick="$('#confirmUnwithdraw').modal('show')">
                        Unwithdraw
                    </button>
                    <div class="modal" id="confirmUnwithdraw">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form class="well" method="post" action="{% url 'admin:unwithdraw' guid=preprint.guid %}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <h3>Are you sure you want to unwithdraw this version?</h3>
                                    </div>
                                    {% csrf_token %}
                                    <div class="modal-footer">
                                        <button class="btn btn-danger" type="submit">
                                            Unwithdraw
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    Not withdrawn version
                    <button type="submit" class="btn btn-danger" disabled>Unwithdraw</button>
                {% endif %}
            </div>
        </td>
    </tr>
{% endif %}