{% load node_extras %}

{% if children %}
    <tr>
        <td>Child nodes</td>
        <td>
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Node id</td>
                    <td>Title</td>
                    <td>Public</td>
                    <td># of Contributors</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
            {% for child in children %}
                <tr>
                    <td>
                        <a href="{{ child | reverse_node }}">{{ child.guid }}</a>
                    </td>
                    <td>{{ child.title }}</td>
                    <td>{{ child.is_public }}</td>
                    <td>{{ child.contributors|length }}</td>
                    {%  if perms.osf.delete_node %}
                    <td>
                        {% if not child.is_registration %}
                            {% if child.deleted %}
                                <form method="post" action="{% url 'nodes:restore' guid=child.guid %}">
                                    {% csrf_token %}
                                    <input class="btn btn-success"
                                           type="submit"
                                           value="Restore Node" />
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'nodes:remove' guid=child.guid %}">
                                    {% csrf_token %}
                                    <input class="btn btn-danger"
                                           type="submit"
                                           value="Delete Node" />
                                </form>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </td>
    </tr>
{% else %}
    <tr>
        <td>Child Nodes</td>
        <td>No Child Nodes</td>
    </tr>
{% endif %}