{% load node_extras %}

<tr>
    <td>Contributors</td>
    <td>
        <div style="overflow-x: auto; width: 100%;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Email</td>
                        <td>Name</td>
                        <td>Permission</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in node.contributors %}
                        <tr>
                            <td>
                                <a href="{{ user | reverse_user }}">
                                    {{ user }}
                                </a>
                            </td>
                            <td>{{ user.fullname }}</td>
                            <td>{% get_permissions user node %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'nodes/edit_contributors.html' with contributors=annotated_contributors %}
        </div>
    </td>
</tr>