{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load filters %}
{% block title %}
    <title>{% trans "Node Logs" %}</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <th>
                    {% trans "Date" %}
                </th>
                <th>
                    {% trans "Action" %}
                </th>
                <th>
                    {% trans "User" %}
                </th>
                <th>
                    {% trans "Parameters" %}
                </th>
            </thead>
            <tbody>
            {% for log, params in logs %}
                <tr>
                    <td>
                        {{ log.date }}
                    </td>
                    <td>
                        {{ log.action }}
                    </td>
                    <td>
                        {{ log.user }}
                    </td>
                    <td>
                        {% for key, value in params %}
                            <div>
                                <span><b>{{ key|transValue }}</b></span> : <span>{{ value|transValue }}</span>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            {% csrf_token %}
        </table>
    </div>
    {% include "util/pagination.html" with items=page status=status %}
{% endblock content %}
