{% load user_extras %}
{% load node_extras %}

{% if registrations %}
    <tr>
        <td>Registration</td>
        <td>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Registration</td>
                        <td>Date Created</td>
                        <td>Pending</td>
                        <td>Withdrawn</td>
                        <td>Embargo</td>
                    </tr>
                </thead>
                <tbody>
                {% for registration in node.registrations %}
                    <tr>
                        <td><a href="{{ registration.id | reverse_node }}">{{ registration.id }}</a></td>
                        <td>{{ registration.created | date }}</td>
                        <td>{{ registration.pending_registration }}</td>
                        <td>{{ registration.withdrawn }}</td>
                        <td>{{ registration.embargo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    </tr>
{% endif %}