<form class="well" method="post" action="{% url link guid=guid %}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>{% blocktrans %}Are you sure you want to reindex this {{ resource_type }} (SHARE)?{% endblocktrans %} {{ guid }}</h3>
    </div>
    {% csrf_token %}
    <div class="modal-footer">
        <input class="btn btn-danger" type="submit" value="{% trans 'Confirm' %}" />
        <button type="button" class="btn btn-default" data-dismiss="modal">
            {% trans "Cancel" %}
        </button>
    </div>
</form>
