<form class="well" method="post"
      action="{% url link guid=guid guid=guid user_id=user.id %}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Removing contributor: {{ user.name }}</h3>
    </div>
    <div class="modal-body">
        User will be removed. Currently only
        an admin on the {{ resource_type }} will be able to
        add them back.
        {% csrf_token %}
    </div>
    <div class="modal-footer">
        <input class="btn btn-danger" type="submit" value="Confirm" />
        <button type="button" class="btn btn-default"
                data-dismiss="modal">
            Cancel
        </button>
    </div>
</form>
