<button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmSpamNodeListModal">
    Confirm Spam
</button>
<div id="confirmSpamNodeListModal" class="modal fade well" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Are you sure the selected node(s) are Spam?</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" name="action" value="spam" type="submit">Confirm</button>
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>
