<button class="btn btn-default" type="button" data-toggle="modal" data-target="#confirmSpamListModal" style="position: inline;">
    Remove Spam Flag
</button>
<div id="confirmSpamListModal" class="modal fade well" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Are you want to unflag this content and change it's Spam Status to Unknown?</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning"  name="action" value="unflag" type="submit">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
