@import 'contributor-page.scss';
@import 'remove-contributor-page.scss';

#main {
    padding-top: 20px;
    min-height: 500px;
}

body {
    padding-top: 50px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
