.badge-list {
  max-height:200px;
  overflow-y: auto;
  overflow-x: hidden;"
}

.badge-list img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-success.editable:hover {
    background-color: #419641;
}

.btn-danger.editable:hover {
    background-color: #d2322d;
}

.ellipse {
  font-size: 64px;
  vertical-align: bottom;
  color: #777;
}

.ellipse:hover, .ellipse:focus {
  text-decoration: initial;
  color: #777;
}
