{% load node_extras %}

<tr>
    <td>Draft registration storage usage</td>
    <td>
        <b>Public and private cap:</b> {{ draft_registration.cap|floatformat:0 }} GB<br>
        <a href="{% url 'draft_registrations:adjust-draft-registration-storage-usage' draft_registration_id=draft_registration.guid %}"
           data-toggle="modal" data-target="#modifyStorageCaps"
           class="btn btn-warning">
            Modify Storage Caps
        </a>
        <div class="modal" id="modifyStorageCaps">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="well" method="post" action="{% url 'draft_registrations:adjust-draft-registration-storage-usage' draft_registration_id=draft_registration.guid %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h3>Adjusting the storage caps for {{ draft_registration.guid }}</h3>
                    </div>
                    <b>Public and Private cap: </b><input name='cap-input' type="text" value="{{ draft_registration.cap|floatformat:0 }}" /> GB
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Save" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </td>
</tr>
