{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load spam_extras %}
{% load static %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <style type="text/css">
        .select2-container.select2-container--default {
            width: 100% !important;
            white-space: pre-wrap !important;
            word-break: break-word !important;
        }

        .select2-container--default .select2-selection--single {
            height: 34px !important;
            padding-left: 6px;
            padding-right: 6px;

            .select2-selection__arrow {
                height: 34px !important;
            }
            .select2-selection__rendered {
                white-space: pre !important;
            }
        }

        .select2-selection__choice {
            color: #333 !important;
        }

        .flex-container {
            display: flex;
        }

        .flex-container .flex-item {
            flex: 1;
        }
        p {
            margin-bottom: 0;
        }

        .remove-button {
            float: left;
            margin-left: 8px;
            margin-top: 4px;
            color: red;
            opacity: 0.5;
        }

        .remove-button:hover {
            color: red;
            opacity: 1;
        }

        .remove-button.disabled{
            color: gray;
            opacity: 0.25;
            cursor: not-allowed;
        }

        .container {
            max-height: 290px;
            overflow-y: auto;
            padding: 10px;
        }

        @media (min-width: 992px) {
            .col-md-3 {
                width: 20%;
            }

            .col-md-10 {
                width: 90%;
            }
        }

        .disabled {
            pointer-events: none;
        }
    </style>
{% endblock %}

{% block title %}
    <title>{% trans 'Project Limit Number Setting' %}</title>
{% endblock title %}

{% block content %}

    <!-- Authentication attribute input block -->
    <h2>{% trans 'Project Limit Number Setting' %}<small>({{ institution_name }})</small></h2>
    <form id="updateProjectLimitNumberSettingForm" class="form-horizontal">
        {% csrf_token %}
		<div class="clearfix" style="margin-top: 20px;">
            <label for="setting_name_id" class="col-md-2" style="width: 10%; padding-top: 6px;">{% trans 'Setting Name' %}</label>
            <div class="col-md-10">
                <input id="setting_name_id" type="text" name="setting_name" class="form-control"
                    style="border-radius: 5px;" oninput="setCustomValidity('')"
                    minlength="1" maxlength="255" value="{{ setting.name }}" placeholder="{% trans 'Setting Name' %}" required>
            </div>
        </div>

        <div class="clearfix" style="padding-top: 10px;">
            <label for="template_id" class="col-md-2" style="width: 10%; padding-top: 6px;">{% trans 'Rule Name' %}</label>
            <div class="col-md-10">
                <input id="template_id" type="text" name="template_name" class="form-control"
                    style="border-radius: 5px; white-space: pre-wrap !important;"
                    value="{{ template_name }}" placeholder="{% trans 'Rule Name' %}" disabled required>
            </div>
        </div>

        <div class="clearfix" style="padding-top: 10px;">
            <label for="memo_id" class="col-md-2" style="width: 10%; padding-top: 6px;">{% trans 'Memo' %}</label>
            <div class="col-md-10">
                <input id="memo_id" type="text" name="memo" class="form-control"
                    style="border-radius: 5px;" maxlength="255" value="{{ setting.memo }}" placeholder="{% trans 'Memo' %}">
            </div>
        </div>

        <div class="col-md-12 container" style="padding-right: 0px; margin-top: 10px; width: 100%; margin-bottom: 0px; padding-left: 0px;">
            <div class="form-inline" id="attributes_block">
                {% if setting_attribute_list %}
                <div>
                    <div class="col-md-4">
                        <div>
                            <label>{% trans "Using Attribute" %}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label>{% trans "Setting Type" %}</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label>{% trans "Value" %}</label>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% for setting_attribute in setting_attribute_list %}
                    <div class="attribute-item clearfix" style="margin-bottom: 15px;">
                        <div class="col-md-4">
                            <div class="disabled">
                                <input type="text" name="attribute_name" class="form-control attribute-name" style="width: 100%; border-radius: 5px;"
                                    value="{{ setting_attribute.attribute_name }}" disabled="disabled">
                                <input class="attribute-id" type="hidden" value="{{ setting_attribute.attribute_id }}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="disabled">
                                <input type="text" name="setting_name" class="form-control" style="width: 100%; border-radius: 5px;"
                                    value="{% trans setting_attribute.setting_name %}" disabled="disabled">
                                <input class="setting-type" type="hidden" value="{{ setting_attribute.setting_type }}">
                            </div>
                        </div>
                        {% if setting_attribute.setting_type == 5 or setting_attribute.setting_type == 6 %}
                            <div class="col-md-4">
                                <select id= "attribute_value_select" name="attribute_value_select" class="form-control attribute-value" style="width: 100%; border-radius: 5px;">
                                    {% for value in setting_attribute.attribute_value_select_list %}
                                        <option value="{{ value }}" {% if setting_attribute.attribute_value == value %}selected{% endif %}>{{ value|default_if_none:'' }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% else %}
                            <div class="col-md-4">
                                <input type="text" name="attribute_value_input" class="form-control attribute-value" style="width: 100%; border-radius: 5px; white-space: pre-wrap !important;text-overflow: ellipsis;"
                                   minlength="1" required placeholder="{% trans 'Value' %}" value="{{ setting_attribute.attribute_value|default_if_none:'' }}"
                                   {% if setting_attribute.setting_type == 3 or setting_attribute.setting_type == 4 %}disabled="disabled"{% endif %}>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-12" style="padding-left: 0px;">
            <div class="row col-md-12" style="font-weight: bold;">
                <label>{% trans 'Set the project limit number for users who are meet the above attributes.' %}</label>
            </div>
            <div class="row col-md-6">
                <label for="project_limit_number_id" class="col-md-4" style="padding-top: 6px;">{% trans 'Project Limit Number' %}</label>
                <div class="col-md-8">
                    <select id="project_limit_number_id" name="project_limit_number_name"
                        class="form-control">
						<option {% if setting.project_limit_number == -1 or setting.project_limit_number is None %}selected{% endif %} value="-1">{% trans 'No Limit' %}</option>
                        {% for number in project_limit_number_select_list %}
                            <option value="{{ number }}" {% if setting.project_limit_number == number %}selected{% endif %}>{{ number }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="text-align: right; padding-right: 5%; padding-top: 2%;">
            <button type="button" class="btn btn-default" style="width: 90px; margin-right: 5px;" onclick="navigateToPreviousPage()">{% trans 'Cancel' %}</button>
            <button type="submit" class="btn btn-primary" style="width: 90px;">{% trans 'Save' %}</button>
            <button type="button" class="btn btn-primary" style="margin-left: 5px;" onclick="getUserList()">{% trans 'Show User List' %}</button>
        </div>
    </form>

    <!-- View User List -->
    <div id="id_user_list" hidden>
        <h2>{% trans 'User List' %}</h2>
        <div id="user-table"></div>
    </div>
{% endblock content %}

{% block bottom_js %}
    {% render_bundle 'project-limit-number-setting-page' %}
    <script type="text/javascript">
        $('select[id="attribute_value_select"]').each(function() {
            $(this).select2({
                minimumResultsForSearch: Infinity
            });
        })
        $('#project_limit_number_id').select2();
        window.contextVars = $.extend(true, {}, window.contextVars, {
            'institution_id': {{ institution_id }},
            'setting_id': {{ setting.id }}
        });
        const templates_length = {{ data_template_list|length }};
        const csrftoken = $('[name=csrfmiddlewaretoken]').val();
        for (var i=0;i<templates_length;i++) {
            $('#attribute_name_'+i).select2();
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function navigateToPreviousPage() {
            let baseUrl = "{% url 'project_limit_number:settings:list-setting' %}?institution_id={{ institution_id }}";
            baseUrl += '&page=1&page_size=10';
            // Redirect to template list page
            window.location.href = baseUrl;
        }

        function getUserList(page) {
            let attributeList = [];
            // Extract data from attribute section
            $('.attribute-item').each(function (index, element) {
                const attribute_name = element.querySelector('.attribute-name').value;
                const setting_type = Number(element.querySelector('.setting-type').value, 10);
                let attribute_value;
                if (setting_type === 5 || setting_type === 6) {
                    attribute_value = element.querySelector('.attribute-value').value;
                } else {
                    attribute_value = element.querySelector('.attribute-value').value;
                }
                attributeList.push({
                    attribute_name,
                    setting_type,
                    attribute_value
                });
            });
            const data = {
                'page': page,
                'institution_id': {{ institution_id }},
                'attribute_list': attributeList
            };
            $.ajax({
                url: '{% url "project_limit_number:settings:user_list" %}',
                type: 'post',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    $('#id_user_list').show();
                    const responseData = response.user_list;
                    if (!responseData) {
                        return;
                    }
                    let tableDiv = '';
                    for (item of responseData) {
                        let project_limit_number = item.project_limit_number !== -1 ? item.project_limit_number : '{% trans "No Limit" %}';
                        tableDiv += `
                            <tr>
                                <td>`+ (item.guid || '') +`</td>
                                <td>`+ (item.eppn || '') +`</td>
                                <td>`+ (item.username || '') +`</td>
                                <td>`+ (item.fullname || '') +`</td>
                                <td>`+ item.created_project_number +`</td>
                                <td>`+ project_limit_number +` </td>
                            </tr>
                        `;
                    }
                    const maxPageNumber = Math.max(1, Math.ceil(response.total / 10));
                    const pageNumber = (page === undefined) ? 1 : (page === 'last') ? maxPageNumber : Number(page, 10);
                    const previousPageClass = pageNumber === 1 ? 'disabled' : '';
                    const nextPageClass = pageNumber >= maxPageNumber ? 'disabled' : '';
                    const translatedPageString = '{% blocktrans with itemsNumber='{pageNumber}' paginatorNumPage='{maxPageNumber}' %}Page {{ itemsNumber }} of {{ paginatorNumPage }}{% endblocktrans %}';
                    const translatedPageNumberString = translatedPageString.replace('{pageNumber}', pageNumber).replace('{maxPageNumber}', maxPageNumber);
                    const div = `
                        <div class="pagination pagination-lg">
                            <span>
                                <div class="btn btn-primary `+ previousPageClass +`" onclick="getUserList('1')">
                                    |
                                </div>
                                <div class="btn btn-primary `+ previousPageClass +`" onclick="getUserList('`+ (pageNumber - 1) +`')">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <span class="current">`+ translatedPageNumberString +`</span>
                                <div class="btn btn-primary `+ nextPageClass +`" onclick="getUserList('`+ (pageNumber + 1) +`')">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="btn btn-primary `+ nextPageClass +`" onclick="getUserList('last')">
                                    |
                                </div>
                            </span>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="col-md-1">{% trans "GUID" %}</th>
                                    <th class="nowrap col-md-3">
                                        {% trans "EPPN" %}
                                    </th>
                                    <th class="nowrap col-md-3">
                                        {% trans "Username" %}
                                    </th>
                                    <th class="nowrap col-md-3">
                                        {% trans "Fullname" %}
                                    </th>
                                    <th class="nowrap col-md-2">
                                        {% trans "Created Project Number" %}
                                    </th>
                                    <th class="nowrap col-md-2">
                                        {% trans "Project Limit Number" %}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>`+tableDiv+`</tbody>
                        </table>`;
                    $('#user-table').html(div);
                }
            }).fail(function (jqXHR, textStatus, error) {
                handleAjaxRequestFailure(jqXHR);
            });
        }

        $('#updateProjectLimitNumberSettingForm').on('submit', function(event) {
            event.preventDefault();
            const settingName = $('#setting_name_id').val();
            const memo = $('#memo_id').val();
            const projectLimitNumberInput = $('#project_limit_number_id').val();
            const projectLimitNumber = Number(projectLimitNumberInput, 10);
            let attributeList = [];
            // Extract data from attribute section
            $('.attribute-item').each(function (index, element) {
                const attribute_id = Number(element.querySelector('.attribute-id').value, 10);
                const attribute_value = element.querySelector('.attribute-value').value;;
                attributeList.push({
                    id: attribute_id,
                    attribute_value: attribute_value.trim()
                });
            });

            data = {
                name: settingName,
                memo: memo,
                project_limit_number: projectLimitNumber,
                attribute_list: attributeList
            }
            $.ajax({
                url: '{% url "project_limit_number:settings:update-setting" setting_id=setting.id %}',
                type: 'put',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    window.location.href = '{% url 'project_limit_number:settings:list-setting' %}?institution_id={{ institution_id }}';
                }
            }).fail(function (jqXHR, textStatus, error) {
                handleAjaxRequestFailure(jqXHR);
            });
        });
    </script>
{% endblock %}
