<div class='editor-pane panel-body'>
    <div style='padding-top:10px'>
        <div class='wmd-input wiki-editor' id='editor'>
            Hello
        </div>
        <br>
    </div>
    <div style='position:inherit'>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button class="btn btn-danger">Revert</button>
                    <button class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
