<div class='editor-pane panel-body'>
    <div class='wiki-connected-users'>
        <div class='row'>
            <div class='col-sm-12'>

            </div>
        </div>
    </div>
    <div style='padding-top:10px'>
        <div class='wmd-input wiki-editor' id='editor'>
            {{ace-editor value=value initializeAce=initializeAce class="editor"}}
        </div>
        <br>
    </div>
    <div style='position:inherit'>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='pull-right'>
                    <button class='btn btn-danger'>Revert</button>
                    <button {{action 'saveFile' file}} class='btn btn-success'>Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
