{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block top_includes %}
<link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}

{% load user_extras %}
{% load spam_extras %}

{% block title %}
<title>Institutional Storage</title>
{% endblock title %}

{% block content %}
<h1>Institutional Storage</h1>
<div id="content-main">
    <form enctype="multipart/form-data" action="" method="post" id="region_form" novalidate="">{% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <label class="required" for="id_name">Name:</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="name" id="id_name" required="" class="vTextField" maxlength="200" value="{{region.name}}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="required" for="id_waterbutler_credentials">Storage addon credentials:</label>
            </div>
            <div class="col-md-10">
                <textarea name="waterbutler_credentials" id="id_waterbutler_credentials" rows="10" cols="40" required="">{{region.waterbutler_credentials}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="required" for="id_waterbutler_settings">Storage addon settings:</label>
            </div>
            <div class="col-md-10">
                <textarea name="waterbutler_settings" id="id_waterbutler_settings" rows="10" cols="40" required="">{{region.waterbutler_settings}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-1">
                <div class="text-right">
                    <a href="{% url 'oauth:connect' 'googledrive' institution_pk   %}" class="btn btn-primary" role="button" target="_blank">Google OAuth</a>
                </div>
            </div>
            <div class="col-md-1">
                <div class="text-left">
                    <input type="submit" value="Save" class="btn btn-primary" name="_save" />
                </div>
            </div>

        </div>

    </form>
</div>

<br class="clear">
{% endblock content %}

{% block bottom_js %}
    {% render_bundle 'institution-default-storage' %}
{% endblock %}
