{% extends "base.html" %}
{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% load comment_extras %}
{% block title %}
    <title>Institution</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href={% url 'institutions:export' institution.id %}>Export institution metadata</a>
                <a data-toggle="modal" data-target="#monthlyReportModal" class="btn btn-primary">
                    Run monthly report
                </a>
                {%  if perms.osf.delete_institution %}
                <a class="btn btn-danger" href={% url 'institutions:delete' institution.id %}>Delete institution</a>
                {%  endif %}
				{% if perms.osf.change_institution %}
                {% if institution.deactivated is None %}
                <a class="btn btn-danger" href={% url 'institutions:deactivate' institution.id %}>Deactivate institution</a>
                {% else %}
                <a class="btn btn-danger" href={% url 'institutions:reactivate' institution.id %}>Reactivate institution</a>
                {% endif %}
				{% endif %}
                {% if perms.osf.change_institution %}
                <a class="btn btn-primary" href={% url 'institutions:list_and_add_admin' institution.id %}>Manage Admins</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ institution.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="{% url 'institutions:nodes' institution.id %}">View {{ node_count }} affiliated nodes</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Logo:</h4>
            </div>
            <div class="col-md-2">
                <img class="institution-logo" src="{{ logo_path }}">
            </div>
            <div class="col-md-2">
                <h4>Banner:</h4>
            </div>
            <div class="col-md-6">
                <img class="institution-banner" src="{{ banner_path }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if perms.osf.change_institution %}
                    <button id="show-modify-form" class="btn btn-link" type="button">
                        Modify Institution
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="row" id="table-view">
            <div class="col-md-12">
                <table class="table table-striped">
                    {% for field, value in institution.items %}
                        <tr>
                            <th>{{ field }}</th>
                            <td>{{ value | safe }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="form-view" class="row" style="display:none;">
            <div class="col-md-7">
                <form action= {% url 'institutions:detail' institution.id %} method="post">
                    {% csrf_token %}
                    {{ change_form.as_p }}
                    <input class="form-button" type="submit" value="Submit" />

                </form>
            </div>
            <div class="col-md-5">
                <div>
                    <h4>Import from JSON</h4>
                    <p>Choose a JSON file that has been previously exported from another Institution detail page. This will
                    pre-populate the Institution change form with those details.</p>
                    <form id="import-form" action = {% url 'institutions:import' %} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ import_form.as_p }}
                        <input class="form-button" type="submit" value="Import" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="monthlyReportModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3>Are you sure you want to run monthly report for this institution?</h3>
                </div>
                <div style="text-align: center">
                    <form id="run-monthly-report-form" method="post" action={% url 'institutions:monthly_report' institution.id %}>
                        {% csrf_token %}
                        <label for="monthly_report_date">
                        Report date:
                        </label>
                        <input type="date" name="monthly_report_date" id="monthly_report_date"/>
                        <input type="text" value="INSTITUTIONAL_SUMMARY" name="monthly_reporter" id="monthly_reporter" hidden/>
                    </form>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-danger" type="submit" form="run-monthly-report-form" value="Confirm" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block bottom_js %}
    <script>
        $(document).ready(function() {

            $('#show-modify-form').click(function() {

                $('#table-view').toggle();
                $('#form-view').toggle();

                var text = $('#show-modify-form').text();
                var new_text = (text.trim() == "Modify Institution") ? "Hide Form" : "Modify Institution";
                $('#show-modify-form').text(new_text);
            });

            $("#import-form").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url 'institutions:import' %}',
                    type: "post",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        for (var k in response){
                            if (response.hasOwnProperty(k)) {
                                var field = $('#id_' + k);
                                field.val(response[k]);
                            }
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
