{% extends "base.html" %}
{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Institution</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ institution.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Logo:</h4>
            </div>
            <div class="col-md-2">
                <img class="institution-logo" src="{{ logohost }}/static/img/institutions/shields/{{ institution.logo_name }}">
            </div>
            <div class="col-md-2">
                <h4>Banner:</h4>
            </div>
            <div class="col-md-6">
                <img class="institution-banner" src="{{ logohost }}/static/img/institutions/banners/{{ institution.banner_name }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    {% for field, value in institution.items %}
                        <tr>
                            <th>{{ field }}</th>
                            <td>{{ value | safe }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action={% url 'institutions:export' institution.id %} method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Export Institution Metadata" />
                </form>
            </div>
        </div>
        <hr/>
        {% if perms.osf.change_institution %}
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample">
                    Modify Institution
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <form id="import-form" action = {% url 'institutions:import' institution.id %} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ upload_form.as_p }}
                            <input class="form-button" type="submit" value="upload" />
                        </form>
                        <form action= {% url 'institutions:detail' institution.id %} method="post">
                            {% csrf_token %}
                            {{ change_form.as_p }}
                            <input class="form-button" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}

{% block bottom_js %}
    <script>
        $(document).ready(function() {
            $("#import-form").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url 'institutions:import' institution.id %}',
                    type: "post",
                    data: new FormData($(this)[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        for (var k in response){
                            if (response.hasOwnProperty(k)) {
                                var field = $('#id_' + k);
                                field.val(response[k]);
                            }
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
