{% extends "base.html" %}
{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Institution</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>{{ institution.name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Logo:</h4>
            </div>
            <div class="col-md-2">
                <img class="institution-logo" src="{{ logohost }}/static/img/institutions/shields/{{ institution.logo_name }}">
            </div>
            <div class="col-md-2">
                <h4>Banner:</h4>
            </div>
            <div class="col-md-6">
                <img class="institution-banner" src="{{ logohost }}/static/img/institutions/banners/{{ institution.banner_name }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Description</h4>
                <p>{{ institution.description | safe }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h4>Other Attributes</h4>
                <table class="table table-striped">
                    <tr>
                        <th>login Url</th>
                        <td>{{ institution.login_url }}</td>
                    </tr>
                    <tr>
                        <th>logout URL:</th>
                        <td>{{ institution.logout_url }}</td>
                    </tr>
                    <tr>
                        <th>Domains:</th>
                        <th>{{ institution.domains }}</th>
                    </tr>
                    <tr>
                        <th>Email domains:</th>
                        <td>{{ institution.email_domains }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action={% url 'institutions:export' institution.id %} method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Export Institution Metadata" />
                </form>
            </div>
        </div>
        <hr/>
        {% if perms.osf.change_institution %}
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample">
                    Modify Institution
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <form action= {% url 'institutions:detail' institution.id %} method="post">
                            {% csrf_token %}
                            {{ change_form.as_p }}
                            <input class="form-button" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock content %}

{% block bottom_js %}

{% endblock %}
