{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load spam_extras %}

{% load static %}
{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/institutions.css" />
{% endblock %}
{% block title %}
    <title>{% trans "List of Institutions" %}</title>
{% endblock title %}
{% block content %}
    <h2>{% trans "List of Institutions" %}</h2>

    <form action={% url 'institutions:recalculate_quota' %} method="post">
        <div class="row">
            <div class="col-md-6">
                {% include "util/pagination.html" with items=page status=status %}
            </div>
            <div class="col-md-6">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary pull-right" style="width: 140px;">{% trans "Recalculate quota" %}</button>
            </div>
        </div>
    </form>

    <table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>{% trans "Logo" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for institution in institutions %}
    <tr>
        <td>
            <a href="{% url 'institutions:institution_user_list' institution_id=institution.id %}">
                <img class="institution-logo" src="{{ logohost }}/static/img/institutions/shields/{{ institution.logo_name }}">
            </a>
        </td>
        <td><a href="{% url 'institutions:institution_user_list' institution_id=institution.id %}">{{ institution.name }}</a></td>
        <td>{{ institution.description | safe}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock content %}
