{% extends "base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load spam_extras %}
{% load static %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css"/>
{% endblock %}

{% block title %}
    <title>{% trans "List of Entitlements" %}</title>
{% endblock title %}

{% block content %}
    <h2>{% trans "List of Entitlements [ONGOING]" %}</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputState" class="col-sm-2 control-label">Institution</label>
            <div class="col-sm-4">
                <select id="inputState" class="form-control">
                    <option selected="">Institution A</option>
                    <option>Institution B</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Entitlements</label>
            <div class="form-inline col-sm-4">
                <div class="clearfix" style="margin-bottom: 15px;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inlineForm" placeholder="Enter new entitlement">
                    </div>

                    <div class="input-group form-check">
                        <input type="checkbox" checked="" data-toggle="toggle" data-onstyle="success" class="btn apple-switch">
                        <label class="form-check-label" for="inlineFormCheck">login availability</label>
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom: 15px;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inlineForm" placeholder="Enter new entitlement">
                    </div>

                    <div class="input-group form-check">
                        <input type="checkbox" checked="" data-toggle="toggle" data-onstyle="success" class="btn apple-switch">
                        <label class="form-check-label" for="inlineFormCheck">login availability</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default">New entitlement</button>
                <button type="submit" class="btn btn-primary" style="width: 90px;">Save</button>
            </div>
        </div>
    </form>

    {% include "util/pagination.html" with items=page status=status %}

    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>{% trans "Logo" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for institution in institutions %}
            <tr>
                <td>
                    <a href="{% url 'institutions:detail' institution_id=institution.id %}">
                        <img class="institution-logo" src="{{ logohost }}/static/img/institutions/shields/{{ institution.logo_name }}">
                    </a>
                </td>
                <td><a href="{% url 'institutions:detail' institution_id=institution.id %}">{{ institution.name }}</a></td>
                <td>{{ institution.description | safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-hover table-responsive">
        <thead></thead>
        <tbody>
        <tr>
            <td>grdm-allow</td>
            <td>
                <input type="checkbox" checked="" data-toggle="toggle" data-onstyle="success" class="btn apple-switch">
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Delete</button>
            </td>
        </tr>
        <tr>
            <td>grdm-deny</td>
            <td>
                <input type="checkbox" checked="" data-toggle="toggle" data-onstyle="success" class="btn apple-switch">
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

    <style>
        .btn-group-xs > .btn, .btn-xs {
            padding: .35rem .4rem .25rem .4rem;
            font-size: .875rem;
            line-height: .5;
            border-radius: .2rem
        }

        .checkbox label .toggle, .checkbox-inline .toggle {
            margin-left: -1.25rem;
            margin-right: .35rem
        }

        .toggle {
            position: relative;
            overflow: hidden
        }

        .toggle.btn.btn-light, .toggle.btn.btn-outline-light {
            border-color: rgba(0, 0, 0, .15)
        }

        .toggle input[type=checkbox] {
            display: none
        }

        .toggle-group {
            position: absolute;
            width: 200%;
            top: 0;
            bottom: 0;
            left: 0;
            transition: left .35s;
            -webkit-transition: left .35s;
            -moz-user-select: none;
            -webkit-user-select: none
        }

        .toggle-group label, .toggle-group span {
            cursor: pointer
        }

        .toggle.off .toggle-group {
            left: -100%
        }

        .toggle-on {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 50%;
            margin: 0;
            border: 0;
            border-radius: 0
        }

        .toggle-off {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            right: 0;
            margin: 0;
            border: 0;
            border-radius: 0;
            box-shadow: none
        }

        .toggle-handle {
            position: relative;
            margin: 0 auto;
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
            width: 0;
            border-width: 0 1px;
            background-color: #fff
        }

        .toggle.btn-outline-primary .toggle-handle {
            background-color: var(--primary);
            border-color: var(--primary)
        }

        .toggle.btn-outline-secondary .toggle-handle {
            background-color: var(--secondary);
            border-color: var(--secondary)
        }

        .toggle.btn-outline-success .toggle-handle {
            background-color: var(--success);
            border-color: var(--success)
        }

        .toggle.btn-outline-danger .toggle-handle {
            background-color: var(--danger);
            border-color: var(--danger)
        }

        .toggle.btn-outline-warning .toggle-handle {
            background-color: var(--warning);
            border-color: var(--warning)
        }

        .toggle.btn-outline-info .toggle-handle {
            background-color: var(--info);
            border-color: var(--info)
        }

        .toggle.btn-outline-light .toggle-handle {
            background-color: var(--light);
            border-color: var(--light)
        }

        .toggle.btn-outline-dark .toggle-handle {
            background-color: var(--dark);
            border-color: var(--dark)
        }

        .toggle[class*=btn-outline]:hover .toggle-handle {
            background-color: var(--light);
            opacity: .5
        }

        .toggle.btn {
            min-width: 3.7rem;
            min-height: 2.15rem
        }

        .toggle-on.btn {
            padding-right: 1.5rem
        }

        .toggle-off.btn {
            padding-left: 1.5rem
        }

        .toggle.btn-lg {
            min-width: 5rem;
            min-height: 2.815rem
        }

        .toggle-on.btn-lg {
            padding-right: 2rem
        }

        .toggle-off.btn-lg {
            padding-left: 2rem
        }

        .toggle-handle.btn-lg {
            width: 2.5rem
        }

        .toggle.btn-sm {
            min-width: 3.125rem;
            min-height: 1.938rem
        }

        .toggle-on.btn-sm {
            padding-right: 1rem
        }

        .toggle-off.btn-sm {
            padding-left: 1rem
        }

        .toggle.btn-xs {
            min-width: 2.19rem;
            min-height: 1.375rem
        }

        .toggle-on.btn-xs {
            padding-right: .8rem
        }

        .toggle-off.btn-xs {
            padding-left: .8rem
        }

        input.apple-switch {
            position: relative;
            -webkit-appearance: none;
            outline: none;
            width: 50px;
            height: 30px;
            background-color: #fff;
            border: 1px solid #D9DADC;
            border-radius: 50px;
            box-shadow: inset -20px 0 0 0 #fff;
        }

        input.apple-switch:after {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            background: transparent;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
        }

        input.apple-switch:checked {
            box-shadow: inset 20px 0 0 0 #4ed164;
            border-color: #4ed164;
        }

        input.apple-switch:checked:after {
            left: 20px;
            box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
        }
    </style>

{% endblock content %}
