{% load i18n %}
<h2 id="title">{% trans "Statistical Status of Institutional Storage" %}</h2>
<h3 id="sub-title">{% blocktrans %}Institutional Storage > {{ institution_name }}{% endblocktrans %}</h3>

<form action={% url 'institutions:recalculate_quota_of_users_in_institution' %} method="post">
    <div class="row">
        <div class="col-md-6">
            {% include "util/pagination.html" with items=page status=direction order=order_by %}
        </div>
        <div class="col-md-6">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary pull-right" style="width: 140px;">{% trans "Recalculate quota" %}</button>
        </div>
    </div>
</form>

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>GUID</th>
            <th>
                {% trans "eduPersonPrincipleName" %}
                <a href="?order_by=eppn&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=eppn&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
            <th>
                {% trans "Username" %}
                <a href="?order_by=username&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=username&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
            <th>
                {% trans "Fullname" %}
                <a href="?order_by=fullname&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=fullname&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
            <th>
                {% trans "Ratio" %}
                <a href="?order_by=ratio&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=ratio&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
            <th>
                {% trans "Usage" %}
                <a href="?order_by=usage&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=usage&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
            <th>
                {% trans "Remaining" %}
                <a href="?order_by=remaining&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=remaining&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
            <th>
                 {% trans "Quota" %}
                <a href="?order_by=quota&amp;status=desc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a>
                <span class="dropup"><a href="?order_by=quota&amp;status=asc&amp;page={{page.number}}" class="caret caret-sort tb-sort-inactive"></a></span>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                <a href="{%  url 'users:user' user.id %}details/"
                   class="btn btn-primary">
                    {{ user.id }}
                </a>
            </td>
            <td>{{user.eppn}}</td>
            <td>{{user.username}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.ratio|floatformat:1}}%</td>
            <td>{{user.usage_value|floatformat:1}} {{user.usage_abbr}}</td>
            <td>{{user.remaining_value|floatformat:1}} {{user.remaining_abbr}}</td>
            <td>{{user.quota}} GB</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="/static/js/carets.js"></script>
