{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block top_includes %}
  <link rel="stylesheet" type="text/css" href="/static/css/carets.css" />
{% endblock %}

{% block title %}
<title>{% blocktrans %}{{ institution_name }} User List - Statistical Status of Institutional Storage{% endblocktrans %}</title>
{% endblock title %}

{% block content %}
  {% include 'institutions/statistical_status_default_storage_user.html' %}
    {% if not users|length %}
     <h3>{% trans "No results found" %}</h3>
    {% endif %}
{% endblock content %}
