資金配分機関情報,体系的番号におけるプログラム情報コード,プログラム名,体系的番号,プロジェクト名,データNo.,データの名称,掲載日・掲載更新日,データの説明,データの分野,データ種別,概略データ量,管理対象データの利活用・提供方針 (有償/無償),管理対象データの利活用・提供方針(ライセンス),管理対象データの利活用・提供方針(引用方法等),アクセス権,公開予定日 (公開期間猶予の場合),リポジトリ情報,リポジトリURL・DOIリンク,データ作成者,データ作成者の研究者番号,データ管理機関,データ管理機関コード,データ管理者,データ管理者の研究者番号,データ管理者の所属組織名,データ管理者の所属機関の連絡先住所,データ管理者の所属機関の連絡先電話番号,データ管理者の所属機関の連絡先メールアドレス,備考
{% for grdm_file in grdm_files -%}
{{funder_tooltip_0 | quotecsv}},{{funding_stream_code | quotecsv}},{{program_name_ja | quotecsv}},{{japan_grant_number | quotecsv}},{{project_name_ja | quotecsv}},{{grdm_file.data_number | quotecsv}},{{grdm_file.title_ja | quotecsv}},{{grdm_file.date_issued_updated | quotecsv}},{{grdm_file.data_description_ja | quotecsv}},
    {%- if grdm_file.data_research_field == 'project' -%}
        {{project_research_field_tooltip_0 | quotecsv}}
    {%- else -%}
        {{grdm_file.data_research_field_tooltip_0 | quotecsv}}
    {%- endif -%}
,{{grdm_file.data_type_tooltip_0 | quotecsv}},{{grdm_file.file_size | quotecsv}},{{grdm_file.data_policy_free_tooltip_0 | quotecsv}},{{grdm_file.data_policy_license | quotecsv}},{{grdm_file.data_policy_cite_ja | quotecsv}},{{grdm_file.access_rights_tooltip_0 | quotecsv}},{{grdm_file.available_date | quotecsv}},{{grdm_file.repo_information_ja | quotecsv}},{{grdm_file.repo_url_doi_link | quotecsv}},{{grdm_file.creators | map(attribute="name_ja") | join(";") | quotecsv}},{{grdm_file.creators | map(attribute="number") | join(";") | quotecsv}},{{grdm_file.hosting_inst_ja | quotecsv}},{{grdm_file.hosting_inst_id | quotecsv}},{{grdm_file.data_man_name_ja | quotecsv}},{{grdm_file.data_man_number | quotecsv}},{{grdm_file.data_man_org_ja | quotecsv}},{{grdm_file.data_man_address_ja | quotecsv}},{{grdm_file.data_man_tel | quotecsv}},{{grdm_file.data_man_email | quotecsv}},{{grdm_file.remarks_ja | quotecsv}}
{% endfor %}
