資金配分機関情報,e-Radの課題番号,プロジェクト名,データNo.,データの名称,掲載日・掲載更新日,データの説明,データの分野,データ種別,概略データ量,管理対象データの利活用・提供方針 (有償/無償),管理対象データの利活用・提供方針(ライセンス),管理対象データの利活用・提供方針(引用方法等),アクセス権,リポジトリ情報,リポジトリURL・DOIリンク,データ作成者,データ作成者の研究者番号,データ管理組織,データ管理者,データ管理者の研究者番号,データ管理者の連絡先,備考
{% for grdm_file in grdm_files -%}
{{funder | quotecsv}},{{e_rad_project_id | quotecsv}},{{project_name_ja | quotecsv}},{{grdm_file.data_number | quotecsv}},{{grdm_file.title_ja | quotecsv}},{{grdm_file.date_issued_updated | quotecsv}},{{grdm_file.data_description_ja | quotecsv}},
    {%- if grdm_file.data_research_field == 'project' -%}
        {{grdm_file.data_research_field | quotecsv}}
    {%- else -%}
        {{grdm_file.project_research_field | quotecsv}}
    {%- endif -%}
,{{grdm_file.data_type | quotecsv}},{{grdm_file.file_size | quotecsv}},{{grdm_file.data_policy_free | quotecsv}},{{grdm_file.data_policy_license | quotecsv}},{{grdm_file.data_policy_cite_ja | quotecsv}},{{grdm_file.access_rights | quotecsv}},{{grdm_file.repo_information_ja | quotecsv}},{{grdm_file.repo_url_doi_link | quotecsv}},{{grdm_file.creators | map(attribute="name_ja") | join(";") | quotecsv}},{{grdm_file.creators | map(attribute="number") | join(";") | quotecsv}},{{grdm_file.hosting_inst_ja | quotecsv}},{{grdm_file.data_man_name_ja | quotecsv}},{{grdm_file.data_man_number | quotecsv}},{{grdm_file.data_man_tel | quotecsv}},{{grdm_file.remarks_ja | quotecsv}}
{% endfor %}
