Funder,e-Rad project ID,Project name,Data No.,Title,Date (Issued / Updated),Description,Research field,Data type,File size,Data utilization and provision policy(Free/Consideration),Data utilization and provision policy(License),Data utilization and provision policy(citation information),Access rights,Repository information,Repository URL/ DOI link,Creator Name,Creator name identifier (e-Rad),Hosting institution,Data manager,Data manager identifier (e-Rad),Contact of data manager,Remarks
{% for grdm_file in grdm_files -%}
{{funder | quotecsv}},{{e_rad_project_id | quotecsv}},{{project_name_en | quotecsv}},{{grdm_file.data_number | quotecsv}},{{grdm_file.title_en | quotecsv}},{{grdm_file.date_issued_updated | quotecsv}},{{grdm_file.data_description_en | quotecsv}},
    {%- if grdm_file.data_research_field == 'project' -%}
        {{grdm_file.data_research_field | quotecsv}}
    {%- else -%}
        {{grdm_file.project_research_field | quotecsv}}
    {%- endif -%}
,{{grdm_file.data_type | quotecsv}},{{grdm_file.file_size | quotecsv}},{{grdm_file.data_policy_free | quotecsv}},{{grdm_file.data_policy_license | quotecsv}},{{grdm_file.data_policy_cite_en | quotecsv}},{{grdm_file.access_rights | quotecsv}},{{grdm_file.repo_information_en | quotecsv}},{{grdm_file.repo_url_doi_link | quotecsv}},{{grdm_file.creators | map(attribute="name_en") | join(";") | quotecsv}},{{grdm_file.creators | map(attribute="number") | join(";") | quotecsv}},{{grdm_file.hosting_inst_en | quotecsv}},{{grdm_file.data_man_name_en | quotecsv}},{{grdm_file.data_man_number | quotecsv}},{{grdm_file.data_man_tel | quotecsv}},{{grdm_file.remarks_en | quotecsv}}
{% endfor %}
