{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% load static %}
{% block title %}
    <title>OSF Admin | Brand</title>
{% endblock title %}

{% block content %}
    <form action="{% url 'brands:create' %}" method="post">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.non_field_errors }}
    {% csrf_token %}
    {% for field in form %}
        {% if not field.is_hidden %}
        <div class="fieldWrapper">
            <span class="text-danger">{{ field.errors }}</span>
            {{ field.label_tag }} <br>
            {{ field }}
        </div>
        {% endif %}
        <br>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Save">
    </form>
{% endblock content %}
{% block bottom_js %}
    {% render_bundle 'brands' %}
{% endblock %}
