{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
<div>
    <label>
        References
    </label>
    {% for ref in references %}
      <div>
        <a href={{ref.referrer.absolute_url}}>
          {% if ref.referrer.title %}
            {{ref.referrer.title}}
          {% else %}
            {{ref}}
          {% endif %}
        </a>
      </div>
    {% endfor %}
</div>
{% endblock %}