{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Comment</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a href="{% url 'spam:spam' %}?page={{ page_number }}"
               class="btn btn-primary">
                Back to list
            </a>
            <a href=""
               class="btn btn-default">
                HAM
            </a>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    SPAM
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'spam:email' comment.id %}?page={{ page_number }}">
                            Email
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mark as Spam
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Escalate
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        {# General info about the comment #}
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>Author:</strong> {{ comment.author.fullname }}
                    <small>
                        (<a href="{{ comment.author.display_absolute_url }}">
                            User's osf profile
                        </a>)
                    </small>
                </h4>
            </div>
            <div class="col-md-6">
                <h4><strong>Comment ID:</strong> {{ comment.id }}</h4>
            </div>
        </div>

        {# Comment date and content #}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <strong>Comment content</strong>
                        created on:
                        {{ comment.date_created }}
                    </h4>
                </div>
                <div class="panel-body">
                    {{ comment.content }}
                </div>
            </div>
        </div>

        <h4><strong>Reports</strong></h4>
        {% for report in comment.reports %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            Type:
                            <strong>
                                {{ report.category }}
                            </strong>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <strong>Reporter:</strong>
                            {{ report.reporter.fullname }}
                        </div>
                        <div class="col-md-6">
                            <strong>
                                Reason:
                            </strong>
                            {{ report.reason|default:"--Nothing--" }}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div>No reports!</div>
        {% endfor %}
    </div>

{% endblock content %}
