{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% load spam_extras %}
{% block title %}
    <title>Comment</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a href="{% reverse_spam_list page=page_number status=status %}"
               class="btn btn-primary">
                Back to general list
            </a>
            <a href="{% reverse_spam_user comment.author_id page=page_number status=status %}"
               class="btn btn-primary">
                Back to user's list
            </a>
            <a href="{% reverse_spam_email comment.id page=page_number status=status %}"
               class="btn btn-default">
                Email
            </a>
        </div>

        <br>

        <div class="row">
        <div class="panel col-md-6">
        <form action="{% reverse_spam_detail comment.id page=page_number status=status %}"
              method="post" class="form-inline">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">{{ form.errors }}</div>
            {% endif %}
            <label for="{{ form.confirm.id_for_label }}">Confirm:</label>
            <div class="btn-group" data-toggle="buttons">
                {% for choice in form.confirm  %}
                    {{ choice.id }}
                <label class="btn btn-primary">
                    <input type="radio" id="{{ choice.id_for_label }}" autocomplete="off">{{ choice.choice_label }}{{ choice.tag }}
                </label>
                {% endfor %}
            </div>
            <input class="btn btn-danger" type="submit" value="Submit">
        </form>
        </div>
        </div>

        {# General info about the comment #}
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>Author:</strong> {{ comment.author.fullname }}
                    <small>
                        (<a href="{{ comment.author_path }}">
                            User's <b>osf</b> profile
                        </a>) (<a href="{{ comment.author_id | reverse_user }}">
                            User's profile
                        </a>)
                    </small>
                </h4>
            </div>
            <div class="col-md-6">
                <h4><strong>Comment ID:</strong> {{ comment.id }}</h4>
            </div>
        </div>

        {# Spam Status #}
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>Status: </strong>
                    {% if comment.spam_status == 0 %}
                        <span class="label label-default">Unknown</span>
                    {% elif comment.spam_status == 1 %}
                        <span class="label label-warning">Flagged</span>
                    {% elif comment.spam_status == 2 %}
                        <span class="label label-danger">Spam</span>
                    {% elif comment.spam_status == 4 %}
                        <span class="label label-success">Ham</span>
                    {% endif %}
                </h4>
            </div>
        </div>

        {# Comment date and content #}
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <strong>Comment content</strong>
                        created on:
                        {{ comment.date_created }}
                    </h4>
                </div>
                <div class="panel-body">
                    {{ comment.content }}
                </div>
            </div>
        </div>

        <h4><strong>Reports</strong></h4>
        {% for report in comment.reports %}
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            Type:
                            <strong>
                                {{ report.category }}
                            </strong>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <strong>Reporter:</strong>
                            {{ report.reporter.fullname }}
                        </div>
                        <div class="col-md-6">
                            <strong>
                                Reason:
                            </strong>
                            {{ report.reason|default:"--Nothing--" }}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div>No reports!</div>
        {% endfor %}
    </div>

{% endblock content %}
