<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Suggested Email message for spammer</h3>
</div>
<div class="modal-body">
    <p>Dear {{ spam.author.fullname }},</p>
    <p>A comment you made on an Open Science Framework (OSF) project
        [<a href="{{ spam.node.absolute_url }}">{{ spam.node.absolute_url }}</a>]
        has been reported as
        {% if spam.category == 'hate' %}
            hate speech
        {% elif  spam.category == 'violence' %}
            violent or harmful behavior
        {% else %}
            spam
        {% endif %}
        Our team reviewed your comment and found it to be in violation
        of the OSF Terms of Service:
        <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">
            https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md
        </a>.
        As a result, your comment has been removed from the project.
        If you have questions about this action, please contact
        <a href="mailto:support@osf.io">support@osf.io</a>.
    </p>
    <p>Best,</p>
    <p>The OSF Team</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" >Close</button>
</div>
