{% extends "base.html" %}
{% load static %}
{% load spam_extras %}
{% block title %}
    <title>Email</title>
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="btn-group col-sm-12">
                <a href="{% reverse_spam_list page=page_number %}"
                   class="btn btn-primary">
                    Back to list
                </a>
                <a href="{% reverse_spam_detail comment.id page=page_number %}"
                   class="btn btn-default">
                    Back to detail
                </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <form>
                <div class="form-group">
                <label for="author">
                    <strong>Author:</strong>
                </label>
                <input id="author"
                       placeholder="{{ comment.author.fullname }}"
                       disabled>
                </div>

                <div class="form-group">
                <label for="email">
                    <strong>Email:</strong>
                </label>
                <select id="email">
                    {% for email in comment.author.emails %}
                        {% if forloop.counter0 == 0 %}
                            <option value="{{ email }}" selected>
                                {{ email }}
                            </option>
                        {% else %}
                            <option value="{{ email }}">
                                {{ email }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <p class="help-block">User's primary email originally selected</p>
                </div>

                <label for="message">
                    <strong>Message</strong>
                </label>
                <div class="form-group">
                    <textarea id="message" rows="10" cols="80">
Dear {{ comment.author.fullname }},

Your comment on the OSF was flagged as spam. We would like to moderate a solution and believe your input would be helpful.

Context:
"{{ comment.content }}"

Sincerely,
The folks at COS
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
