<p>Dear {{ item.author.fullname }},</p>
<p>A comment you made on an Open Science Framework (OSF) project
    [<a href="{{ item.node.absolute_url }}">link</a>]
    has been reported as
    {% if item.category == 'hate' %}
        hate speech
    {% elif  item.category == 'violence' %}
        violent or harmful behavior
    {% else %}
        spam
    {% endif %}
    Our team reviewed your comment and found it to be in violation
    of the
    <a href="https://github.com/CenterForOpenScience/centerforopenscience.org/blob/master/TERMS_OF_USE.md">
        OSF Terms of Service
    </a>.
    As a result, your comment has been removed from the project.
    If you have questions about this action, please contact
    <a href="mailto:support@osf.io">support@osf.io</a>.
</p>
<p>Best,</p>
<p>The OSF Team</p>
