{% extends "base.html" %}
{% load static %}
{% block title %}List of Spam{% endblock title %}
{# stylesheets #}
{% block content %}
    {{ block.super }}
    <h2>List of Spam</h2>
    <table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Comment id</th>
            <th>Content</th>
            <th>Author</th>
            <th># of Reports</th>
        </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
    <tr>
        <td>
            {{ comment.category }}
        </td>
        <td>
            {{ comment.id }}
        </td>
        <td>
            {{ comment.content }}
        </td>
        <td>
            <a href={{ comment.author.absolute_url }}>
                {{ comment.author.fullname }}
            </a>
        </td>
        <td>
            {{ comment.reports|length }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>No more Spam!</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock content %}
