{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block top_includes %}
    {% endblock %}
    {% block top_includes %}
      <title>OSF Admin | Dashboard</title>
    {% endblock %}
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="{% url 'home' %}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>O</b>SF</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>OSF</b>Admin</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="hidden-xs">Logged in as {{ user.get_username }}</span>
                </a>
              </li>
              <li>
                <a href="{% url 'auth:logout' %}" class="btn btn-danger btn-flat">Sign out</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li><a href="{% url 'spam:spam' %}"><i class='fa fa-link'></i> <span>OSF Spam</span></a></li>
            <li><a href="{% url 'pre-reg:prereg' %}"><i class='fa fa-link'></i> <span>OSF Pre-reg Prize</span></a></li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
          {% block content %}
          <h1>
           Welcome to the OSF Admin Home Page
          </h1>
          <!-- Your Page Content Here -->
          {% endblock %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="//www.osf.io">osf.io</a>.</strong> All rights reserved.
      </footer>

    </div><!-- ./wrapper -->

    <!-- Included JS -->
    {% render_bundle 'vendor' %}
    {% render_bundle 'admin-base-page' %}

    {% block bottom_js %}
    {% endblock %}

  </body>
</html>
