{% extends 'base.html' %}
{% load static %}

{% block top_includes %}
    <script>
        var keenProjectId = '{{ keen_project_id }}';
        var keenReadKey = '{{ keen_read_key }}';
    </script>

    {% block top_analytics %}
    {% endblock top_analytics %}

{% endblock top_includes %}

{% block title %}
    <title>OSF Sales Analytics</title>
{% endblock title %}


{% block content %}

    {% block topmenu %}
        <a href="{% url 'sales_analytics:dashboard' %}" class="btn btn-primary">
            Analytics Dashboard
        </a>
        <a href="{% url 'sales_analytics:user_session' %}" class="btn btn-primary">
            User Session
        </a>
        <a href="{% url 'sales_analytics:product_view' %}" class="btn btn-primary">
            Products View
        </a>
        <a href="{% url 'sales_analytics:product_usage' %}" class="btn btn-primary">
            Products Usage
        </a>
        <a href="{% url 'sales_analytics:debug_test' %}" class="btn btn-primary">
            Debug and Test
        </a>
    {% endblock topmenu %}

    {% block title_analytics %}

    {% endblock title_analytics %}

    {% block content_analytics %}

    {% endblock content_analytics %}

{% endblock content %}


{% block bottom_js %}
    <script src="{% static 'public/js/sales-analytics-utils.js' %}"></script>
{% endblock bottom_js %}