{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1> {% blocktrans with userfullname=user.get_full_name %}Hello {{ userfullname }}, {% endblocktrans %}</h1>
    <section class="content">
        {% if user.is_superuser %}
        <h3>{% trans "Welcome to the GakuNin RDM General Admin Home Page" %}</h3>
        {% else %}
        <h3>{% trans "Welcome to the GakuNin RDM Admin Home Page" %}</h3>
        {% endif %}
        <p>{% trans " Use the menu on the left to access admin pages. " %}</p>
        <div>
            {% if messages %}
            <ul class="login_page_messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}
