{% extends 'base.html' %}

{% block content %}
<h1> Hello {{ user.get_username }}, </h1>
    <section class="content">
        <h3>Welcome to the OSF Admin Home Page</h3>
        <p> Use the menu on the left to access admin pages. </p>
        <div>
            {% if messages %}
            <ul class="login_page_messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </section>
{% endblock %}
