{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}


{% block title %}
<title>OSFAdmin | Log in</title>
{% endblock %}

{% block top_includes %}
  {% render_bundle 'vendor' %}
{% endblock %}

{% block content %}
  <!-- hide navbar and sidebar -->
  {% block navbar %}
  {% endblock %}
  {% block sidebar %}
  {% endblock %}

  <div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <b>OSF</b>Admin</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %} <span class="text-danger"> {{ form.non_field_errors | striptags }} </span> {% endif %}
          <div class="form-group">
            <label for="username">Email:</label>
            <p>{{ form.email }}</p>
            {% if form.email.errors %}<span class="text-danger"> {{ form.email.errors }}</span>{% endif %}
          </div>
          <div class="form-group">
            <label for="username">Password:</label>
            <p>{{ form.password }}</p>
            {% if form.password.errors %}<span class="text-danger"> {{ form.password.errors }}</span>{% endif %}
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
          <div>
            {% if messages %} <!-- TODO: refactor message code to display proper class type -->
            <ul>
              {% for message in messages %}
              {% if message.level == 40 %}
                <li class="text-danger">
                {% else %}
                <li class="text-success">
                {% endif %}
                {{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </form>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- Bootstrap 3.3.2 JS -->
    {% render_bundle 'vendor' %}
    <!-- AdminLTE App -->
    {% render_bundle 'admin-base-page' %}
  </div>
{% endblock %}
