{% load i18n %}

{% trans "API Key" %}
{% trans "API Secret" %}
{% trans "Access Token" %}
{% trans "Access Token Secret" %}
{% trans "API URL" %}
{% trans "Email" %}
{% trans "None" %}
{% trans "title" %}
{% trans "text" %}
{% trans "Type@announcement" %}
{% trans "name" %}
{% trans "email" %}
{% trans "Last logged" %}
{% trans "Name" %}
{% trans "Description" %}
{% trans "Banner name" %}
{% trans "Logo name" %}
{% trans "Delegation protocol" %}
{% trans "Login url" %}
{% trans "Logout url" %}
{% trans "Domains" %}
{% trans "Email domains" %}
{% trans "File" %}
{% trans "CAS by pac4j" %}
{% trans "OAuth by pac4j" %}
{% trans "SAML by Shibboleth" %}
{% trans "No Delegation Protocol" %}
{% trans "Level" %}
{% trans "Alt text for accessibility" %}
{% trans "Start date" %}
{% trans "End date" %}
{% trans "License" %}
{% trans "Link" %}
{% trans "Default photo" %}
{% trans "Mobile photo" %}
{% trans "Default photo alt text" %}
{% trans "Mobile photo alt text" %}
{% trans "Select a file" %}
{% trans "node" %}
{% trans "project" %}
{% trans "addon" %}
{% trans "comment" %}