{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}
<div class="register-box">
    <div class="register-box-body">
        <h4>Add an OSF Admin user</h4>
        <div>
          {% if messages %}
            <ul class="login_page_messages">
              {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <form action="" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <ul>
            {% for error in form.non_field_errors %}
            <li class="errorclass">{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <div class="form-group">
                <label for="email">OSF ID:</label>
                <p>{{ form.osf_id }}</p>
                {% if form.osf_id.errors %}<span class="text-danger"> {{ form.osf_id.errors }}</span>{% endif %}
            </div>
            <div class="form-group">
                <h4><strong>Select Groups for Permissions</strong></h4>
                <p>Please select from the below options to choose which group of permissions this user will have. Hold down select to choose multiple groups.</p>
                <p><strong>metrics_only:</strong><br>User can only view metrics on the OSF Admin page</p>
                <p><strong>read_only</strong><br>User can view details of nodes, users, meetings, metrics, and spam, but cannot make changes</p>
                <p><strong>osf_admin</strong><br>User make changes to nodes, users, meetings, and mark spam</p>
                <p><strong>prereg_admin</strong><br>User can view, approve, and make changes to entries to the preregistration challenge</p>
                <p><strong>prereg_view</strong><br>User can view entries to the preregistration challenge, but not approve or make changes.</p>

                <p>{{ form.group_perms }}</p>
                {% if form.group_perms.errors %}<span class="text-danger"> {{ form.group_perms.errors }}</span>{% endif %}
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div><!-- /.col -->
            </div>
        </form>
    </div><!-- /.form-box -->
</div><!-- /.register-box -->
{% endblock %}
