{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your OSF Admin user account.{% endblocktrans %}

{% trans "Please go to this link to reset your password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your account email is:" %} {{ user.get_username }}

{% trans "Thank you." %}

{% blocktrans %}-OSF Admin{% endblocktrans %}

{% endautoescape %}
