<!-- Authorization -->
<div id='iqbrimsAddonScope' class="addon-settings scripted"
     data-addon-short-name="{{ addon.addon_short_name }}"
     data-addon-name="{{ addon.addon_full_name }}"
     data-institution-id="{{ institution.id }}">
    <h4 class="addon-title">
      <img class="addon-icon" src="{{ addon.addon_icon_url }}">
      <span data-bind="text:properName">{# addon.addon_full_name #}</span>
    </h4>
    <div>
        <h5>管理プロジェクト</h5>
        <div class="management-project" data-bind="if: managementProjectGUID">
            <a class="pull-right text-danger" data-bind="click: removeManagementProject">Remove</a>
            <p class="management-project-guid text-muted"><em data-bind="text: managementProjectGUID"></em></p>
        </div>
        <div class="management-project-form">
            <input type="url" class="form-control management-project-input" placeholder="Management project URL"
                   data-bind="textInput: managementProjectURL">
            <button class="btn btn-success pull-right management-project-save"
                    data-bind="click: saveManagementProject,
                               css: {disabled: !canSaveManagementProject()},
                               attr: {disabled: !canSaveManagementProject()}"
            >Save</button>
        </div>
        <!-- Flashed Messages -->
        <div class="help-block">
            <p data-bind="html: message, attr: { class: messageClass }"></p>
        </div>
    </div>
</div>
