{% load i18n %}
<!-- Authorization -->
<div id='iqbrimsAddonScope' class="addon-settings scripted"
     data-addon-short-name="{{ addon.addon_short_name }}"
     data-addon-name="{{ addon.addon_full_name }}"
     data-institution-id="{{ institution.id }}">
    <h4 class="addon-title">
      <img class="addon-icon" src="{{ addon.addon_icon_url }}">
      <span data-bind="text:properName">{# addon.addon_full_name #}</span>
    </h4>
    <div>
        <h5>{% trans "Management project" %}</h5>
        <div class="management-project" data-bind="if: managementProjectGUID">
            <a class="pull-right text-danger" data-bind="click: removeManagementProject">{% trans "Remove" %}</a>
            <p class="management-project-guid text-muted"><em data-bind="text: managementProjectGUID"></em></p>
        </div>
        <div class="management-project-form">
            <input type="url" class="form-control management-project-input" placeholder="{% trans 'Management Project URL' %}"
                   data-bind="textInput: managementProjectURL">
            <button class="btn btn-success pull-right management-project-save"
                    data-bind="click: saveManagementProject,
                               css: {disabled: !canSaveManagementProject()},
                               attr: {disabled: !canSaveManagementProject()}"
            >{% trans "Save" %}</button>
        </div>
        <h5>{% trans "Organizational project" %}</h5>
        <div class="organizational-project" data-bind="if: organizationalProjectGUID">
            <a class="pull-right text-danger" data-bind="click: removeOrganizationalProject">{% trans "Remove" %}</a>
            <p class="organizational-project-guid text-muted"><em data-bind="text: organizationalProjectGUID"></em></p>
        </div>
        <div class="organizational-project-form">
            <input type="url" class="form-control organizational-project-input" placeholder="{% trans 'Organizational Project URL' %}"
                   data-bind="textInput: organizationalProjectURL">
            <button class="btn btn-success pull-right organizational-project-save"
                    data-bind="click: saveOrganizationalProject,
                               css: {disabled: !canSaveOrganizationalProject()},
                               attr: {disabled: !canSaveOrganizationalProject()}"
            >{% trans "Save" %}</button>
        </div>
        <!-- Flashed Messages -->
        <div class="help-block">
            <p data-bind="html: message, attr: { class: messageClass }"></p>
        </div>
    </div>
</div>
