# MFR

ipython==2.1.0
pandas==0.14.1
xlrd==0.9.3
numpy==1.8.1
PyDocX==0.3.14
PyPDF2==1.22
# Until R builds reliably, leave this at the bottom of this file so that failure doesn't keep other packages from being installed
rpy2==2.4.2
