# MFR

ipython==2.1.0
pandas==0.14.1
#xlrd==0.9.3
# Development version of xlrd
git+https://github.com/icereval/xlrd.git
numpy==1.8.1
PyDocX==0.3.14
PyPDF2==1.22
docutils==0.12
# rpy2 is used for rendering SPSS files. Unfortunately, it does not build reliably on MacOSX and Ubuntu.
# Make it an optional dependency for now.
# rpy2==2.4.2
