<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>Opening Times</h3>
			
			<dl>
				<dt>Mon-Wed</dt>
				<dd>5pm - 11:30pm</dd>
				<dt>Thur</dt>
				<dd>12pm - 3pm / 5pm - 11.30pm</dd>
				<dt>Fri-Sat</dt>
				<dd>12pm - 12am</dd>
				<dt>Sun</dt>
				<dd>12pm - 10.30pm</dd>
			</dl>
    	</div>

		<div>
			<h3>Contact</h3>
			
			<p>Perfetta Cafe 128-192 Robert St, London, W0F 3ZP</p>

			<p class="footer-phone"><i class="icon-phone"></i> 555 92 89 22</p>
			<p class="footer-email"><i class="icon-email"></i> reservations@perfettacafe.com</p>
		</div>
    </div>

    <div id="social-icons">
	    <a class="icon-gplus" href="#">Google+</a>
	    <a class="icon-fb" href="#">Facebook</a>
	    <a class="icon-twitter" href="#">Twitter</a>
	    <a class="icon-pinterest" href="#">Pinterest</a>
	    <a class="icon-youtube" href="#">YouTube</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>