{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css"/>
{% endblock %}

{% block title %}
    <title>{% trans "Export Data List" %}</title>
{% endblock title %}

{% block content %}
    <h2><small style="color: red;">本画面内の機能はベータ版であり、不用な操作はお控え頂きたく存じます。操作される方は <a href="mailto:rdm_support@nii.ac.jp">rdm_support@nii.ac.jp</a> への連絡をお願い致します。</small></h2>
    <h2>{% trans "Export Data List" %}<br/><small>(for {{ institution.name }})</small></h2>

    <form method="get"
            {% if user.is_superuser %}
          action="{% url 'custom_storage_location:export_data:export_data_list_institution' institution.id %}"
            {% else %}
          action="{% url 'custom_storage_location:export_data:export_data_list' %}"
            {% endif %}
          class="form-horizontal" id="exportdata_form">
        <div class="form-group">
            <label class="col-sm-2 control-label text-left">{% trans "Export source storage" %}</label>
            <div class="col-sm-9">
                <select id="source-select"
                        class="form-control"
                        name="storage_name"
                        style="max-width: 320px;">
                    <option value=''>{% trans "All" %}</option>
                    {% for storage in source_name_list %}
                        {% if storage == selected_source_name %}
                            <option value="{{ storage }}" selected="selected">{{ storage }}</option>
                        {% else %}
                            <option value="{{ storage }}">{{ storage }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label text-left" style="">{% trans "Export data storage location" %}</label>
            <div class="col-sm-9" style="display: flex; gap: 10px;">
                <select id="location-select"
                        class="form-control"
                        name="location_id"
                        style="max-width: 320px; flex: auto">
                    {% for location in locations %}
                        <option value="{{ location.id }}"
                                {% if location.id == selected_location_id %} selected="selected" {% endif %}
                        >{{ location.name }} ({{ location.provider_full_name }})
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" id="formFilter">
            <div class="col-sm-12">
                <button type="submit" id="filter_export"
                        {% if not locations|length %} disabled {% endif %}
                        class="btn btn-primary"
                        style="min-width: 90px;">{% trans "Filter" %}</button>
                <button type="submit" class="btn btn-primary" id="revert_button_data"
                        {% if not locations|length %} disabled {% endif %}
                        style="min-width: 90px; margin-left:10px;">
                    {% trans "Recycle bin" %}</button>
            </div>
        </div>
    </form>

    {% include "rdm_custom_storage_location/pagination_export_data_list.html" with items=page status=status location_id=selected_location_id storage_name=selected_source_name %}

    <table class="table table-striped table-hover table-bordered table-responsive">
        <thead>
        <tr>
            <th width="20px">
                <input type="checkBox" id="check_delete_export_all" style="width: 15px; height: 15px;">
            </th>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Export source storage" %}</th>
            <th>{% trans "Export data storage location" %}</th>
            <th>{% trans "Process start" %}</th>
            <th>{% trans "Process end" %}</th>
            <th>{% trans "Number of projects" %}</th>
            <th>{% trans "Number of files" %}</th>
            <th>{% trans "Total file size" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list_export_data %}
            <tr class="">
                <td width="20px">
                    <input type="checkBox"
                           name="check_delete_export" id="{{ item.export_data.id }}"
                           title=""
                           style="width: 14px; height: 14px;">
                </td>
                <td class="">
                    <a href={% url 'custom_storage_location:export_data:export_data_information' item.export_data.id %}>{{ item.export_data.id }}</a>
                </td>
                <td class="text-overwrap">{{ item.source_name }}</td>
                <td class="text-overwrap">{{ item.location_name }}</td>
                <td class="">{{ item.export_data.process_start|date:'Y-m-d H:i:s' }}</td>
                <td class="">{{ item.export_data.process_end|date:'Y-m-d H:i:s' }}</td>
                <td class="">{{ item.export_data.project_number }}</td>
                <td class="">{{ item.export_data.file_number }}</td>
                <td class="">{{ item.export_data.total_size }} Bytes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not list_export_data|length %}
        <h3>{% trans "No results found" %}</h3>
    {% endif %}
    <button type="button" id="delete_button"
            class="btn btn-danger"
            disabled
            data-target="#deleteExport"
            data-toggle="modal">{% trans "Move to recycle bin" %}</button>

    <style type="text/css">
        .modal.middle {
            text-align: center;
            padding: 0 !important;
        }

        .modal.middle:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px; /* Adjusts for spacing */
        }

        .modal.middle .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        .text-overwrap {
            word-break: break-word;
        }
    </style>

    <div class="modal middle fade" id="showFileExportNotExistModal" tabindex="-1" aria-labelledby="showFileExportNotExistLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body text-left">
                    <h4 style="margin-bottom: 10px;">{% trans "File list does not exist on the storage" %}</h4>
                    <table class="table table-striped table-hover table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th style="text-align: center;">{% trans "Project ID" %}</th>
                            <th style="text-align: center;">{% trans "Project name" %}</th>
                            <th style="text-align: center;">{% trans "Owner" %}</th>
                            <th style="text-align: center;">{% trans "File ID" %}</th>
                            <th style="text-align: center;">{% trans "File path" %}</th>
                            <th style="text-align: center;">{% trans "File name" %}</th>
                            <th style="text-align: center;">{% trans "Version ID" %}</th>
                            <th style="text-align: center;">{% trans "Size" %}</th>
                            <th style="text-align: center;">{% trans "Stamper" %}</th>
                        </tr>
                        </thead>
                        <tbody class="list table-ng-file-export-not-exist">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" style="cursor: pointer; margin-right: 10px" class="download_file_export_not_exist">{% trans "Click to download" %}</a>
                    <button type="button" class="btn btn-secondary cancel_modal_show_file_export_not_exist"
                            data-dismiss="modal">{% trans "OK" %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal middle fade" id="deleteExport" tabindex="-1" aria-labelledby="deleteExportLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" action={% url 'custom_storage_location:export_data:export_data_delete' %}>
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-body text-left" id="bodydeleteExport">
                        <p>{% trans "Are you sure you want to move these export data to the recycle bin?" %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary cancel_modal"
                                data-dismiss="modal">{% trans "Cancel" %}</button>
                        <button type="submit" id="submitDeleteButton"
                                disabled
                                class="btn btn-danger">{% trans "Move to recycle bin" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type='text/javascript'>
        $(document).ready(() => {
            $('#check_delete_export_all').on('change', () => {
                let check = $('#check_delete_export_all').is(':checked');
                if (check) {
                    $('input[type=checkbox][name=check_delete_export]').prop('checked', true);
                } else {
                    $('input[type=checkbox][name=check_delete_export]').prop('checked', false);
                }
            });
            $('#delete_button').on('click', () => {
                let list_export_data = $('input[type=checkbox][name=check_delete_export]');
                let list_export_id = '';
                for (let i = 0; i < list_export_data.length; i++) {
                    if (list_export_data[i].checked) {
                        list_export_id += list_export_data[i].id + '#';
                    }
                }
                if (list_export_id.length > 0) {
                    $('#submitDeleteButton').removeAttr('disabled');
                }
                $('#bodydeleteExport').append(`<input type='hidden' value=${list_export_id} id='input_export_data' class='buckinput' name='list_id_export_data' />`);
                $('#bodydeleteExport').append(`<input type='hidden' value={{source_id}} id='source_id' class='buckinput' name='source_id' />`);
                $('#bodydeleteExport').append(`<input type='hidden' value={{institution.id}} id='institution_id' class='buckinput' name='institution_id' />`);
                $('#bodydeleteExport').append(`<input type='hidden' value={{selected_source_id}} id='selected_source_id' class='buckinput' name='selected_source_id' />`);
                $('#bodydeleteExport').append(`<input type='hidden' value={{selected_location_id}} id='selected_location_id' class='buckinput' name='selected_location_id' />`);
            });
            $('input[type=checkbox]').on('change', () => {
                let count_checked = $('input[type=checkbox][name=check_delete_export]:checked').length;
                if (count_checked > 0) {
                    $('#delete_button').prop('disabled', false);
                }
                else {
                    $('#delete_button').prop('disabled', true);
                }
            });
            $('input[type=checkbox][name=check_delete_export]').on('change', () => {
                let list_export_data = $('input[type=checkbox][name=check_delete_export]');
                let count_checked = $('input[type=checkbox][name=check_delete_export]:checked').length;
                if (count_checked !== list_export_data.length) {
                    $('#check_delete_export_all').prop('checked', false);
                } else {
                    $('#check_delete_export_all').prop('checked', true);
                }
            });
            $('.cancel_modal').on('click', () => {
                $('#input_export_data').remove();
                $('#source_id').remove();
            });
            $('#revert_button_data').on('click', () => {
                let selected_source = $('#source-select').val();
                let selected_location = $('#location-select').val();
                if (selected_source.length > 1 && selected_location.length > 1) {
                    $('#exportdata_form').attr('action', window.contextVars.export_data_deleted_list_url + `?storage_id=${selected_source}&location_id=${selected_location}`);
                } else {
                    $('#exportdata_form').attr('action', window.contextVars.export_data_deleted_list_url);
                }
            });
        });
    </script>
{% endblock content %}

{% block bottom_js %}
    {% render_bundle 'rdm-institutional-storage-page' %}
    <script>
        window.contextVars = $.extend(true, {}, window.contextVars, {
            'export_control': false,
            'restore_control': false,
            'institution_id': {{ institution.id }},
            'export_data_deleted_list_url':
                {% if user.is_superuser %}
                    "{% url 'custom_storage_location:export_data:export_data_deleted_list_institution' institution.id %}"
                {% else %}
                    "{% url 'custom_storage_location:export_data:export_data_deleted_list' %}"
                {% endif %},
        });
    </script>
{% endblock %}
