{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css"/>
{% endblock %}

{% block title %}
    <title>{% trans "List of the Institutional Storages" %}</title>
{% endblock title %}

{% block content %}
    <h2>{% trans "List of the Institutional Storages" %}<br/><small>(for {{ institution.name }})</small></h2>

    {% include "util/pagination.html" with items=page status=status %}
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th style="width: auto;">{% trans "ID" %}</th>
            <th style="width: 15%;">{% trans "Provider" %}</th>
            <th style="width: 15%;">{% trans "Name" %}</th>
            <th style="width: 25%;">{% trans "Export data storage location" %}</th>
            <th style="width: 20%;">{% trans "Export Data" %}</th>
            <th style="width: 20%;"></th>
        </tr>
        </thead>
        <tbody>
        {% if not storages|length %}
            <h3>{% trans "No results found" %}</h3>
        {% endif %}
        {% for storage in storages %}
            <tr id="row-storage-{{ storage.id }}">
                <td>{{ storage.id }}</td>
                <td>{{ storage.provider_full_name }}</td>
                <td>{{ storage.name }}</td>
                <td>
                    <select id="location-select-{{ storage.id }}"
                            class="form-control location-select"
                            title="" style="max-width: 320px;">
                        {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }} ({{ location.provider_full_name }})</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {% if locations|length %}
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button"
                                    data-storage="{{ storage.id }}"
                                    class="btn btn-primary export-button"
                                    style="min-width: 90px;">
                                {% trans "Export" %}
                            </button>
                            <button type="button"
                                    data-storage="{{ storage.id }}"
                                    class="btn btn-primary stop-export-button disabled"
                                    disabled
                                    style="min-width: 90px;">
                                {% trans "Stop exporting" %}
                            </button>
                        </div>
                    {% endif %}
                </td>
                <td>
                    <button type="button"
                            data-storage="{{ storage.id }}"
                            class="btn btn-primary {% if not storage.has_export_data %} hidden {% endif %}">
                        {% trans "View export data list" %}
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
{% endblock content %}

{% block bottom_js %}
    {% render_bundle 'rdm-institutional-storage-page' %}
    <script>
        window.contextVars = $.extend(true, {}, window.contextVars, {
            'institution_id': {{ institution.id }},
            'export_data_list_url': {% url 'custom_storage_location:export_data:export_data_list' %},
        });
    </script>
{% endblock %}
