{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block top_includes %}
    <link rel="stylesheet" type="text/css" href="/static/css/institutions.css"/>
{% endblock %}

{% block title %}
    <title>{% trans "List of the Institutional Storages" %}</title>
{% endblock title %}

{% block content %}
    <h2>{% trans "List of the Institutional Storages" %}<br/><small>(for {{ institution.name }})</small></h2>

    {% include "util/pagination.html" with items=page status=status %}
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th style="width: auto;">{% trans "ID" %}</th>
            <th style="width: 15%;">{% trans "Provider" %}</th>
            <th style="width: 15%;">{% trans "Name" %}</th>
            <th style="width: 25%;">{% trans "Export data storage location" %}</th>
            <th style="width: 20%;">{% trans "Export Data" %}</th>
            <th style="width: 20%;"></th>
        </tr>
        </thead>
        <tbody>
        {% if not storages|length %}
            <h3>{% trans "No results found" %}</h3>
        {% endif %}
        {% for storage in storages %}
            <tr>
                <td>{{ storage.id }}</td>
                <td>{{ storage.provider_full_name }}</td>
                <td>{{ storage.name }}</td>
                <td>
                    <select id="export-data-storage-{{ storage.id }}" class="form-control" title="" style="max-width: 320px;">
                        {% for location in locations %}
                            <option value="{{ location.id }}">{{ location.name }} ({{ location.provider_full_name }})</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {% if locations|length %}
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="export-button-{{ storage.id }}"
                                    type="button"
                                    class="btn btn-primary"
                                    style="min-width: 90px;"
                                    onclick="exportData(storage.id)">
                                {% trans "Export" %}
                            </button>
                            <button id="stop-export-button-{{ storage.id }}"
                                    type="button"
                                    class="btn btn-primary disabled"
                                    disabled
                                    style="min-width: 90px;">
                                {% trans "Stop exporting" %}
                            </button>
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if storage.has_export_data %}
                        <button type="button" class="btn btn-primary">{% trans "View export data list" %}</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
