<script id="project-detail-template" type="text/x-handlebars-template">
  <span class = "title">
      {{#if theItem.isFolder}}{{ theItem.name }}{{/if}}
      {{#unless theItem.isFolder}}<a href="{{ theItem.urls.fetch }}">{{ theItem.name }}</a>{{/unless}}
    </span>
    <span class= "contributors"><p>Contributor{{#if multipleContributors}}s{{/if}}: {{#commalist theItem.contributors}}<a href="{{ this.url }}">{{ this.name }}</a>{{/commalist}}</p></span>

    {{#if theItem.isFolder}}
    <div class = "organizeProjectControls">
        <div id = "buttons{{theItem.node_id}}">
        <div id="add_folder_{{theItem.node_id}}"><a class = "organizeBtn btn btn-default" href="/folder/new/{{theItem.node_id}}">Add a Folder</a></div>
         <div class = "organizeBtn btn btn-default" id="delete_folder_{{theItem.node_id}}">Remove Folder</div>
        <div class = "organizeBtn btn btn-default" id="add_item_{{theItem.node_id}}">Add a Link</div>
        </div>
        <div id="findNode{{theItem.node_id}}">
        <input class="typeahead" id="input{{theItem.node_id}}" type="text" placeholder="Project Name">
        <span class = "findBtn btn btn-default" id="add_link_{{theItem.node_id}}"" disabled="disabled">Add the Link</span>
        </div>
    </div>
    {{/if}}
    {{#unless theItem.isFolder}}
        {{#if theItem.parentIsFolder}}
            {{#unless parentIsSmartFolder}}
                <div class = "organizeProjectControls">
                    <div id = "buttons{{theItem.node_id}}">
                        <div id="remove_link_{{theItem.node_id}}"><a class = "organizeBtn btn btn-default" href="">Remove from folder</a></div>
                    </div>
                </div>
            {{/unless}}
        {{/if}}
    {{/unless}}
</script>
