# Allow for optional timeout parameter.
# https://github.com/IQSS/dataverse-client-python/pull/27
#-e git+https://github.com/IQSS/dataverse-client-python.git@b6aec5bc3fd1cc3199e3c97ac9c71705b54c3d11#egg=dataverse
-e git+https://github.com/CenterForOpenScience/dataverse-client-python.git@master#egg=dataverse
