<script type="text/html" id="registrationChoiceModal">
<ul data-bind="foreach: preRegisterPrompts">
  <li data-bind="html: $data"></li>
</ul>
<div class="form-group">
  <label class="control-label">Registration Choice</label>
  <select class="form-control" data-bind="options: registrationOptions,
                                          value: registrationChoice,
                                          optionsText: 'message',
                                          optionsValue: 'value'"></select>
  
</div>
<span data-bind="visible: showEmbargoDatePicker">
  <div class="form-group">
    <label class="control-label">
      Embargo End Date
    </label>
    <input type="text" class="form-control" data-bind="datePicker: {value: $root.pikaday, valid: $root.pikaday.isValid}">
  </div>
</span>
<em class="text-danger" data-bind="validationMessage: $root.pikaday"></em>
<div class="modal-footer">
  <button class="btn btn-default" data-bind="click: close">Cancel</button>
  <button class="btn btn-success" data-bind="click: register, enable: canRegister">
    Continue
  </button>
</div>
</script>
