{% load i18n %}
<div class="modal fade" id="googledriveinstitutions_modal" tabindex="-1" role="dialog" aria-labelledby="googledriveinstitutions_modal_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 id="googledriveinstitutions_modal_label">{% trans "Connect a Google Drive Account" %}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>
                            <b class='googledriveinstitutions-modal-message'>{% trans 'Please click "Get OAuth Permission" button to connectGoogle Drive.' %}</b>
                            <br />
                            <b class='googledriveinstitutions-modal-message'>{% trans "Then you will be redirected to Google authentication page." %}</b>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group text-center">
                            <a href="{% url 'oauth:connect'   'googledriveinstitutions' institution.id 'true'   %}"
                                class="btn btn-primary auth-permission-button" role="button"
                                id='googledriveinstitutions_auth_hyperlink' target="_blank">{% trans "Get OAuth permission" %}</a>
                        </div>
                        <div class="hidden googledriveinstitutions-auth-callback" id="googledriveinstitutions_authorization_div">
                            <label>
                                {% trans "Authorized by:" %}
                            </label>
                            <span id='googledriveinstitutions_authorized_by'></span>
                        </div>
                        <div class="hidden googledriveinstitutions-auth-callback" id="googledriveinstitutions_current_token_div">
                            <label>
                                {% trans "Current token:" %}
                            </label>
                            <span id='googledriveinstitutions_current_token' class='truncated'></span>
                        </div>
                        <div class="form-group">
                            <label for="googledriveinstitutions_folder">{% trans "Folder" %}</label>
                            <input type="text" class="form-control googledriveinstitutions-params" id="googledriveinstitutions_folder"
                                placeholder='{% trans "Folder ID (Ex: root)" %}'>
                        </div>
                        <div class="help-block">
                            <p id='googledriveinstitutions_message' class='text-danger'></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default auth-cancel" id="googledriveinstitutions_cancel" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-default" disabled>{% trans "Connect" %}</button>
                <button type="button" class="btn btn-success save-credentials" id="googledriveinstitutions_save" disabled>{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>
