<div class="modal fade" id="s3_modal" tabindex="-1" role="dialog" aria-labelledby="s3_modal_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="s3_modal_label">Connect an Amazon S3 Account</h3>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-3'>
                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label for="s3_access_key">S3 Compatible Service</label>
                            <select class="form-control s3-params" id="s3_compatible_service" required>
                                <option>IDCF Cloud</option>
                                <option>SAKURA Cloud</option>
                                <option>Wasabi</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="s3_access_key">Endpoint URL</label>
                            <input type="text" class="form-control s3-params" id="s3_endpoint_url" required>
                        </div>
                        <div class="form-group">
                            <label for="s3_access_key">Access Key</label>
                            <input type="text" class="form-control s3-params" id="s3_access_key" required>
                        </div>
                        <div class="form-group">
                            <label for="s3_secret_key">Secret Key</label>
                            <input type="password" class="form-control s3-params" id="s3_secret_key" required>
                        </div>
                        <div class="form-group">
                            <label for="s3_bucket">Bucket</label>
                            <input type="text" class="form-control s3-params" id="s3_bucket" required>
                        </div>
                        <div class="help-block">
                            <p id='s3_message' class='text-danger'></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success test-connection" id="s3_connect" disabled>Connect</button>
                <button type="button" class="btn btn-default save-credentials" id="s3_save" disabled>Save</button>
            </div>
        </div>
    </div>
</div>
