{% load i18n %}
<div class="modal fade" id="s3compat_modal" tabindex="-1" role="dialog" aria-labelledby="s3compat_modal_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="s3compat_modal_label">{% trans "Connect a S3 Compatible Storage Account" %}</h3>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <div class='col-sm-3'>
                    </div>
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <label for="s3compat_access_key">{% trans "Endpoint URL" %}</label>
                            <input type="text" class="form-control s3compat-params" id="s3compat_endpoint_url" required>
                        </div>
                        <div class="form-group">
                            <label for="s3compat_access_key">{% trans "Access Key" %}</label>
                            <input type="text" class="form-control s3compat-params" id="s3compat_access_key" required>
                        </div>
                        <div class="form-group">
                            <label for="s3compat_secret_key">{% trans "Secret Key" %}</label>
                            <input type="password" class="form-control s3compat-params" id="s3compat_secret_key" required>
                        </div>
                        <div class="form-group">
                            <label for="s3compat_bucket">{% trans "Bucket" %}</label>
                            <input type="text" class="form-control s3compat-params" id="s3compat_bucket" required>
                        </div>
                        <div class="form-group">
                            <label for="s3compat_server_side_encryption">{% trans "Server Side Encryption" %}</label><br>
                            <label for="s3compat_server_side_encryption" style="font-size: 15px; font-weight: normal; margin-left: 5px;">
                                <input type="checkbox" class="s3compat-params" id="s3compat_server_side_encryption" style="margin-right: 10px; transform: scale(1.2);" value="false" onchange="setValue()">
                                {% trans "Yes@institutional_storage" %}
                            </label>
                        </div>
                        <div class="help-block">
                            <p id='s3compat_message' class='text-danger'></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-success test-connection" id="s3compat_connect" disabled>{% trans "Connect" %}</button>
                <button type="button" class="btn btn-default save-credentials" id="s3compat_save" disabled>{% trans "Save" %}</button>
            </div>
        </div>
    </div>
</div>

<script>
    function setValue(value) {
        var element = document.getElementById("s3compat_server_side_encryption");
        element.value = element.checked;
    }
</script>
