<div class="modal fade" id="swift_modal" tabindex="-1" role="dialog" aria-labelledby="swift_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="swift_modal_label">Connect an OpenStack Swift Account</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="swift_keytone_versionSelect">Authentication(Keystone) Version</label>
                        <select class="form-control" id="swift_keytone_versionSelect">
                            <option value="v2" selected>v2</option>
                            <option value="v3">v3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="swift_authentication_url">Authentication URL</label>
                        <input type="text" class="form-control" id="swift_authentication_url">
                    </div>
                    <div class="form-group">
                        <label for="swift_tenant_name">Tenant name</label>
                        <input type="text" class="form-control" id="swift_tenant_name">
                    </div>
                    <div class="form-group">
                        <label for="swift_project_domain_name">Project Domain name</label>
                        <input type="text" class="form-control" id="swift_project_domain_name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="swift_username">Username</label>
                        <input type="text" class="form-control" id="swift_username">
                    </div>
                    <div class="form-group">
                        <label for="swift_user_domain_name">User Domain name</label>
                        <input type="text" class="form-control" id="swift_user_domain_name" disabled>
                    </div>
                    <div class="form-group">
                        <label for="swift_password">Password</label>
                        <input type="password" class="form-control" id="swift_password">
                    </div>
                    <div class="form-group">
                        <label for="swift_folder">Folder</label>
                        <input type="text" class="form-control" id="swift_folder"
                            placeholder="institutional/OSF Storage">
                    </div>
                    <div class="form-group">
                        <label for="swift_container">Container</label>
                        <input type="text" class="form-control" id="swift_container" placeholder="my_container">
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" id="swift_connect">Connect</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
