.figshare_article_link_active{
    color: black;
}
.figshare-confirm-selection {
    padding-top: 10px;
}
.figshare-confirm-dlg {
    display: inline-block;
}
.figshare-folder-picker {
    margin-top: 10px;
}

.selected-folder {
    margin: 12px;
    font-size: 1.3em;
}

.figshare-loading-text {
    padding-top: 20px;
}
