{% extends 'base_analytics.html' %}
{% load static %}

{% block title_analytics %}
    <h1>Debug and Test</h1>
{% endblock title_analytics %}

{% block content_analytics %}
    <h3>Average User Session Length of Previous 7 days</h3>
    <div id='keen-chart-average-session-user'>...</div>
    <h3>Average MAU Session Length of Previous 7 days</h3>
    <div id='keen-chart-average-session-mau'>...</div>
    <h3>Average User/MAU Session Length History of past 12 weeks</h3>
    <div id='keen-chart-average-session-history'>...</div>
    <h3>OSF Products Users View in the Past Month</h3>
    <div id='keen-chart-osf-product-usage-mt2'>...</div>
    <div id='keen-chart-osf-product-usage-mee'>...</div>
    <div id='keen-chart-osf-product-usage-pre'>...</div>
    <div id='keen-chart-osf-product-usage-ins'>...</div>
{% endblock content_analytics %}

{% block bottom_js %}
    <script src="{% static 'public/js/sales-analytics-keen.js' %}"></script>
{% endblock bottom_js %}
