boto
celery
invoke
stevedore
-e git+https://github.com/centerforopenscience/waterbutler-core.git#egg=waterbutler-core
-e git+https://github.com/centerforopenscience/waterbutler-cloudfiles.git#egg=waterbutler-cloudfiles
