## TODO: Is this used anywhere?
<div id="meta-data-container">

    <div data-bind="with:currentPage">
        <div data-bind="template:{name:'section', data:$data}"></div>
    </div>

    <!-- Pagination -->
    <div data-bind="if:npages > 1">
        <hr />
        <div class="form-group">
            <div class="controls">
                <button class="btn btn-default" data-bind="click:previous, disable:isFirst">Previous</button>
                <span class="progress-meter" style="padding: 0px 10px 0px 10px;">
                    Page <span data-bind="text:currentIndex() + 1"></span>
                    of <span data-bind="text:npages"></span>
                </span>
                <button class="btn btn-default" data-bind="click:next, disable:isLast">Next</button>
            </div>
        </div>
    </div>

</div>
