<!-- Section template -->
<script id="section" type="text/html">
    <h2 data-bind="visible:title, text:title"></h2>
    <div data-bind="foreach:contents, attr:{id:uidFmt}">
        <div class="metadata-content" data-bind="css:{'repeat-section':$data.repeatSection, 'repeat-subsection':$parent.repeatSection}">
            <div data-bind="template:{name:$root.getTemplate($data), if:$data.visible()}"></div>
            <div data-bind="if:$root.canRemove($data)">
                <a class="btn btn-danger" data-bind="click:$data.removeRepeat">Remove</a>
            </div>
        </div>
    </div>
    <div data-bind="if:$root.canAdd($data)">
        <a class="btn btn-success" data-bind="click:function(){addRepeat(null, true)}">Add</a>
    </div>
</script>

<!-- Item container template -->
<script id="item" type="text/html">
    <div data-bind="if:type=='htmlfield'">
        <div data-bind="item:$data"></div>
    </div>
    <div data-bind="ifnot:type=='htmlfield'">
        <div class="form-group" data-bind="attr:{id:uidFmt}, visible:type!='hiddenfield'">
            <label class="control-label" data-bind="css:{required:required}">
                <span data-bind="if:required">* </span>
                <span data-bind="text:label, attr:{for:id}"></span>
            </label>
            <div class="controls">
                <span class="help-block" data-bind="text:helpText"></span>
                <div data-bind='item:$data, attr:{id:id}'></div>
                <div data-bind="text:validateText"></div>
            </div>
        </div>
    </div>
</script>

<!-- Item templates -->
<script id="hiddenfield" type="text/html">
    <input type="hidden" class="form-control" data-bind="value:value, attr:{name:id, id:id}" />
</script>
<script id="textfield" type="text/html">
    <input type="text" class="form-control" data-bind="value:value, valueUpdate:'onblur', attr:{name:id, id:id, required:required || null}, disable:disable || $root.disable" />
</script>
<script id="textarea" type="text/html">
    <textarea class="form-control" data-bind="value:value, valueUpdate:'onblur', attr:{name:id, id:id}, disable:disable || $root.disable"></textarea>
</script>
<script id="select" type="text/html">
    <select class="form-control" data-bind="options: options, value:value, attr:{name:id, id:id, multiple:multiple}, optionsCaption:caption, disable:disable || $root.disable"></select>
</script>
<script id="radio" type="text/html">
    <div data-bind="foreach:options">
        <div>
            <input type="radio" data-bind="value:$data, checked:$parent.value, disable:$parent.disable || $root.disable" />
            <span data-bind="text:$data"></span>
        </div>
    </div>
</script>
<script id="checkbox" type="text/html">
    <div data-bind="foreach:options">
        <div>
            <input type="checkbox" class="form-control" data-bind="value:$data, checked:$parent.value, disable:$parent.disable || $parent.$root.disable" />
            <span data-bind="text:$data"></span>
        </div>
    </div>
</script>
<script id="file" type="text/html">
    <select class="form-control" data-bind="value:node, options:nodes, optionsCaption:caption, disable:disable || $root.disable"></select>
    <select class="form-control" data-bind="visible:files, value:value, options:files, optionsCaption:caption, disable:disable || $root.disable"></select>
</script>

<!--  -->
<script id="htmlfield" type="text/html">
    <div data-bind="html:content"></div>
</script>